[2017-05-21 02:17] jrbenny35 commented on #748
This doesnt look like a geckodriver problem. Are you sure the xvfb display is starting?

[2017-05-21 05:51] codekaizer commented on #748
Hi @jrbenny35,

Thank you for your response.

Here's what I've got.

Check if Xvfb is running:
[code]

Check if X99 socket is listening to a port
[code]

[2017-05-21 06:05] codekaizer commented on #748
I've also tried: `xvfb-run -a python crawler.py` and `DISPLAY=:99 python crawler.py`

Both are successful if ran from the command line.
However, if script is triggered from the browser via PHP's `shell_exec(cmd)`, that's the time it's showing the error.

[2017-05-21 15:56] hennayakaCM opened #749 "org.openqa.selenium.SessionNotCreatedException: Unable to create new remote session..."
Getting started with selenium-webdriver with maven using below versions.
### Selenium `3.3.1`
### Junit `4.12`
### Gecko `0.16.1`

Here is the code I made;

`
                    import org.openqa.selenium.WebDriver;
		    import org.openqa.selenium.firefox.FirefoxDriver;

		public class Base {

			public WebDriver driver = null;
			public WebDriver getDriver() {
				System.setProperty("webdriver.

[2017-05-21 17:28] gritsulyak commented on #723
I have the same problem. Any advise on configuration, that should be used for testing with firefox? The same code with chrome works well.

[2017-05-22 02:17] stestqa commented on #510
Hi Andreas, I realise that you don't want people gating on geckodriver version, but it's still useful information to have in test logs. If a test passed on one machine but failed on another (or on different days/months etc), comparing geckodriver versions would help with troubleshooting.

If geckodriver is running locally then extracting the version from 'geckodriver --version' would suffice, but

[2017-05-22 02:56] heyrex commented on #322
@AlphaTangoFoxtrot This is exactly the problem I am seeing too.

@andreastt can you elaborate on what your requirements for reproducibility and repeatability are?

This bug only manifests randomly for me. I've tried running a suite of tests on 5 identical cloned virtual machines and each one exhibited symptoms at different points in the suite or not at all. The only apparent correlation I could fi

[2017-05-22 09:13] AutomatedTester commented on #749
Please upgrade to Selenium Java bindings 3.4+ and try again.

[2017-05-22 09:13] #749 closed

[2017-05-22 09:16] AutomatedTester commented on #748
I suggest asking in the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users) on how to solve this issue. This is not a GeckoDriver. You need to make sure that you are telling the command to run Selenium that you want to use a different display.

[2017-05-22 09:16] #748 closed

[2017-05-22 09:19] AutomatedTester commented on #732
@raviautomation09 Are you calling close and then quit? Its near impossible to solve this issue when you are only giving snippets of the log. We can't see what is happening around which could solve this problem.

Please give a full snippet, from session create to **after** the errors have happened. If we do not get the full log unfortunately we will need to close this issue as `won't fix`.

[2017-05-22 10:45] whimboo commented on #693
We uplifted it to beta. So the next Beta release will contain this feature.

[2017-05-22 13:57] AutomatedTester commented on #710
@MissNixxi Have you got a static HTML document where we can see this issue as asked for in the last comment?

[2017-05-22 18:04] schmidtkp commented on #669
@andreastt Here are some trace-level logs:

1495475878949	geckodriver	INFO	Listening on 127.0.0.1:10091
1495475879203	geckodriver::marionette	INFO	Starting browser /Applications/Firefox.app/Contents/MacOS/firefox-bin with args ["-marionette"]
1495475879208	geckodriver::marionette	TRACE	  connection attempt 0/600
1495475879313	geckodriver::marionette	TRACE	  connection attempt 1/600
1495475879417	g

[2017-05-22 18:26] jugglinmike opened #750 "Incorrect error when unexpected alert open"
- Platform: GNU/Linux (Ubuntu 16.04)
- Firefox version: 53.0.2 (64-bit)
- GeckoDriver version: 0.16.1
- Selenium Python bindings version: 3.4.2

Given the following code, I would expect the final command to fail with an
error of type "unexpected alert open". Instead, the server responds with an
"unknown error" whose message states, "Failed to find value field".

Demo script:

[code]

GeckoDriver l

[2017-05-22 22:14] andreastt commented on #510
@stestqa There’s no standard way of returning the _driver_ version number. In theory, the implementation of WebDriver should be a technicality; it just happens that most vendors implement WebDriver as a two-component solution: one piece which provides the HTTPD (geckodriver/chromedriver/safaridriver) and one that sits inside the browser (Marionette/remote protocol).

My argument earlier was that a

[2017-05-23 04:42] naveenmehra commented on #745
HI,

below are the logs but i couldn't find much, Still getting the java.net.SocketException inconstantly ,

------------------------
1495514078495	Marionette	TRACE	conn0 -> [0,693,"executeScript",{"args":[{"element-6066-11e4-a52e-4f735466cecf":"435d5f33-40fe-41f0-9847-0b7b2bfa32f8"}],"newSandbox":false,"script":"return (function(){return function(){var aa=\"function\"==typeof Object.definePropert

[2017-05-23 06:48] pichai-t commented on #659
Thank you everyone (especially  @andreastt and @danosoft77)

This page helped me a lot.  My configurations as below.
  - Win7 (64 bit)
  - C# (with SpecFlow)
  ------------------------
  - Selenium 3.4.0 (.Net 4.0)
  - FireFox 53.0.3 (released 19 May 17)
  - geckodriver (v0.16.1-win64)
   ------------------------

[2017-05-23 08:28] omar62 opened #751 "build() command fails on latest versions of selenium/geckudriver/ff53"
Hello,

I'm fairly new to this selenium/webdriver thing. I have this script that used to work fine under firefox 52 and earlier:

[code]

One morning firefox autoupdated and poof!, all broken down. I updated everything, and now this is what I get:

[code]

That  _(C:\web\_scripts\utils\checkHotmail.js:13:6)_ is where the _.build(_) command sits.

I'm using the very last latest uptatedest version o

[2017-05-23 09:22] AutomatedTester commented on #751
This is a Selenium issue. Please raise a bug there. They either need to fix the JS bindings or release new ones if already fixed.

[2017-05-23 09:22] #751 closed

[2017-05-23 09:25] AutomatedTester commented on #745
@naveenmehra are you speaking to Selenium Grid or are you doing this connected from java bindings to GeckoDriver?

[2017-05-23 10:33] naveenmehra commented on #745
No not grid , its  from Java Bindings.

[2017-05-23 12:34] tina492 opened #752 "Can´t invoke and load Firefox browser with Webdriver properly"
In order to help us efficiently investigate your issue, please provide the following information:

Firefox 53.0.3 (64-bit)

OSX Yosemite, Version 10.10.5

I'm doing a Selenium Webdriver online course and the first thing to do is invoke the browser. As I'm using Firefox I downloaded Geckodriver and attached the path in my java class. I've seen more people had the same issue but I don't know how to

[2017-05-23 12:51] AutomatedTester commented on #752
@tina492 is the browser starting up. What you have shown so far is nothing worth worrying about.

[2017-05-23 13:00] tina492 commented on #752
@AutomatedTester Alright, so what should I do in order to open the browser? I read that if I use Firefox v 52.0 rather than v53 will fix the issue. So I installed it and I get the same issue...

[2017-05-23 13:16] AutomatedTester commented on #752
@tina492 the browser opening with a blank page is exactly what your code is telling it to do.

If you add in `driver.get("https://www.mozilla.org")` after instantiating the FirefoxDriver it will navigate to https://www.mozilla.org.

You can also send questions to the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users) where there is an awesome army of people willing to ta

[2017-05-23 13:16] #752 closed

[2017-05-23 14:18] andreastt commented on #745
Looking at the log, I don’t have any good guesses what might cause this.

geckodriver currently provides non-persistent HTTP connections, meaning the HTTP client used by Java must initiate new connections for each command. But this is an implementation detail, and certainly shouldn’t cause a `java.net.SocketException` to be thrown.

[2017-05-23 15:03] wfloutier commented on #669
@asolntsev can you repoen this please.

[2017-05-23 19:34] Shikss commented on #723
I am facing issue in launching ff browser in
Window 7(32-bit). eclipse mars, ff version53.0, selenium 3.4.0. Below is my code
import org.openqa.selenium.firefox.FirefoxDriver;
import org.openqa.selenium.firefox.FirefoxOptions;

public class FirstLaunch {

	public static void main(String[] args) {
		System.setProperty("webdriver.gecko.driver","D:\\Eclipse\\geckodriver.exe");

		FirefoxOptions optio

[2017-05-23 19:46] WonderWoman01 commented on #322
Was a new ticket create for this issue, seems I'm also having the same problem?

[2017-05-23 21:19] asolntsev commented on #669
@wfloutier I cannot re-open the issue that was closed by a repo collaborator.
@andreastt Please re-open the issue. We got the trace-level logs.

[2017-05-24 07:18] whimboo commented on #727
This happens because the first entry of the autocomplete box seems to get clicked. When I do this manually I can clearly see that this mentioned support page gets opened. So if you select an entry from the autocomplete list make sure it's the correct one.

[2017-05-24 07:21] whimboo commented on #702
Please note that for the addon manager related issue there is https://bugzilla.mozilla.org/show_bug.cgi?id=1364385. But that topic is not related to the one from the reporter.

[2017-05-24 07:49] whimboo commented on #729
I don't think that this is related to a remoteness change. Keep in mind that the above code simply reloads the same page. So under such a condition we do not see a reload of the listener.

The time we spent in retrieving the elements increases linear, as it can be seen here:

** iteration 0 with 1371 elements: 1.21816301346s
** iteration 1 with 1371 elements: 3.68121099472s
** iteration 2 with 137

[2017-05-24 07:56] whimboo commented on #732
Do you run `driver.quit()` after `driver.close()`? If yes this will not work given that the `close()` command already closed the last window of Firefox, and as such the application already shutdown. So calling `quit()` afterward doesn't make sense.

Also I can see the following in the log for `quit()`: `GET /shutdown did not match a known command`. Is this a problem with your binding? It's not cle

[2017-05-24 08:00] whimboo commented on #733
Btw a bug got filed for this issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1364385

Please note that we might have general issues with Marionette/Geckodriver on Windows those days.

[2017-05-24 08:10] whimboo commented on #592
@nkinkade, can you please try again with the latest Selenium version for your bindings? It should be something along 3.4.x. Does that change something? The reason why it works before Firefox 50 is that it was using the old FirefoxDriver and not Marionette. But maybe a change in Firefox also made it happen.

As it looks like in the logs Firefox hangs and the message channels for the content process

[2017-05-24 08:39] MDTsai commented on #733
Thanks @whimboo, I also file this issue on bugzilla. Please let me know if I can help on debug or clarify anything.

[2017-05-24 12:37] AutomatedTester commented on #750
@jugglinmike I tried to recreate this with Nightly and I get

[code]

[2017-05-24 12:40] AutomatedTester commented on #750
I have tried it with 53.0.2 and get

[code]

[2017-05-24 12:42] AutomatedTester commented on #750
The lack of error with checking for title is because we didnt do prompt checks .

@jugglinmike since we can't reproduce, could you see if there is any missing information for us to look into this further.

[2017-05-24 13:36] andreastt commented on #723
Locking this bug. As I said earlier: this error has nothing to do with WebDriver and you can safely ignore it.

[2017-05-24 13:48] andreastt commented on #750
@jugglinmike Can you run this with `-vv`/`--log trace`? I suspect the issue here is that Marionette sends the wrong data format and that geckodriver is unable to deserialise it.

Also, would you mind testing with Nightly? As @AutomatedTester pointed out, the `assert.noUserPrompt` statements were added fairly recently, so they might not be in Firefox 53.

[2017-05-24 14:23] mjzffr commented on #645
I'll work on this in https://bugzilla.mozilla.org/show_bug.cgi?id=1367430

[2017-05-24 14:24] mjzffr commented on #645
(Likely the issue is in Marionette's event.js)

[2017-05-24 14:48] nitimagulati commented on #747
Thanks Andreas for responding, I tried it on firefox beta version. It is working fine.
I expect this will get fix with latest release version 54.
Thanks

[2017-05-24 14:49] jugglinmike commented on #750
Sure. Here's the log: https://gist.github.com/jugglinmike/e2e2ab580ccdcf3aaf7e6c1b52b2b70e

Running with 55.0a1 (2017-05-23) (64-bit), I receive the expected error:

    Traceback (most recent call last):
      File "wd-unexpected-alert.py", line 10, in <module>
        print browser.title()
      File "/home/mike/.virtualenvs/wpt/local/lib/python2.7/site-packages/selenium/webdriver/remote/webdriv

[2017-05-24 14:58] andreastt commented on #732
We should probably not return a 500 Internal Server Error when `driver.quit()` is called after a `driver.close()` implicitly ends the session.

The specification’s definition of the [Delete Session](https://w3c.github.io/webdriver/webdriver-spec.html#dfn-delete-session) command is:

1. Try to close the session.
2. Return success with data null.

You could interpret this the way geckodriver current

[2017-05-24 15:56] AutomatedTester commented on #750
Going to close it and it will follow the trains. The patch that "fixed" this is a little hairy to uplift so we are not going to do this atm

[2017-05-24 15:56] #750 closed

[2017-05-24 16:03] andreastt commented on #750
My suspicion was confirmed:

[code]

Marionette sends back an empty JSON Object, `{}`, which geckodriver tries to get the `value` field from.

I’m not quite sure how `GeckoDriver#getTitle` is able to return that from https://searchfox.org/mozilla-central/rev/2933592c4a01b634ab53315ce2d0e43fccb82181/testing/marionette/driver.js#1040-1053, but it looks like the problem goes away if we check for a us

[2017-05-24 16:31] #747 closed

[2017-05-24 17:21] andreastt commented on #729
The implementation of Marionette’s known web element store, found in https://searchfox.org/mozilla-central/rev/2933592c4a01b634ab53315ce2d0e43fccb82181/testing/marionette/element.js#61-194, has pretty obvious performance problems. It was written to be correct, and not to be performant.

We want to investigate why we are not clearing the known element store when the browser navigates to a new docum

[2017-05-25 08:08] iamau32 opened #753 "can not load the extension in Windows but it works in OSX"
## Firefox Version
53.0.3
## Platform
Windows7
geckodriver v0.16.1
selenium-webdriver 3.4.0
java
## Steps to reproduce -
the extension file:
[modify_headers.xpi.zip](https://github.com/mozilla/geckodriver/files/1028322/modify_headers.xpi.zip)
the code:

[code]
the log:
[code]
**The extension doesn't be installed, but it works in OSX.**

[2017-05-25 08:27] Moshik177 opened #754 "java.lang.IllegalAccessError: tried to access class org.openqa.selenium.os.ExecutableFinder from class org.openqa.selenium.firefox.FirefoxBinary"
In order to help us efficiently investigate your issue, please provide the following information:
## Firefox Version
53.0.3

## Platform
Windows

## Steps to reproduce -
i am using the latest selenium version 3.4.0 , latest firefox version and the latest firefox driver 0.16.1 try to use 64bit or 32bit and i am getting the error  java.lang.IllegalAccessError: tried to access class org.openqa.seleni

[2017-05-25 08:36] Moshik177 commented on #754
System.setProperty("webdriver.gecko.driver","C:\\geckodriver.exe");  :)

[2017-05-25 10:41] wfloutier commented on #431
I can confirm that I am also seeing this issue using Firefox 53.0.3 (64 bit), Selenium 3.4.0 (Java), Geckdriver 0.16 and on Mac OSX

Steps to reproduce

((JavascriptExecutor) driver).executeScript("alert('Test')");

Log
[code]

[2017-05-25 12:39] sky-joaonabais opened #755 "Video does not start with geckodriver"
I'm working with automated tests and I'm trying to set up selenium grid for running tests in multiple environments.

I've successfully ran tests with chrome driver in Mac OS X 10.11 and Windows10.

Right now when I try to run a test feature, in a page with a video element, and the following message prompts on firefox (geckodriver):

I'm running selenium standalone both on the Hub(Mac OS X) and Nod

[2017-05-25 14:42] andreastt commented on #755
I think this indicates that the video is using DRM and that it needs to download the proprietary EME binary blob. Usually you have to allow Firefox to do this in about:preferences, but maybe you have that switched on.

We do explicitly disable plugins such as Flash from running with geckodriver due to issues with process crashes on Windows: https://github.com/mozilla/geckodriver/blob/master/src/pr

[2017-05-25 14:48] andreastt commented on #753
With Firefox 48 addons need to be signed to be installed in Firefox. This means any addon that is installed to a profile through `profile.addExtension` needs to have been signed by AMO.

I would check that you’re able to install the addon manually on both platforms. If that still fails, you know why.

[2017-05-25 14:49] sky-joaonabais commented on #755
is displayed because I'm trying to access a page with a <video> element using DRM, more precisely Widevine and I need the **Widevine Content Decryption Module** addon.

I am not trying to access a page with flash.

Example of video with widevine:
http://amp.azure.net/libs/amp/latest/samples/videotag_multiDRM_PlayReadyWidevineFairPlay_notoken.html

[2017-05-25 15:33] andreastt commented on #431
@wfloutier I have a suspicion that error is fixed in a more recent Firefox version. Why did you not run it with Firefox Nightly before reporting it? Firefox 53 is fairly old.

[2017-05-25 15:36] andreastt commented on #754
This seems like a Selenium issue judging by the stacktrace. Please report your bug there.

[2017-05-25 15:36] #754 closed

[2017-05-25 15:51] AutomatedTester commented on #755
Having spoken to the media team about this there is nothing that we can do unfortunately. The best course of action is to create a [Firefox profile](https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles). Navigate to the site, or any other site that would initiate the DRM download and wait for it to finish.

Selenium allows you to then pass through profiles which

[2017-05-25 15:51] #755 closed

[2017-05-25 15:55] AutomatedTester commented on #322
@AlphaTangoFoxtrot I have done a quick investigation and can recreate the issue. I think I know what could be the cause. I will do more investigating and document it here

[2017-05-25 16:17] wfloutier commented on #431
@andreastt You're right, I should have checked first. I have now so and I'm still seeing the issue with the latest Firefox nightly build. Worth mentioning incase others thought the issue was fixed.

[code]

[2017-05-25 16:20] florentbr commented on #729
I tested a warper based on `WeakMap` and `Map` with a script injection to see what kind of performance could be expected. The time to get 1371 elements dropped from around **3 seconds** to **70 milliseconds**:

[code]

[2017-05-25 16:49] andreastt commented on #729
@florentbr That is great work! I didn’t expect you to go ahead and prototype a fix yourself.

If you would like, and you have the time and energy, you’re more than welcome to attempt a rewrite of Marionette’s known web element store. I’d be happy to mentor.

[2017-05-25 19:27] JoshuaBurns opened #756 "Closing a pop up window causing geckodriver to throw WebDriverException"
In order to help us efficiently investigate your issue, please provide the following information:

## Firefox Version
Firefox Nightly 55.0a1

## Platform
Windows 7 professional
## Steps to reproduce -
The issue happens when I close a pop up window the test fails with a `The HTTP request to the remote WebDriver server for URL http://localhost:4444/session/94fc3bec-4895-484e-89b8-8c3a30bf3c24/elemen

[2017-05-25 22:11] andreastt commented on #431
@wfloutier Can you include a trace-level log for your run?

[2017-05-26 00:19] nkinkade commented on #592
@whimboo, thanks for the reply. I'm on paternity leave from work for the next 6 weeks, and am trying hard to stay away from work things (which the origin of this ticket was). Any problem for this issue to sit open and idle for the next 6 to 7 weeks... until I come return to work?

[2017-05-26 02:15] iamau32 commented on #753
I can not install the addon in geckodriver,the addon is:

`https://addons.mozilla.org/en-US/firefox/addon/modify-headers/`

Click the 'Add to Firefox' button The geckodriver will log:

`JavaScript error: resource://gre/modules/AddonManager.jsm, line 2038: NS_ERROR_NOT_INITIALIZED: AddonManager is not initialized`

Is it normal? But everything is ok in OSX

[2017-05-26 05:52] bluejamesbond commented on #726
@gouessej @jgraham I am Debian Jessie with Firefox 52 which still produces the same issue for me.

[2017-05-26 06:53] KieronAllsop commented on #739
Identical issue with
Firefox 53
Windows 10
Selenium 3.41 or 3.42
Selenium Standalone Server 3.4.0
Robot Framework Selenium2Library

[2017-05-26 08:44] AutomatedTester commented on #713
Well, I found out that it is half right/wrong. While the connection remains opened, the driver always returns the header "Connection: close" to instruct the client to cease sending requests on that connection.

Actually... None of the Drivers (InternetExplorerDriver, ChromeDriver or GeckoDriver) handle HTTP/1.1. I have started playing with switching on keep-alive. The unfortunate thing is the unex

[2017-05-26 08:45] AutomatedTester commented on #713
I do get the argument for trying to prevent problem of running out of ephemeral ports, especially on Windows.

[2017-05-26 09:35] sky-joaonabais commented on #755
@AutomatedTester I did just that, can you take a look to the original message and tell me what I might be doing wrong?

Thanks.

[2017-05-26 09:41] AutomatedTester commented on #755
@sky-joaonabais where is your code for passing in the profile? I only see your node configuration which won't make any difference for firefox profiles.

Please feel free to send questions to the [selenium user group](https://groups.google.com/forum/#!forum/selenium-users)

[2017-05-26 11:17] whimboo commented on #592
No, it's all fine. Enjoy your time off, and we can care about this issue when you are back.

[2017-05-26 12:11] denslinsunitha commented on #419
we are using Firefox 53 and selenium 3.3.1 with geckodriver 0.15
In Mac when i run my code the firefox browser is getting launched but after that i am getting below error:
2017-05-26 11:08:36.716 plugin-container[2615:38932] *** CFMessagePort: bootstrap_register(): failed 1100 (0x44c) 'Permission denied', port = 0x8d3f, name = 'com.apple.tsm.portname'
See /usr/include/servers/bootstrap_defs.h for

[2017-05-26 14:50] andreastt commented on #419
@denslinsunitha You’re using old versions of Firefox, Selenium, _and_ geckodriver. I suggest you upgrade all of them to the latest.

The errors you are seeing are also not something to worry about.

[2017-05-26 14:57] andreastt commented on #739
We explicitly disable distro addons from being enabled in https://searchfox.org/mozilla-central/source/testing/geckodriver/src/prefs.rs#146. I suggest passing in `{"extensions.installDistroAddons": true}` as part of the `prefs` JSON Object in `moz:firefoxOptions` to solve this.

[2017-05-26 14:57] #739 closed

[2017-05-26 15:04] andreastt commented on #753
Just to be clear, you _don’t_ see this line in the log on macOS?

[2017-05-26 15:10] andreastt commented on #756
Are you able to come up with a more minimised test case? I don’t have the time right now to dig through log files with thousands of lines.

[2017-05-26 15:12] iamau32 commented on #753
Yes, on macOS it works fine.

在 2017年5月26日，下午11:04，Andreas Tolfsen <notifications@github.com<mailto:notifications@github.com>> 写道：

JavaScript error: resource://gre/modules/AddonManager.jsm, line 2038: NS_ERROR_NOT_INITIALIZED: AddonManager is not initialized

Is it normal? But everything is ok in OSX

Just to be clear, you don’t see this line in the log on macOS?

—
You are receiving this because

[2017-05-26 16:48] andreastt commented on #753
That’s not really what I asked. Do you see the log entry on macOS?

[2017-05-26 17:44] florentbr commented on #729
@andreastt, Thanks, I'll give it a try.

From what I've seen from the code in marionette, it's way more complicated than just using a WeakMap/Map since the cache of elements is stored at a session level and because it probably needs to deal with XPC wraped elements.

I've tried some changes by extracting the code from omni.ja and by zipping it again.
Is there a better way to make some experiments

[2017-05-26 17:54] andreastt commented on #729
I recommend checking out mozilla-central (either with hg or [git](https://sny.no/2016/03/geckogit)). You can install the necessary dependencies to get started using `./mach bootstrap`. After than you can build with `./mach build` (rebuilds not necessary when working on Marionette).

The Marionette source code lives in testing/marionette, and the file you’re interested in is testing/marionette/elem

[2017-05-26 18:24] kowshikgowtham commented on #684
error occured while running the eclipse ? how to  recover it?

1495822169356	geckodriver	INFO	Listening on 127.0.0.1:45334
1495822170133	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"]
1495822170453	addons.manager	ERROR	startup failed: [Exception... "Component returned failure code: 0x80070057 (NS_ERROR_ILLEGAL_VALUE) [

[2017-05-26 18:34] florentbr commented on #713
Do we have any clues on whether the unexpected drop of connection is inherent to the server or to the OS?
I don't see why this happens since the connection is local and not exposed to a network failure.

[2017-05-26 21:46] whimboo commented on #669
It looks like this is happening in Marionette for the following line:

The above trace log doesn't list this property and as such we fail. I wonder if this should be handled as optional. @andreastt can you please check?

A workaround might be to just add a valid version for the socks proxy into the capabilities.

[2017-05-26 21:51] whimboo commented on #697
@KSKS what kind of element is acd501d4-1d2c-8843-82aa-5883db08d78c in your case? Is it a delayed loading of a URL? Maybe Turbolinks is causing this? I assume that we fail because of the early return from `click()`.

[2017-05-26 21:53] whimboo commented on #697
@hudson-t, you have to specify the tracing output in the capabilities, see our documention here, or set `--log trace` for geckodriver. Then you can find the logs in geckodriver.log.

[2017-05-26 22:46] andreastt commented on #684
@kowshikgowtham I don’t think those errors from addons.manager is anyting to worry about. Are you actually getting any WebDriver related errors?

[2017-05-27 05:55] hennayakaCM commented on #749
It's working.! Thanks a lot.

[2017-05-27 11:58] KSKS commented on #697
@whimboo I think acd501d4-1d2c-8843-82aa-5883db08d78c is the link <a> to the second page (b.html), which I simply click (element.click()) in the script. I am not sure what you mean by delayed loading of a URL. The test did go to the second page before I called driver.navigate().back().

[2017-05-27 12:52] AnanyaTesting commented on #702
1495889096561	geckodriver	INFO	Listening on 127.0.0.1:35265
1495889097158	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files\Mozilla Firefox\firefox.exe with args ["-marionette"]
1495889098506	addons.manager	ERROR	startup failed: [Exception... "Component returned failure code: 0x80070057 (NS_ERROR_ILLEGAL_VALUE) [nsIFile.create]"  nsresult: "0x80070057 (NS_ERROR_ILLEGAL_VALUE)"  lo

[2017-05-27 13:36] sukku-IBM opened #757 "Not able to launch the browser."
## Firefox Version - 47.0,2
## Platform -  Windows
## selenium-server-standalone-3.0.1
## geckodriver-v0.16.1-win64

## Steps to reproduce -
import java.util.concurrent.TimeUnit;
import org.openqa.selenium.By;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.firefox.FirefoxDriver;

public class NewWindowPopUp
{
	public static void main(String[] args)
	{
		WebDriver driver = new Fir

[2017-05-27 14:29] andreastt commented on #757
You set `Webdriver.gecko.driver` (note the capital W). Presumably it needs to be exactly `webdriver.gecko.driver`.

In any case, this is a Selenium issue.

[2017-05-27 14:29] #757 closed

[2017-05-27 14:30] andreastt commented on #702
@AnanyaTesting That seems entirely unrelated to this bug.

[2017-05-28 06:31] AnanyaTesting commented on #702
I uninstalled everything and installed and set the java path and build path and jar files...now i am getting a different error messages. The fire fox browser opens though.

-------------
1495952161955	geckodriver	INFO	Listening on 127.0.0.1:47659
1495952162685	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files\Mozilla Firefox\firefox.exe with args ["-marionette"]
1495952163695	addo

[2017-05-28 06:44] fluffysquirrels opened #758 "Obtaining the existing session ID via the HTTP API"
For my use case I'd like to obtain the session ID via the WebDriver HTTP API for the established session if one exists.

I can already use the command `GET /status` to determine a session exists:

[code]

And as a workaround I could use e.g. `GET /session/foo/url` and scrape the error message with the existing session ID:

[code]
But I'd like to modify geckodriver to obtain the session ID more idi

[2017-05-28 09:01] mosaadm opened #759 "Firefox Extension fails to install"
## Firefox Version
Firefox Version 53 using  0.16.1 geckodriver and selenium 3.4.0

## Platform
Windows 10 64bit

## Steps to reproduce -
We are trying to install a new extension that we developed and it does not contain an install.rdf because this technique is now legacy as mentioned [here ](https://developer.mozilla.org/en-US/Add-ons/Install_Manifests).
The problem is that using the 0.16.1 gecko

[2017-05-28 11:12] andreastt commented on #758
This is more an issue for the [WebDriver specification](https://github.com/w3c/webdriver), but obtaining the current session ID from the final remote end after session creation is consciously not made possible through an API. There are a couple of reasons for this.

Mainly, it makes it more difficult for a malicious attacker to sniff and hijack existing WebDriver sessions, adding to the [layered s

[2017-05-28 11:17] andreastt commented on #759
A `java.io.FileNotFoundException` would originate from your client or intermediary node, most likely Selenium. It would have nothing to do with geckodriver.

[2017-05-28 11:17] #759 closed

[2017-05-28 18:43] fluffysquirrels commented on #758
Thank you for your helpful and detailed response. I hadn't considered the
WebDriver security model.

Currently it is possible to scrape the active session ID through many of
the `GET /session/:session_id/*` commands as it is reported through the
error message. I presume it would be desirable to stop this to avoid
information disclosure that could lead to session hijacking. Would you like
to see a

[2017-05-28 18:45] fluffysquirrels commented on #758
Thank you for your helpful and detailed response. I hadn't considered the WebDriver security model.

Currently it is possible to scrape the active session ID through many of the `GET /session/:session_id/*` commands as it is reported through the error message. I presume it would be desirable to stop this to avoid information disclosure that could lead to session hijacking. Would you like to see a

[2017-05-29 07:10] whimboo commented on #702
The issue with the initialization of the add-on manager is covered by https://bugzilla.mozilla.org/show_bug.cgi?id=1364385 for now.

[2017-05-29 07:12] whimboo commented on #684
FYI the issue with the addon manager initalization is covered by bug https://bugzilla.mozilla.org/show_bug.cgi?id=1364385.

[2017-05-29 10:11] sky-joaonabais commented on #755
@AutomatedTester I'm generating the profile as specified [here](https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles#w_starting-the-profile-manager) and creating a base64 zipped version of the profile version:

`node_modules/.bin/firefox-profile -c firefoxProfile -b` (using [firefox-profile-jo](https://github.com/saadtazi/firefox-profile-js))

and

`gzip profileB

[2017-05-29 14:03] whimboo commented on #697
Please see the line right after `clickElement`:

Here we escape the logic of waiting for the page being loaded, because no `unload` event happened within a 200ms time frame. It means whether the browser was running unusually slow, or something delayed the page load as issued by the click. I wish a minimized testcase would be available here. Please check if a workaround like waiting for an element

[2017-05-29 14:07] whimboo commented on #697
And I just had a look at the [Turbolinks Github repository](https://github.com/turbolinks/turbolinks). Here the following is stated:

[code]

So it looks like that this tool is doing an inline replacement of the full document. The page load is magically done in some loaded Javascript code - most likely via AJAX. So there is nothing we can do for click + page load in this case.

[2017-05-29 14:42] whimboo commented on #697
So I tested this locally with the attached example files which I missed earlier. And I can see that the problem is exactly what I mentioned before. There is not a single page load event fired. So not sure what kind of magic this library is doing with the session history in Firefox. Basically all the navigation in the history has to fire events as described here:

https://developer.mozilla.org/en-U

[2017-05-29 14:47] AutomatedTester commented on #697
Yes, unfortunately. There is not much we can do here.

[2017-05-29 14:55] AutomatedTester commented on #758
`GET /sessions` is a Selenium Grid only endpoint for intermediary nodes to know what sessions they think are alive. This is one of the main reasons why it hasnt made it into the W3C Spec.

Unfortunately I can't see how your app is going to work if it is not going to keep state around GeckoDriver. When you call GeckoDriver `newSession` it is going to start the browser and give you back a session id

[2017-05-30 02:41] fluffysquirrels commented on #758
Thanks both for your thoughts. I did end up storing the state in my client app easily enough.

I still think it would be a good idea to stop disclosing the existing session ID in error messages, providing layered security as @andreastt mentioned.

Regards, Alex.

[2017-05-30 04:09] KSKS commented on #697
I don't think this issue should be closed just yet. Even in the case that Marionette/Geckodriver couldn't detect there is a page load/navigation, the promise returned from calling `back` should resolve (in Javascript binding). Looking at the geckodiver log, it looks like Marionette didn't response to the `back` request from webdriver, could this be the reason the promise not resolving?
[code]

If

[2017-05-30 05:12] whimboo commented on #697
That is correct. Without having a page in the history for backward or forward navigation, the appropriate command will return immediately. We do not wait for any events, which also will not occur.

I would suggest you to have a look at the bfcache article on MDN. It explains exactly which events are fired. So `beforeunload` will always happen and indicates that a page is about to get unloaded. We

[2017-05-30 09:02] andreastt commented on #758
@fluffysquirrels Can you show an example of an error message that does this?

[2017-05-30 09:24] alessandro-aglietti commented on #490
geckodriver wants lowercase proxyType so, intead of MANUAL, send manual ;)

[2017-05-30 15:02] whimboo commented on #732
@AutomatedTester mind giving us some feedback about the proposal from @andreastt ?

[2017-05-30 15:04] whimboo commented on #710
No further feedback from the reporter within 3 weeks. I'm going to close this issue for now. Once we get a testcase we can reopen the issue.

[2017-05-30 15:04] #710 closed

[2017-05-30 15:27] schmidtkp commented on #669
@whimboo @andreastt What would have been the behavior if the socksProxy/socksProxyPort hadn't been set at all? For that matter, what would be the behavior if only a single type of proxy was set - e.g. FTP and no others?

[2017-05-30 19:44] fluffysquirrels commented on #758
Sure:

[code]

[This](https://github.com/mozilla/webdriver-rust/blob/master/src/server.rs#L108-L110) looks like the code in webdriver-rust that generates the message.

[2017-05-30 20:28] marcelas commented on #669
@whimboo I still see this issue even if I set a fake socks proxy.

[2017-05-30 20:45] jgubbels opened #760 "org.openqa.selenium.firefox.NotConnectedException: Unable to connect to host 127.0.0.1 on port 7055 after 45000 ms"
In order to help us efficiently investigate your issue, please provide the following information:

## Firefox Version
53.0.3 (64-bit)

## Platform
Windows 10

## Steps to reproduce -
Selenium Version - 3.4
Geckodriver Versin - 0.16.1 (win64)

Create a driver with the following setup method

[code]

When this runs, a FF window opens, but nothing happens (test does not run). It will close after 4500

[2017-05-30 21:50] minusnine opened #761 ""Get Named Cookie" returns a list of cookies, in violation of the spec"
The Get Named Cookie implementation returns a list of cookies:

[code]

...because the response type is shared between "Get Named Cookie" and "Get All Cookies":

https://github.com/mozilla/geckodriver/blob/master/src/marionette.rs#L780

But the spec differentiates between the return types of these calls:

https://w3c.github.io/webdriver/webdriver-spec.html#get-named-cookie

... such that the forme

[2017-05-31 04:39] KSKS commented on #697
Thanks for answering my questions. I took a look at W3C WebDriver Standard (https://www.w3.org/TR/webdriver), the [back](https://www.w3.org/TR/webdriver/#back) command says that if there is `pagehide` event, it should wait for a `pageshow` event (or until timeout) in step 4. But since there isn't a `pagehide` event in this case, should Marionette return success as in step 6?

[2017-05-31 05:27] whimboo commented on #697
Hm, good question. @AutomatedTester can you please have a look? Maybe the spec is not valid in this case? Or should we also have a unload timer similar to `click()`?

[2017-05-31 07:56] LordValmos commented on #753
Same problem with :
Mozilla : 53.0.3 (32Bits)
OS : Windows 7
Selenium : 3.4.1

[2017-05-31 09:10] whimboo commented on #682
I pushed an update to my fork. @andreastt, @jgraham, @AutomatedTester what do you think?

https://github.com/whimboo/geckodriver/issues/new

[2017-05-31 12:01] AutomatedTester commented on #732
we should do

[2017-05-31 13:08] AutomatedTester commented on #760
Please add the GeckoDriver log

[2017-05-31 15:02] jgubbels commented on #760
I don't see a geckodriver.log file getting created

[2017-05-31 17:20] andreastt commented on #760
We need a trace-level geckodriver log to help diagnose this. You can get that by using `-vv` with the geckodriver binary or using `{"moz:firefoxOptions": {"log": {"level": "trace"}}}` as a capability. The output is not redirected to a file by default, but sent to stdout.

[2017-05-31 17:25] JoshuaBurns commented on #756
I am trying to find a more minimised test case, currently unable have not found one. I will keep looking but verified that the same issue is consistently happening on the long test case I originally posted.

[2017-05-31 17:30] andreastt commented on #732
I submitted https://github.com/w3c/webdriver/pull/926 to the specification.

[2017-05-31 17:55] andreastt commented on #761
Thanks for reporting this! I will look into this soon-ish.

[2017-05-31 17:57] #758 closed

[2017-05-31 17:58] andreastt commented on #758
@fluffysquirrels Thanks! I reported https://github.com/mozilla/webdriver-rust/issues/98.

[2017-05-31 19:05] yodaqua opened #762 "Launched FireFox (geckodriver) doesn't open specified website"
In order to help us efficiently investigate your issue, please provide the following information:

## Firefox Version
Nightly Build - 55.0a1

## Platform
OSX 10.12.4

## GeckoDriver
geckodriver-v0.16.1-mac64

## Selenium
3.4.0

## Steps to reproduce -
I have a quite a complex setup, I can create a simple test to recreate the issue, however if you can first take a look at the below log for any obvi

[2017-05-31 19:25] yodaqua commented on #669
I'm experiencing this issue as well and might have logged an identical issue #762. If it is, then I'll close it.

[2017-05-31 20:59] jgubbels commented on #760
I'm really not sure how to set those values using Java. A few articles I read mentioned I could set the gecko log level by using this
[code]
However, I get the exact same logs and don't see anything from geckodriver

[2017-06-01 08:49] saydulk commented on #291
perl firefox_launch_manually.pl 0
perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
	LANGUAGE = (unset),
	LC_ALL = (unset),
	LC_PAPER = "bn_BD",
	LC_ADDRESS = "bn_BD",
	LC_MONETARY = "bn_BD",
	LC_NUMERIC = "bn_BD",
	LC_TELEPHONE = "bn_BD",
	LC_IDENTIFICATION = "bn_BD",
	LC_MEASUREMENT = "bn_BD",
	LC_TIME = "bn_BD",
	LC_NAME = "bn_BD",
	LANG = "en_US.UTF-8

[2017-06-01 08:55] andreastt commented on #760
Assuming you are configuring it correctly, that could indicate the geckodriver process is never spawned, which would not be a geckodriver issue.

[2017-06-01 08:55] #760 closed

[2017-06-01 09:01] andreastt commented on #762
This bug is badly reported and not actionable. Please see the guidelines for reporting bugs in the issue template.

[2017-06-01 09:01] #762 closed

[2017-06-01 09:34] yodaqua commented on #762
@andreastt So you can't look at the log and tell me if you see something glaringly obvious?

[2017-06-01 09:53] wengoooooooo opened #763 "dynamic set preference"
In order to help us efficiently investigate your issue, please provide the following information:

firefox 53, selenium 3.4, geckodriver 0.16.1, windows 7, pyhton 2.7

## Steps to reproduce - ****
i want to dynamic update preference, but it not work, can i do that?
[code]

[2017-06-01 11:22] whimboo commented on #715
So I was able to get this reproduced. It's all because the add-on manager and other components cannot be correctly initialized. Reason is the strange path as used for starting Firefox. I will work on a fix via https://bugzilla.mozilla.org/show_bug.cgi?id=1368965.

[2017-06-01 11:24] whimboo commented on #753
It doesn't make sense to have multiple issues for the same underlying problem. So everything add-ons related is now covered by issue #715.

[2017-06-01 11:24] #753 closed

[2017-06-01 12:07] WonderWoman01 commented on #322
So glad you were able to recreate the issue.  Any updates as this is holding us back from performing any Firefox testing at the moment.

[2017-06-01 12:47] andreastt commented on #763
Not sure what this issue is about.

[2017-06-01 12:47] #763 closed

[2017-06-01 12:57] andreastt commented on #762
@yodaqua It’s very hard to read the log because it isn’t monospace formatted, and it also does not include any trace-level output from geckodriver.

[2017-06-01 14:32] KSKS commented on #715
This doesn't seem to be related to window handles. I assume you mean https://bugzilla.mozilla.org/show_bug.cgi?id=1364385?

[2017-06-01 14:36] jgubbels commented on #760
I'm not sure why this issue was closed. Based on the geckodriver documentation, my setup method is correct and should spawn geckodriver. I have added the driver location to my system path environment variable. I've also tried setting the webdriver.gecko.driver Java VM system property. I also have the latest versions of selenium, geckodriver, and ff installed.

[2017-06-01 15:29] andreastt commented on #760
It was closed because this is not an actionable bug. Please read the issue template and explain your issue clearly.

[2017-06-01 16:06] yodaqua commented on #762
@andreastt understood. My apologies. I'll look up how to set a trace log on the geckodriver and update the bug report according to the accepted standard.

[2017-06-01 16:10] whimboo commented on #715
Sorry, yes I do. Thanks for noticing that.

[2017-06-02 06:28] juangj opened #764 "Marionette doesn't accept a hostport as a proxy address"
In order to help us efficiently investigate your issue, please provide the following information:

## Firefox Version
55.0a1 (2017-06-01)

This has actually been happening for as long as I can remember having used Marionette/Geckodriver. We had put in a workaround for it, and I thought we'd filed a bug about it but I can't find it, so we probably forgot.

## Platform
OSX at the moment, but it prob

[2017-06-02 18:30] whimboo commented on #764
Right, the Webdriver spec also says: `A domain, and optional port preceeded by a colon`.

Given that geckodriver is our proxy between the spec and the custom socket protocol supported by Marionette, it's the former which needs the fix.

[2017-06-02 18:37] whimboo commented on #764
@juangj, I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1369827 to get your request implemented. Thanks for bringing it up.

[2017-06-02 19:35] juangj commented on #764
Thanks! Do you prefer new bugs to be filed on Bugzilla at this point? I remember there was some plan to get Geckodriver imported in mozilla-central, but I'm not sure whether the intent was to move development over there too -- or maybe that has already happened.

[2017-06-02 21:11] whimboo commented on #764
mozilla-central is the canonical repository now. We won't merge code into the github repo. Instead @andreastt will mark the master branch soon for clarity.

Regarding your question... if you will file clear and detailed bugs like this one please go ahead. Otherwise we prefer new issues here, which mostly might need further investigation on our side before a real bug gets filed.

[2017-06-03 08:58] saurabhssk commented on #684
I am using Selenium 3.4.0 and geckodriver 0.16.1 and running it in eclipse.
Getting  below msg:

1496478855444	geckodriver	INFO	Listening on 127.0.0.1:28244
1496478856245	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"]
1496478857367	addons.manager	ERROR	startup failed: [Exception... "Component returned failure code: 0x8

[2017-06-03 12:26] andreastt commented on #764
Also sprach Henrik Skupin:

Thanks for reminding me.  I have now “tombstoned” the GitHub
project and added a notice to the README, redirecting any future patch
submissions to Bugzilla.

We will keep the GitHub project around for publishing releases and as an
area to triage bug reports.

@juangj’s issues are always of the highest quality, so feel free to
report them directly to Testing :: geckodriv

[2017-06-03 14:22] cnico commented on #715
I fall on this bug with the message "NS_ERROR_NOT_INITIALIZED: AddonManager is not initialized" while running webdriver 3.4.0 with firefox on windows 7.
The problem for me is that I would like to use a custom xpi extension and because of this problem, my extension is not loaded by firefox.
The problem is clearly explained in the bugzilla 1364385 in previous comment.

As a workaround, what I did is

[2017-06-04 03:57] cnhome opened #765 "Seleium 3.4 can't be invoked under the firefox driver"
Seleium 3.4 can't be invoked under the firefox driver.

## Firefox Version
54.0b9

## Platform
Windows 10 (201703)

## Steps to reproduce
Running the following codes:

        System.setProperty("webdriver.firefox.marionette","C:/Program Files (x86)/Mozilla
        Firefox/geckodriver.exe");
        FirefoxDriver driver = new FirefoxDriver();
        driver.get("https://www.baidu.com");
        dr

[2017-06-04 15:21] mrunalgosar opened #766 "Fullscreen operation is not working"
In order to help us efficiently investigate your issue, please provide the following information:

## Firefox Version: 52.0.2 (32-bit)
From the "About" dialog.

## Platform: Windows 7

## Selenium Webdriver version: 3.4.0 (Java bindings)
## Steps to reproduce -
While trying to perform full screen operation in firefox browser then it throws UnsupportedCommandException
## Test code:
[code]

## Log:

[2017-06-04 16:24] mrunalgosar opened #767 "Selenium 3.x double click not working"
## Firefox Version: 52..0.2 (32 bit)

## Platform: Windows 7 - 64 bit

## Selenium Webdriver Version: 3.4.0 (Java bindings)

## GeckoDriver: 0.16.0

## Steps to reproduce -
Selenium 3.x is unable to perform double click operation.

## Test code:
[code]
## Logs: As attached
[Logs.docx](https://github.com/mozilla/geckodriver/files/1050508/Logs.docx)

[2017-06-05 09:04] naveenmehra commented on #745
@andreastt @AutomatedTester I am still facing this issue , is there any workaround or way to get this resolved.

[2017-06-05 09:12] andreastt commented on #767
What do you mean exactly that it “does not work”? Unfortunately I can’t open the logs because I don’t have Microsoft Word. Please attach a plain text fail with a trace-level log from geckodriver.

The WebDriver specification, which geckodriver implements, does not explicitly define a double click primitive, so I suspect that this is an issue in the Selenium shim.

[2017-06-05 09:16] andreastt commented on #766
Support for fullscreen was added in https://bugzilla.mozilla.org/show_bug.cgi?id=1189749, and is only available in Firefox 55 or greater.

[2017-06-05 09:16] #766 closed

[2017-06-05 09:24] andreastt commented on #765
And did you put geckodriver on your system path or set `webdriver.firefox.driver` to its path?

As I can’t really reproduce this from the information available, I’m going to close the bug. If you think this is wrong, please let me know.

[2017-06-05 09:24] #765 closed

[2017-06-05 10:44] ashutosh143 commented on #695
Hi @rscwcd ,

I have faced same issue with geckodriver (https://github.com/mozilla/geckodriver/issues/574) and @andreastt  closed this issue too in same manner. Still I am not able to understand what type of reproducible steps he require.  You can check the other drop-down issues too, all are closed without providing the solution.

Here the simple reproducible steps for this issue:
1. Go to Url "h

[2017-06-05 10:57] andreastt commented on #695
@ashutosh143 Sorry for the lengthy paste, but if you examine the DOM structure of that page, the `<select>` element is actually hidden and not visible. It looks like interacting with the `<span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all">` element will update the `<select>`’s inner state. I’m assuming you’re interacting with the wrong element.

[code]

[2017-06-05 11:06] AutomatedTester commented on #767
duplicate of #661

[2017-06-05 11:06] #767 closed

[2017-06-05 11:12] AutomatedTester commented on #745
No idea what is the cause of this. My first guess is that since you are using Windows is that this happens after running tests for a prolonged period and then becomes intermittent.

If that is the case then it is because Selenium and GeckoDriver is exhausting ephemeral ports from the OS. This will become more apparent when you are running all browsers at the same time

[2017-06-05 11:14] ashutosh143 commented on #695
@andreastt ,

 You are right <select> element is hidden, that is why I am using following steps to select the value.
1. Clicked on the "career field" drop-down list.
2. Clicked on the any visible value from opened list.

Selenium code for same :
    driver.findElement(By.id("ddlCategory-button")).click();
    driver.findElement(By.id("ui-id-4")).click();

Note* Samecode is working fine with chrome

[2017-06-06 06:59] whimboo commented on #715
The fix for geckodriver landed via the before mentioned bug, and will be part of the next release of geckodriver maybe even this week.

The initially reported issue with failing to load `about:addons` is also fixed. So closing this issue.

[2017-06-06 06:59] #715 closed

[2017-06-06 07:03] whimboo commented on #695
@ashutosh143 please provide a trace level log from geckodriver for your test. See the initial helper comments on an issue how to do it.

[2017-06-06 08:08] ashutosh143 commented on #695
Hi @whimboo

Desired component:
geckodriver-v0.16.1-win32
Firefox version:  53.0.3(32 bit)
Windows 8.1 pro
selenium-server-standalone-3.4.0.jar

**Please find below mentioned log trace.**

Jun 06, 2017 1:27:45 PM org.openqa.selenium.firefox.FirefoxOptions toCapabilities
INFO: Unable to use profile: class org.openqa.selenium.firefox.FirefoxOptions
Jun 06, 2017 1:27:45 PM org.openqa.selenium.firefox

[2017-06-06 09:45] whimboo commented on #695
That's not a trace level log but as it looks like you are also affected by the addon manager issue which doesn't let you create a session. It will be fixed with the next geckodriver release. Please also see issue #715.

[2017-06-06 10:04] whimboo commented on #684
The addon manager related bug which could cause some issues with starting a session has been fixed, and will be part of the next release of geckodriver which will hopefully get out this week.

Given that everyone on this issue is facing this add-on manager related issue I will mark it as dupe of issue #715.

[2017-06-06 11:00] ashutosh143 commented on #695
@whimboo
 Could you please help me out to get trace level log, so that we get to know more about this issue.

[2017-06-06 11:53] AutomatedTester opened #769 "Fullscreen support"
In order to help us efficiently investigate your issue, please provide the following information:

## Firefox Version
All

## Platform
All

## Steps to reproduce -
when calling `session/<session id>/window/fullscreen we dont get anything. This has been implemented in Marionette. We just need the rest completed

 - [ x] A [trace level log](https://github.com/mozilla/geckodriver#firefox-capabilities

[2017-06-06 13:36] whimboo commented on #702
The fix landed, and will be part of the next geckodriver release which we will get out the next days.

[2017-06-06 13:40] whimboo commented on #759
Issue #702 could have an effect also here. @mosaadm how did you try to install the addon? We would need a testcase AND a trace level log as requested in the issue template when you created this issue. If there is something wrong with installing a webextension we will have to reopen this issue.

[2017-06-06 13:43] whimboo commented on #739
As bug 1364385 states the addon manager and several other components in Firefox were busted due to an incompatible path prefix on Windows. See also issue #702.

The fix for this will be part of the next geckodriver release.

[2017-06-06 13:46] whimboo commented on #726
@bluejamesbond you provided basically no information. Please file a new issue and make sure to attach a trace level log.

[2017-06-06 13:51] whimboo commented on #756
I'm sure this relies on issue #611, which will be fixed soon in Firefox Nightly.

[2017-06-06 14:13] shs96c opened #770 "Navigating to a valid but unreachable domain is not an error"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: OS X
* Firefox: 55.0a1 (2017-06-06) (64-bit)
* Selenium: Java, 3.5-prerelease

## Steps to reproduce
[code]

It is expected for the driver to return a value of success with a value of null, as per the [Go Command](https://www.w3.org/TR/webdriver/#go) sp

[2017-06-06 14:15] saurabhssk commented on #684
Thank you @whimboo

[2017-06-06 14:33] whimboo commented on #431
So I checked with Marionette and it works. So a simple test via Selenium brought up the following failure:

[code]

The problem here is that geckodriver or webdriver expacts a `value` field returned by the command, which is not given in this case due to an early abort of the command:

https://dxr.mozilla.org/mozilla-central/source/testing/marionette/proxy.js#127-130

So we could add fake propertie

[2017-06-06 14:37] whimboo commented on #755
Due to a regression in geckodriver the addon manager is busted. See issue #702. Without it I doubt that plugins can successfully be downloaded. That's why you are seeing this failure.

A fix for the underlying issue has already landed for geckodriver, so I'm aiming a new release of it really soon. It should fix your problem.

[2017-06-06 14:43] shs96c opened #771 "Implement a "/shutdown" endpoint"
With reference to https://github.com/SeleniumHQ/selenium/issues/3978. The ChromeDriver and IEDriverServer both understand a `/shutdown` endpoint that can be used to quit the service. All the official language bindings attempt to call this URL before killing the service process. It might be nice to also implement this in geckodriver.

[2017-06-06 14:44] whimboo commented on #322
@AutomatedTester do you have more details about what you found out? Would be good to get a bug filed about it for Marionette.

[2017-06-06 14:45] sky-joaonabais commented on #755
Thanks @whimboo I'll wait for the release.

[2017-06-06 14:46] whimboo commented on #723
That's not true, and we should have investigated this problem way earlier. The underlying issue here is #702, and affects a couple of components in Firefox. The broken addon manager is just one example.

Good news is that the upcoming next release of geckodriver will fix this regression.

[2017-06-06 15:40] andreastt commented on #771
There is no `/shutdown` endpoint in the specification, and we have `/session/{session id}/quit` to end the session. I would consider it the responsibility of the parent process to stop geckodriver when it is no longer needed.

[2017-06-06 15:44] whimboo commented on #695
I would suggest that we wait for the next geckodriver release. If that doesn't fix this issue, we can further investigate.

[2017-06-06 15:58] Shikss commented on #723
Sounds Great :)
On 6 Jun 2017 8:17 p.m., "Henrik Skupin" <notifications@github.com> wrote:

[2017-06-06 16:20] andreastt commented on #431
That doesn’t scale because other commands might expect different return values, but I’ll look into this. We have a couple of options.

[2017-06-06 17:48] whimboo commented on #431
I assume that this issue is not only related to `execute_script` but to any command which usually returns a non-empty dict.

[2017-06-06 18:33] andreastt commented on #431
Also sprach Henrik Skupin:

Right, and there’s no way to generalise that.

If the evaluate script functions that are run in the content frame
script could intercept and resolve with a null value when an alert
appeared, we would be in a much better position.  But I don’t think
this is possible because the alert blocks the content frame JS thread in
addition to the document JS thread.

I think the o

[2017-06-06 21:40] muthu90ec opened #772 "contextmenu event not triggered after dispatching pointerdown"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Win/OSX/Linux
* Selenium: 3.4.0

## Steps to reproduce
		new Actions(getDefaultBrowserDriver()).moveToElement(el)
				.contextClick(el).build().perform();
This should trigger contextmenu event

- [ ] Reproducable testcase:
    document.getElementById("m

[2017-06-06 22:43] mosaadm commented on #759
Steps to reproduce:
1. Download xpi from here (https://addons.mozilla.org/en-US/firefox/addon/mooltipass-extension/) right click and save as.
2. Use it in code

[code]
3. Run the project

**Expected Result:** addon is intalled

**Actual Results:** the exception below:
[code]

[2017-06-07 05:22] cherry0228 commented on #706
have you fixed the problem, i am facing same issue

[2017-06-07 06:26] rscwcd opened #773 "Double Click not working"
Hi,

We upgraded our system to use Gecko Driver(Version geckodriver-v0.16.1-win64) along with Selenium Web Driver(3.4.0) and FF 53.0. A feature called "Double Click" in our project is not working. We tried many different techniques but till now there is no success in hand. Also, we are not getting any error out of that. Below are the code that we are using to do so :

 protected T double_click(By

[2017-06-07 07:15] gauri-evs opened #774 "implicitly wait command is not working"
I am running simple test that initiates firefox using TestNG @BeforeTest annotation.
Class name is Base and method name is init(). Issue is:
There is no error when i declare implicitly wait statement , but when i run it i get error :

FAILED CONFIGURATION:

[code]

Also, i tried same without testNG. Creating object of base class and running as JAVA application, it ran successfully. Is there a prob

[2017-06-07 07:23] whimboo commented on #759
Ok, so it's done when preparing the profile. That said, and given that you are on Windows, this problem should be caused by #702. Lets wait for the next release of geckodriver which will happen soon. Then please report back. Thanks.

[2017-06-07 07:28] shs96c commented on #771
`/shutdown` kills the entire service rather than a single session. It's not in the spec, and the parent processes do kill the geckodriver process.

This endpoint is just how all the language bindings notify the driver service to quit, allowing a controlled shutdown rather than a potential `kill -9` That's why I said it might be nice to also implement this is geckodriver :)

[2017-06-07 10:34] andreastt commented on #774
You appear to be using Firefox 47 and Selenium 3.3 which are both not supported. You need to use a much more recent Firefox version to get page load strategies working.

[2017-06-07 10:34] #774 closed

[2017-06-07 10:35] andreastt commented on #773
Duplicate of https://github.com/mozilla/geckodriver/issues/661.

[2017-06-07 10:35] #773 closed

[2017-06-07 10:37] andreastt commented on #706
@cherry0228 As I said, this isn’t a problem with geckodriver.

[2017-06-07 10:39] andreastt commented on #772
I suspect this was fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1367430.

[2017-06-07 10:44] rscwcd commented on #773
@andreastt : Hi, yes,this issue is duplicate of many others issues in the forum but I did't find any solution over there. Request you to let us know the exact actions that can be taken to get out of this.

[2017-06-07 10:52] andreastt commented on #773
@rscwcd I haven’t had time to look into it yet.

[2017-06-07 10:55] andreastt commented on #771
Ideally a parent process should ask nicely with SIGTERM (15) before using SIGKILL (9). This would be functionally equivalent to having an HTTP endpoint for it.

[2017-06-07 10:59] rscwcd commented on #773
Okay. Please look into it whenever you get time, but i saw this issue has already been closed by you.

[2017-06-07 12:00] andreastt commented on #431
I fixed this in https://bugzilla.mozilla.org/show_bug.cgi?id=1370850.

[2017-06-07 13:05] muthu90ec commented on #772
I went through https://bugzilla.mozilla.org/show_bug.cgi?id=1367430

The above link you forwarded was for issue ctrl + click should result in MouseEvent, But the issue I mentioned is different, the mouse pointerDown button 2 is not generating a contextmenu event?

[2017-06-07 13:10] andreastt commented on #772
@muthu90ec Can you explain how it is different? My thinking was that maintaining keyboard modifier state when emitting the mouse event would cause the `contextmenu` event to fire.

Maybe @mjzffr can provide some insight. It is possible we need to fire that event explicitly if testing/marionette/event.js does not handle it for us.

[2017-06-07 13:33] kvalev commented on #706
@cherry0228 The problem was that selenium 3.3.1 is not compatible with geckodriver 0.16.1 - you will have to use selenium 3.4.

[2017-06-07 13:37] cherry0228 commented on #706
thanks @kvalev, i tried with selenium 3.3.1 and geckdriver 0.16.1 and FF 52.1.1 (64-bit), still got the issue

Build info: version: '3.3.1', revision: '5234b32', time: '2017-03-10 09:04:52 -0800'
System info: host: '9801a79d82b5.ant.amazon.com', ip: '192.168.31.8', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.11.6', java.version: '1.8.0_131'
Driver info: driver.version: unknown
	at org.

[2017-06-07 13:55] andreastt commented on #729
Also sprach Florent Breheret:

It should just be a matter of running

	% ./mach bootstrap

on your system of choice (Linux/macOS/Windows).

But thanks for your efforts narrowing down this problem anyway.  It has
been very helpful!  I will take this over and craft a patch that can be
applied directly to mozilla-central.

[2017-06-07 15:03] muthu90ec commented on #772
To clarify this I tried 	new Actions(getDefaultBrowserDriver()).moveToElement(el)
			.contextClick(el).build().perform();
on the latest firefox nightly
https://ftp.mozilla.org/pub/firefox/nightly/latest-mozilla-central/
and did not see the 'contextmenu' event fire on pointerdown button 2

[2017-06-07 15:14] JoseLuisQAtester commented on #723
And what about:
driver.close();
It's not working, there are any expectation to be resolve in next release?

[2017-06-07 15:18] peterdemin commented on #511
Well, that's not `trace` level, as you requested, but maybe `DEBUG` will do?
[code]

[2017-06-07 15:21] mjzffr commented on #772
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1370403 a couple of days ago -- I think we need to take care of contextmenu ourselves in event.js

[2017-06-07 16:25] andreastt commented on #772
Right, I’ll reopen this.

[2017-06-07 16:25] andreastt commented on #723
@JoseLuisQAtester That is unrelated to this bug.

[2017-06-07 17:28] muthu90ec commented on #772
Thanks

[2017-06-07 18:40] chrisspen opened #775 "WebDriverException: Message: connection refused"
I'm unable to use Selenium to control Firefox using Geckodriver.

## Platform and application details
* Platform: Ubuntu 16.04
* Firefox: 52.1.0
* Selenium: 3.4.3
* Geckodriver: 0.16.1

My code:

    from selenium import webdriver
    driver = webdriver.Firefox(capabilities={'marionette': True})

which throws the exception:

    Traceback (most recent call last):
      File "/usr/local/myproject/t

[2017-06-07 20:31] whimboo commented on #760
The problem as reported on this issue might be related to #702. @jgubbels please wait for the next geckodriver release, and then check again. Thanks.

[2017-06-07 20:39] whimboo commented on #761
So we are using `Vec.retain()` to only keep those cookies in the list which have the given name. But we actually return the list, as said above.

Could it happen that there are multiple cookies with the same name?

[2017-06-07 20:48] whimboo commented on #762
So I see the following in the log:

[code]

Could it be that this tool from Kineticskunk is trying to install an extension into Firefox? We do not allow that for other paths than the application directory or profile. And as result it fails when trying to access some of its API?

[2017-06-07 21:43] florentbr commented on #463
It's a bug in marionette.
Here's a fix:

[code]

[2017-06-07 23:08] kvalev commented on #706
@cherry0228 You need selenium __3.4__, not 3.3.1

[2017-06-08 04:50] gauri-evs commented on #774
I am using firefox 53.0.3 version and selenium version 3.3. In my folder structure there is one folder resources that has 2 subfolders : browsers and drivers. Drivers contain .exe for geko driverand browser contain firefox-51.0.1.tar.bz2.
  I am trying to open firefox using following code :
     final String osName = System.getProperty("os.name");
			final String driverBase = Paths.get("resources"

[2017-06-08 05:55] rscwcd commented on #773
@andreastt  : Hi, did you get time to look for this issue ? This is show stopper for our project.

[2017-06-08 07:15] phoebusliang commented on #706
ff 53.0.3
selenium 3.4.0
os: macOS 10.12.5

System.setProperty("webdriver.gecko.driver", "/usr/local/bin/geckodriver");
DesiredCapabilities capabilities = DesiredCapabilities.firefox();
DRIVER = new FirefoxDriver(capabilities);

error:
2017-06-08 15:15:04.241 plugin-container[18396:1336924] *** CFMessagePort: bootstrap_register(): failed 1100 (0x44c) 'Permission denied', port = 0x993b, name = 'com

[2017-06-08 07:19] rscwcd opened #776 "Not able to scroll the page"
Hi,

After upgrading our project to use gecko driver(Version "geckodriver-v0.16.0-win64") and FF 53.0, found that a feature to scroll down the page is not working. Tried many different techniques but didn't find any way to scroll the page to go through required element. We are using below code to go through this:

   public T scroll_to_element(By element) {
        WebElement webElement = findElem

[2017-06-08 08:03] shs96c commented on #771
Sure. That'd be the nice way to do it. None of the language bindings do that, but it'd also be nice (the java ones might…). Feel free to open a reciprocal selenium issue :)

Sent from my iPhone

[2017-06-08 11:45] codingphil opened #777 "sendKeys(" ") does not check checkbox"
## Platform and application details
Windows 10 Creators Update
Firefox: 54.0 (beta)
Selenium: 3.4 (Java)

## Steps to reproduce
Run the following Java Selenium test.
[code]
It will fail with `java.lang.AssertionError: checkbox is selected after pressing SPACE`

A simple test page with a checkbox with the id "checkBox" is used:
https://mdn.mozillademos.org/en-US/docs/Web/HTML/Element/input/checkbox

[2017-06-08 12:06] rscwcd commented on #695
@whimboo : Thanks for your suggestion.

@ashutosh143  : I tried to get this done using mouse_over with below code and was successful. But I am still trying to get a permanent solution for this :+1:

[code]

[2017-06-08 13:11] andreastt commented on #777
It’s not supposed to be possible to select a checkbox using the high-level `WebElement.sendKeys` API. You need to use the low-level actions API for that.

[2017-06-08 13:11] #777 closed

[2017-06-08 13:24] codingphil commented on #777
This is not very intuitive. Both variants of sendKeys() methods should have the same functionality.
At least for the Java programmer it is not very understandable.

Have you any reference to a standard/spec where it is defined that this should not work?
At least in Chrome this works fine.

[2017-06-08 14:13] mjzffr commented on #645
https://bugzilla.mozilla.org/show_bug.cgi?id=1367430 has landed in mozilla-central

[2017-06-08 14:13] #645 closed

[2017-06-08 18:13] andreastt commented on #777
Also sprach Philip Lonsing:

Whilst they may appear to do the same thing, the high-level Element Send
Keys command is a do-as-I-mean shorthand which also runs a number of
checks, such as ensuring it is keyboard-interactable, scrolling it into
view, focussing it, &c.

The low-level variant that is part of the actions API, consists of
the two primitives keyUp and keyDown, to achieve the same effect.

[2017-06-08 18:22] andreastt commented on #776
The `actions.moveToElement` API is a Selenium API and does not correspond to a primitive in the WebDriver specification. I suspect there is a bug with the shim Selenium provide for this.

Could you open a bug with Selenium, and I will keep this open for tracking purposes?

[2017-06-08 18:24] andreastt commented on #773
@rscwcd I haven’t had time to look into https://github.com/mozilla/geckodriver/issues/661 yet.

[2017-06-08 18:27] andreastt commented on #775
It’s really hard to tell what is going wrong just from the information you’ve added. Could you do some more investigation? In particular, it would be useful with a trace-level log from geckodriver. See the README for how to configure this.

[2017-06-08 18:33] Quilmont commented on #680
Any update?

[2017-06-08 22:16] fuuman opened #778 "Firefox 53 - Selenium 3.4.3 - ActionChains not working"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Manjaro
* Firefox: 53.0.3 (64-bit)
* Selenium: 3.4.3

## Steps to reproduce
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import Desir

[2017-06-09 01:24] newton143 opened #779 "RemoteWebDriver - Nightly Browser - GeckoDriver - Timeout Exception"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Windows
* Nightly Browser
* selenium-server-standalone-3.4.0.jar

## Steps to reproduce
Java -Dwebdriver.gecko.driver=C:/Temp/Drivers/geckodriver.exe -jar C:/Users/QAAutomation/Downloads/selenium-server-standalone-3.4.0.jar -port 5555

- [ ] Reproducable testcase

[2017-06-09 06:43] rscwcd commented on #773
@andreastt : Hi, I have generated a new issue on Selenium Forum with below link

[actions.moveToElement in Selenium does not scroll down the page #4148](url)

[2017-06-09 06:44] rscwcd commented on #776
@andreastt : Hi, I have generated a new issue on Selenium Forum with below link

[actions.moveToElement in Selenium does not scroll down the page #4148](https://github.com/SeleniumHQ/selenium/issues/4148)

[2017-06-09 08:50] andreastt commented on #778
WebDriver is not meant to allow interaction with the browser chrome or the surrounding system widgets (OS), so I would say this is entirely expected behaviour.  By pressing F12 like you do, I would expect there to be a `keydown` and a `keyup` event for that key, but not for devtools to open.

[2017-06-09 08:50] #778 closed

[2017-06-09 08:52] andreastt commented on #779
I’m unable to parse what this issue report is about. Can you please clarify it?

A cursory look at your code, neither of these capabilities are recognised by geckodriver:

[code]

Please see the README for the supported capabilities.

[2017-06-09 08:52] #779 closed

[2017-06-09 09:51] tuxayo commented on #743
Should the README reflect this? https://github.com/mozilla/geckodriver#supported-firefoxen

"Support is best in Firefox 52.0.3 and onwards" → "Support is best in Firefox 53 and onwards"

And I suppose v0.15.0 is the best to work with Firefox 52 ESR right?

[2017-06-09 09:51] fuuman commented on #778
Why are you talking about _chrome_? And with Firefox 46 for example, it worked exactly like that to open the Firefox inspector. How I am able to open the inspector then?

[2017-06-09 10:34] tjnhdo commented on #322
I execute xpath like //span[contains(@class,'pfandobjekt')].
This work on IE Firefox and Chrome browser.
But with Edge, I can't
Microsoft Edge 38.14393.1066.0
Microsoft EdgeHTML 14.14393
Selenium 3.4.0

Please help me check.

[2017-06-09 10:49] rscwcd commented on #767
@AutomatedTester : Everywhere I can see, everyone is just closing this issue without having a confirmation of availability of proper solution to the issue.

[2017-06-09 12:33] andreastt commented on #778
Sorry, the “browser chrome” is the technical term for the UI of a browser.

Firefox 46 was presumably using FirefoxDriver, which was supported by and implemented by the Selenium project. geckodriver is maintained by Mozilla, and is fundamentally different in architecture.

You should not be able to open devtools via geckodriver unless you switch to what’s called ‘chrome context’, but I don’t reall

[2017-06-09 12:47] #431 closed

[2017-06-09 12:51] andreastt commented on #743
@tuxayo Thanks for the reminder. I’ve updated the README according to your suggestion.

[2017-06-09 12:55] jadonant commented on #322
Has this been fixed?

[2017-06-09 13:46] codingphil opened #780 "Additional window handle if alert is open"
## Platform and application details
* Platform: Windows 10 Creators Update
* Firefox: 53.0.3 (64bit)
* Selenium: 3.4.0 (Java)

## Steps to reproduce
Execute the following Java Selenium test:
[code]
The test fails with `java.lang.AssertionError: expected:<1> but was:<2>`
I also tried this test with a simple page without iframes (same result) but I did't found a public available page with an alert.

[2017-06-09 13:56] jimevans commented on #771
@andreastt Given that Windows doesn't have SIGTERM and SIGKILL, what's the suggestion for that platform?

[2017-06-09 14:22] whimboo commented on #763
Also preferences should be set via `firefox_capabilities['prefs']` as the [documentation](https://github.com/mozilla/geckodriver#prefs-object) says.

[2017-06-09 14:23] whimboo commented on #764
Please also see the discussion on https://github.com/w3c/webdriver/issues/949

[2017-06-09 14:34] whimboo commented on #770
We clearly pass step 5 and started a navigation as it can be seen in the trace log. But given that the URL is not reachable Firefox displays an error page. As such we hit step 9-1 for the `Go` command which is: `Run the post-navigation checks and return its value if it is an error.`.

So why should this result in a success and not error?

[2017-06-09 14:36] whimboo commented on #706
@phoebusliang there is no error displayed. All this is just normal log output.

[2017-06-09 14:40] whimboo commented on #774
@gauri-evs, Firefox 51.0 is no longer supported. You should consider using 53.0, or a beta release for the upcoming 54.0 version.

[2017-06-09 14:43] andreastt commented on #780
Thanks for this bug report! This sounds like a bug in https://searchfox.org/mozilla-central/rev/a798ee4fc323f9387b7576dbed177859d29d09b7/testing/marionette/driver.js#170-194.

Out of curiosity, did you also test with Firefox Nightly?

[2017-06-09 14:55] andreastt commented on #771
As I said, just terminating geckodriver is absolutely fine. There’s no state in geckodriver that requires cleanup.

[2017-06-09 15:27] codingphil commented on #780
The test fails too with the todays nightly build 55.0a1.
Log:
[geckodriver_log_55.0a1.txt](https://github.com/mozilla/geckodriver/files/1064502/geckodriver_log_55.0a1.txt)

[2017-06-09 18:17] Frankstar commented on #322
@jadonant no

[2017-06-09 22:47] newton143 opened #781 "RemoteWebDriver - Nightly Browser - GeckoDriver - Timeout Exception"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
Windows
Firfox Nightly Browser 55.0a1 (2017-06-09) (64-bit)
selenium-server-standalone-3.4.0.jar

## Steps to reproduce
Java -Dwebdriver.gecko.driver=C:/Temp/Drivers/geckodriver.exe -jar C:/Users/QAAutomation/Downloads/selenium-server-standalone-3.4.0.jar -port 555

[2017-06-09 22:49] newton143 commented on #779
Still facing the timeout issue

FirefoxOptions fo = new FirefoxOptions();
fo.BrowserExecutableLocation = @"C:\Program Files\Nightly\firefox.exe";
DesiredCapabilities desiredCapabilities = new DesiredCapabilities();
desiredCapabilities = DesiredCapabilities.Firefox();
desiredCapabilities.SetCapability("moz:firefoxOptions", fo);
var driver = new RemoteWebDriver(new Uri("http://10.5.5.66:5555/wd/hub"

[2017-06-10 10:20] jimevans commented on #772
To this outsider, this report sounds very similar, symptom-wise to #660.

[2017-06-10 23:40] andreastt commented on #772
Closing as duplicate of https://github.com/mozilla/geckodriver/issues/660, which has a better description.

[2017-06-10 23:40] #772 closed

[2017-06-11 15:35] vinhtc2000 commented on #773
@rscwcd I have met the same issue like you. You can use javascript to work around. Below are the Python script that I did:

executeScript = "var event = new MouseEvent('dblclick', {'view': window,'bubbles': true,'cancelable': true});document.evaluate(\"" + XPATH_VARIABLE + "\", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue.dispatchEvent(event);"

driver.execute_script(

[2017-06-11 20:34] AutomatedTester commented on #781
What version of GeckoDriver are you using?

Please can you add a verbose log, the log shared doesnt show a TimeoutException so not sure what you are seeing

[2017-06-11 20:40] jrbenny35 commented on #781
I was getting some timeouts on the 6-9 nightly as well but my logs were clean. Just try updating to the newest build.

[2017-06-12 02:47] altus34 commented on #646
Same issue reproduced in a test case here
https://github.com/altus34/webdriver-gecko-issues

[2017-06-12 16:58] phillipp commented on #647
Is this supposed to be fixed in geckodriver v17? because for me, it isn't...?

[2017-06-12 22:24] minusnine commented on #761
Negative. There are three cookies with distinct names on this page.

Here is a more complete log that shows all of the cookies:

[code]

[2017-06-12 23:03] uscengineer opened #782 "‘invalid cookie domain’ error is missing from Marionette’s error lookup"
* Platform: OSX 10.12.5
* Firefox: 53.0.3
* Selenium: 3.4.0

Our site currently uses .top.level.domain for the session cookie domain. However this throws an error in firefox with protractor:
`JavascriptError: SyntaxError: identifier starts immediately after numeric literal`

If I remove the dot it will insert the cookie but it leads to odd behavior since our site is expecting the dot.  This also w

[2017-06-13 01:48] abalonperin commented on #659
Working with:
- macos = 10.12.4
- geckodriver = 0.17
- firefox = 53.0.3
- selenium = 3.4.0

@andreastt, thank you for fixing the issue.

[2017-06-13 09:58] ashutosh143 commented on #695
@rscwcd Thanks for providing the alternate solution, working fine. hoping for permanent solution in upcoming gecko driver release. :-)

[2017-06-13 10:00] rscwcd commented on #695
@ashutosh143 :+1:

[2017-06-13 10:08] whimboo commented on #695
@rscwcd, @ashutosh143  can you both please test again with the freshly released 0.17.0 version of geckodriver? Do you still see it? If yes, please provide another trace log. Thanks.

[2017-06-13 13:17] CDJojn commented on #773
@vinhtc2000 are you sure that code is working? I have tried very similar code with different kind of MouseEvent - "mouseover", "mouseenter" and "mousemove" and it is not working, because this dispatched event has set isTrusted set as false. In this case a lot of JS functionality on web doesn't work. Do you have any solution how to start Firefox without checking of isTrusted flag?

[2017-06-13 14:26] andreastt commented on #782
Can you please include a trace-level log from geckodriver to help us diagnose this problem?

I’ve recently done some work on the Marionette cookie service, and I should say that it’s not entirely clear from the WebDriver specification exactly how cookies should work.

[2017-06-13 14:33] andreastt commented on #761
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1372595 to fix this in geckodriver. It also necessitates a change in the webdriver crate.

[2017-06-13 18:38] uscengineer commented on #782
Is this what you are looking for?

`11:36:31.731 INFO - Executing: [add cookie: _session_id=BAh7CEkiD3Nlc3Npb25faWQGOgZFVEkiJTExOGMyNDUxYzM5ODQxMWE0ZDA2ODU4NzkyZWFlMjZiBjsAVEkiGnBlcnNpc3RlbnRfc2Vzc2lvbl9pZAY7AEZJIik3YzYwZTIyMC04MGIwLTRlYWEtOTk5Ni0xOWEyYTI3ZTE5MTEGOwBGSSIZd2FyZGVuLnVzZXIudXNlci5rZXkGOwBUWwhJIglVc2VyBjsARlsGaQPTdJRJIiIkMmEkMTAkOVJFY3M5YjhVS21tRzdrcG1lSy5tTwY7AFQ%3D--d381f27f17d3fa37

[2017-06-13 21:56] JoshuaBurns commented on #756
Here is some additional info I have noticed in regards to this issue.
Tested with the above test case and the following configurations.

This IS NOT an issue with Firefox 53.0.3 and GeckDriver 0.16.1

This IS an issue with Nightly 55.0a1 and GeckoDriver 0.16.1
This IS an issue with Firefox 53.0.3 and GeckoDriver 0.17.0
This IS an issue with Firefox 54.0 and GeckoDriver 0.17.0

[2017-06-13 22:52] KSKS commented on #697
@AutomatedTester is there any update? Should we keep this issue open for now?

[2017-06-14 04:52] ashutosh143 commented on #695
@whimboo  I have tested with gecko driver version 0.17.0 with selenium version 3.4.0 and still not able to select value from drop-down list.

Not able to get trace log. Please suggest, how to get the trace log.

[2017-06-14 06:46] Shehroyas commented on #672
package automationFramework;

import org.openqa.selenium.WebDriver;
import org.openqa.selenium.firefox.FirefoxDriver;
import org.openqa.selenium.firefox.FirefoxOptions;
import org.openqa.selenium.firefox.FirefoxProfile;
import org.openqa.selenium.remote.DesiredCapabilities;

public class FirstTestCase {

public static void main(String[] args) {
	// TODO Auto-generated method stub

	DesiredCapabili

[2017-06-14 06:51] whimboo commented on #697
I will reopen until we got a clear statement from @AutomatedTester.

[2017-06-14 06:58] whimboo commented on #695
@ashutosh143 which binding are you using? Is it Java? If yes it should somehow be doable via FirefoxOptions and capabilities. What to set you can find here: https://github.com/mozilla/geckodriver/#capabilities-examples

Please also upgrade to Firefox 54.0 first.

[2017-06-14 07:15] remidebette commented on #308
Dear everyone,
With Firefox 54 coming in the last days and this fix done, our tests have been greatly improved so thanks for the fix!

Unfortunately there is a regression for popups that close automatically when a button is clicked.
Please check the following python code:
(In comparison Chrome works fine)

[code]

[2017-06-14 08:02] remidebette opened #783 "geckodriver pending when a click automatically closes a popup"
Dear everyone,
With Firefox 54 released in the last days and the https://github.com/mozilla/geckodriver/issues/308 fix done, our tests have been greatly improved so thanks for the fix!

Unfortunately there is a regression for popups that close automatically when a button is clicked.
e.g.: You fill a form in the popup and this updates the main page after closing.
(In comparison Chrome works fine)

[2017-06-14 09:33] rscwcd commented on #695
@whimboo : Hi, thanks for help.

I tried to run this using my bindings i.e. Selenium 3.4.0 along with FF 54.0 and Gecko 0.17.0, but still I find same error. As I said earlier, the project UI is based on Angular JS and system is not able to detect items in the span. Tried many other capabilities but didn't find anything useful. Please advise.

[2017-06-14 09:55] phystem commented on #759
@whimboo  Happening in Geckodriver 0.17.0 as well.

I'm using
Selenium 3.4
Firefox 54.0b6 (32-bit)
Geckodriver 0.17.0 32-bit
Windows 7 32 bit

Created a github project for the same

https://github.com/phystem/GekoDriverIssue

[2017-06-14 10:11] ashutosh143 commented on #695
@whimboo

Please find the logs.

1497434664150	geckodriver	INFO	Listening on 127.0.0.1:33555
log4j:WARN No appenders could be found for logger (org.apache.http.client.protocol.RequestAddCookies).
log4j:WARN Please initialize the log4j system properly.
1497434664869	geckodriver::marionette	INFO	Starting browser C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"]
14974346669

[2017-06-14 11:42] andreastt commented on #672
@Shehroyas You did not provide an error, a stacktrace, a trace-level log from geckodriver, or information about what versions of the respective software you’re using. Please also don’t comment on closed issues unless they are directly related.

[2017-06-14 11:56] andreastt commented on #782
Yes, thanks, that helps.

It looks like `InvalidCookieDomainError` was implement only recently, and it is only available in Firefox 55 or greater, judging by https://bugzilla.mozilla.org/show_bug.cgi?id=1362990. Please retry with a more modern Firefox.

[2017-06-14 12:27] whimboo commented on #759
Please provide a trace log and attach it to this issue. I would like to have a look at this first.

[2017-06-14 12:31] phystem commented on #759
@whimboo updated with stacktrace. Please Check

[2017-06-14 13:05] whimboo commented on #759
I do not need the Java bindings stacktrace, but the geckodriver one. Please see the the readme on this repository how to get it.

[2017-06-14 13:14] whimboo commented on #695
Strange, that page is not firing an `unbeforeunload` event, but we get `pagehide` twice, and as such we cancel the implicit page load for `click`:

[code]

Also the `pagehide` events are not for the currently selected document. So is that page using frames? At least for now you can add a wait for the element you want to find. It should fix your issue.

@rscwcd it would be also nice from you to pro

[2017-06-14 14:26] phystem commented on #759
Though I set the log level, the log didn't generate
But I got the issue. The issue is happening if the extension is built using [**web-extensions**](https://developer.mozilla.org/en-US/Add-ons/WebExtensions). If the extension is built using **jpm** then there is no issue.

Because as per log

`Caused by: java.io.FileNotFoundException: C:\Users\394173\AppData\Local\Temp\unzip5806772282736173501stre

[2017-06-14 16:05] vinhtc2000 commented on #773
@CDJojn I had not meet the same with your issue. My script works fine until now. I'm using:
- Firefox 53.0.3 (32 bit)
- Selenium 3.3.x
- Python 2.7.3

[2017-06-14 16:44] andreastt commented on #783
It would be useful if you attached the trace-level log from geckodriver. It would help diagnosing the issue.

Also cc’ing @whimboo as he’s done work in this area.

[2017-06-14 16:45] andreastt commented on #647
@phillipp It was fixed in 0.16.0, which is two releases ago.

[2017-06-14 16:59] mosaadm commented on #759
I tried with the new release v0.17.0 and  I can confirm it is still not working.
Here is the stacktrace
`org.openqa.selenium.WebDriverException: Unable to convert: Capabilities [{moz:firefoxOptions={binary=Optional.empty, args=[], legacy=false, logLevel=null, prefs={}, profile=org.openqa.selenium.firefox.FirefoxProfile@662706a7}, firefox_profile=org.openqa.selenium.firefox.FirefoxProfile@662706a7}

[2017-06-14 17:30] andreastt commented on #759
@mosaadm As always, a stacktrace from the Java client is not very useful to diagnose a problem with geckodriver because they don’t propagate. Please include a trace-level log from geckodriver.

[2017-06-14 18:32] whimboo commented on #783
Dupe of issue #611.

[2017-06-14 18:32] #783 closed

[2017-06-14 18:40] whimboo commented on #759
So it's the code in the Java bindings which allow you to install a webextension via the profile:

[code]

The `FirefoxProfile` is nothing which is related to GeckoDriver. So if you want to get support for installing webextensions you have to file a bug for Selenium.

Here the method in detail which would need to be enhanced:

https://seleniumhq.github.io/selenium/docs/api/java/org/openqa/selenium/

[2017-06-14 18:44] whimboo commented on #759
A workaround for the time being would be to use the add-on endpoints geckodriver 0.17.0 provides to get an extension installed from the local disk.

https://github.com/mozilla/geckodriver/blob/release/src/marionette.rs#L66

[2017-06-14 18:55] bhreinb commented on #695
Hi Folks,

I'm using FF53.0.3 & Geckdriver v0.16.1.exe & selenium server 3.4.0 with protractor. I have a couple of drop down menus that I set but I notice on FF the drop downs don't be set properly. When I do the same test on chrome it passes every time for me. As mentioned above I also am testing with an angular website too.

Given what is discussed above I think I may be affected by the above is

[2017-06-14 19:48] uscengineer commented on #782
@andreastt here is the error with Firefox 55

12:45:54.495 INFO - Executing: [add cookie: _session_id=BAh7CEkiD3Nlc3Npb25faWQGOgZFVEkiJWE2MThiN2Q4ODBlMTNjZDBlMzdiYjZjMWZhYzE2ZmQzBjsAVEkiGnBlcnNpc3RlbnRfc2Vzc2lvbl9pZAY7AEZJIik0ZThhNDVmZC0wNGE0LTQ2Y2MtYjJkMy00YTkwYzc1OThkNmMGOwBGSSIZd2FyZGVuLnVzZXIudXNlci5rZXkGOwBUWwhJIglVc2VyBjsARlsGaQMOdZRJIiIkMmEkMTAkNm1qbDBPaDRnL2ZEYXZqa1lDUXJGLgY7AFQ%3D--59d322

[2017-06-14 20:11] BeschtaBrandon commented on #773
I believe the double click issue is still occuring

[2017-06-15 03:40] ashutosh143 commented on #695
@whimboo

- Tried with Web Driver implicit wait, explicit wait as well as java Thread.sleep()  but not able to select value.
- Page is not using any frame.

@andreastt  It would be great if you can reopen this issue as we get the trace log/ root cause.

[2017-06-15 07:40] whimboo commented on #695
@ashutosh143 your issue is not with click what this issue is covering but with `findElement` which is not finding the relevant element *after* the click.

So not sure where you added the sleep but it should have been before the call to `findElement`.

It would be great if @rscwcd could also provide a trace level log, so that we can see if this is the same underlying issue or not.

[2017-06-15 07:57] ashutosh143 commented on #695
@whimboo

Here is my selenium script for all three cases:
`Case 1: With Implicit wait

        FirefoxOptions options = new FirefoxOptions().setLogLevel(Level.ALL);
	    System.setProperty("webdriver.gecko.driver","D:\\geckodriver.exe");
        WebDriver driver = new FirefoxDriver(options);
        driver.manage().window().maximize();
        driver.manage().timeouts().implicitlyWait(60, TimeUnit

[2017-06-15 11:07] rscwcd commented on #695
@whimboo : Here is the stack trace of the same. We are using FF 54 along with Gecko latest i.e. 0.17.0 and Selenium 3.4.0 with latest JAVA version 8

1497524579054	geckodriver::marionette	INFO	Starting browser C:\Program Files\Mozilla Firefox\firefox.exe with args ["-marionette"]
1497524579425	addons.manager	DEBUG	Application has been upgraded
1497524579583	addons.manager	DEBUG	Loaded provider sco

[2017-06-15 11:54] VrushaliHaldankar opened #784 "Browser don't openend but junit test successful on console with remark NS_ERROR_NOT_INITIALIZED: AddonManager is not initialized"
In order to help us efficiently investigate your issue, please provide the following information:

1497528299485	geckodriver	INFO	Listening on 127.0.0.1:25348
log4j:WARN No appenders could be found for logger (org.apache.http.client.protocol.RequestAddCookies).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info

[2017-06-15 12:23] andreastt commented on #784
I’m sorry, but I can’t make any sense of this issue. Please follow the guide set out in the issue template when filing issues and ensure the Markdown doesn’t get mangled.

[2017-06-15 12:23] #784 closed

[2017-06-15 12:32] andreastt commented on #782
I think I see the problem. The `[InvalidCookieDomainError](https://searchfox.org/mozilla-central/rev/c49a70b53f67dd5550eec8a08793805f2aca8d42/testing/marionette/error.js#330-335)` is not listed in the `STATUSES` map at the bottom of testing/marionette/error.js.

[2017-06-15 12:38] andreastt commented on #782
I patched this in https://bugzilla.mozilla.org/show_bug.cgi?id=1373218.

[2017-06-15 12:58] BrandonDude commented on #335
Still an issue!

**Selenium:** 3.3.1
**Geckodriver:** 0.15.0
**Firefox:** 52.1.2 (ESR) [32 & 64 bit]
**Windows:** 7

[2017-06-15 13:32] AutomatedTester commented on #335
@BrandonDude
Please can you retry with selenium 3.4, GeckoDriver 0.17 and latest release of Firefox

[2017-06-15 13:54] staats-google commented on #463
+1, please fix.

[2017-06-15 14:26] BrandonDude commented on #335
I have been avoiding selenium 3.4 because of issues [3895](https://github.com/SeleniumHQ/selenium/issues/3895).

[2017-06-15 15:56] BrandonDude commented on #335
I tried again with:

**Selenium:** 3.4
**Geckodriver:** 0.17.0
**Firefox:** 54.0 (64-bit)
**Windows:** 7

Still an issue. This has also been reported in issues [403](https://github.com/mozilla/geckodriver/issues/403) & [676](https://github.com/mozilla/geckodriver/issues/676).

[2017-06-15 15:58] BrandonDude commented on #403
Still an issue with:

**Selenium:** 3.4
**Geckodriver:** 0.17.0
**Firefox:** 54.0 (64-bit)
**Windows:** 7

This has also been reported in issues [335](https://github.com/mozilla/geckodriver/issues/335) & [676](https://github.com/mozilla/geckodriver/issues/676).

### I suggest moving all comments to [676](https://github.com/mozilla/geckodriver/issues/676).

[2017-06-15 15:59] BrandonDude commented on #676
Still an issue with:

**Selenium:** 3.4
**Geckodriver:** 0.17.0
**Firefox:** 54.0 (64-bit)
**Windows:** 7

This has also been reported in issues [403](https://github.com/mozilla/geckodriver/issues/403) & [676](https://github.com/mozilla/geckodriver/issues/676).

[2017-06-15 16:28] rhyous opened #785 "Enhancement Request: Add NuGet package as part of release"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows
* Firefox: n/a
* Selenium: latest release and future releases

## Steps to reproduce
This is not a bug it is an enhancement request.

The .NET community has moved to obtained dependencies via NuGet. NuGet is a dependency management tool develope

[2017-06-15 17:21] andreastt commented on #785
I don’t think it is the responsibility of the geckodriver developers to do distribution packaging, whether this is for NuGet, npm, PyPI, yard, crates.io, Debian, Fedora, Homebrew, MacPorts, or whatever else. We are happy for volunteers to package geckodriver in whatever way they see fit, provided the copying restrictions are respected.

We intend to provide signing of releases in the future to ens

[2017-06-15 17:21] #785 closed

[2017-06-15 18:04] BrandonDude commented on #659
Still an Issue for:

Selenium: 3.4
Java: 1.8
geckodriver: 0.17.0
Firefox: 54.0 (32 & 64 bit)
Windows: 7

What I tried:
`WebDriver.get( "https://www.google.com" );`
`WebDriver.findElement( By.xpath( "/html/body" ) ).sendKeys( Keys.chord( Keys.CONTROL, "n" ) );`

Result:
Nothing Happens.

Note: I can still send normal keys to an input element.

[2017-06-15 19:56] BrandonDude opened #786 "CONTROL Key Chords Not Working with Selenium 3.4"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows 7
* Firefox: 54.0 (32 & 64 bit)
* Selenium: 3.4
* Java: 1.8
* geckodriver: 0.17.0

## Steps to reproduce

- [x] Reproducable testcase:
`WebDriver.get( "https://www.google.com" );`
`WebDriver.findElement( By.xpath( "/html/body" ) ).sendKeys( Keys

[2017-06-15 21:10] whimboo commented on #779
This is not a trace log you pasted here. Please read again in the readme how to retrieve one.

[2017-06-15 23:23] iBasit commented on #706
I have
selenium 3.4.0
firefox: 54.0
mac: 10.12.5

[code]

[2017-06-16 04:58] Debanjan-B opened #787 "Selenium 3.4.0-GeckoDriver 0.17.0 : GeckoDriver producing logs through Chromium/Chrome modules"
## Meta
GeckoDriver producing logs through Chromium/Chrome modules as /**chromium**/src/**chrome**/common/ipc_channel_win.cc, line 346

	[GPU 5344] WARNING: pipe error: 109: file c:/builds/moz2_slave/m-rel-w64-00000000000000000000/build/src/ipc/chromium/src/chrome/common/ipc_channel_win.cc, line 346

## Platform and application details
* Platform: Windows 8 Pro, 64 bit OS, x64-based processor
* Fi

[2017-06-16 07:22] pbi-qfs commented on #676
You'll have to wait for Selenium 3.4.1 (since it's a Selenium binding problem) or build selenium yourself from sources

[2017-06-16 09:26] andreastt commented on #786
I think this was fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1367430, but you tested with an old Firefox. Can you try again with 55 or greater?

[2017-06-16 12:23] BrandonDude commented on #786
Still an issue in 55.0b2.

[2017-06-16 12:49] BrandonDude commented on #676
https://github.com/SeleniumHQ/selenium/issues/3995

[2017-06-16 12:49] BrandonDude commented on #724
See: https://github.com/mozilla/geckodriver/issues/676

[2017-06-16 13:52] andreastt commented on #786
Paging @mjzffr who has done work in this area.

[2017-06-16 13:59] andreastt commented on #787
Duplicate of https://github.com/mozilla/geckodriver/issues/285.

[2017-06-16 13:59] #787 closed

[2017-06-16 14:52] whimboo commented on #778
To be able to send commands to the chrome scope of Firefox the context has to be switched first. If Python is used as binding you can get some ideas from Foxpuppet: https://github.com/mozilla/FoxPuppet/blob/bd593d59f523a65d67c7630cd34fdbfce688780e/foxpuppet/windows/browser/notifications/base.py#L29.

[2017-06-16 15:37] Debanjan-B commented on #787
@andreastt Can you consider to go through my Issue Description again? IMO, you have merged and closed this Issue with #285 without proper analysis. I am not concerned about facing **WARNING: pipe error: 109: file c:/builds/moz2_slave/m-rel-w64-00000000000000000000** any way. I am discarding the WARNING without any weight. What I am more concerned is about **GeckoDriver producing logs through Chrom

[2017-06-16 15:37] andreastt commented on #463
I’m very likely to fix this as part of https://bugzilla.mozilla.org/show_bug.cgi?id=1372595 because I have to write a WPT test for it.

[2017-06-16 16:08] andreastt commented on #787
That warning is likely not a problem for the overall result of the WebDriver implementation.

You didn’t say anything in your original issue about exactly what error you’re getting from the client, you didn’t include a stacktrace, no trace-level geckodriver log, and no crash log (if it crashes Firefox). All of this is requested in the issue template, so before you feel justified to call out that I

[2017-06-16 16:17] mjzffr commented on #786
@BrandonDude Hey, thanks for checking it in 55. I need some more information from you.

I need to see the request your client is making to the actions endpoint, but the trace log you originally posted seems to be truncated. Please post [a portion of] a log that shows at least shows the request payload like:

[code]

The other thing I'm wondering is whether this happens for only certain categories

[2017-06-16 17:13] kicohen commented on #647
I'm having the same issue with v0.16.1

[2017-06-16 17:53] BrandonDude commented on #786
Here are the new logs. Ctrl+a also did nothing.

1497635484586	geckodriver::marionette	TRACE	-> 44:[0,3,"get",{"url":"https://www.google.com"}]
1497635484587	Marionette	TRACE	0 -> [0,3,"get",{"url":"https://www.google.com"}]
1497635484590	Marionette	DEBUG	Received DOM event "beforeunload" for "about:blank"
1497635485025	Marionette	DEBUG	Received DOM event "pagehide" for "about:blank"
1497635485026

[2017-06-16 20:02] AutomatedTester commented on #787
These errors are nothing to worry about. Mozilla uses different open source projects to build Firefox for different reasons. It showing Chrome errors means nothing in the big picture.

[2017-06-16 21:25] mjzffr commented on #786
@ato Okay, so this involves the `sendKeysToElement` endpoint. It looks like #646 to me. Most likely the modifiers-key properties aren't set correctly when calling into event.js.

[2017-06-16 21:51] akgargo commented on #647
I have the same problem with the lastest geckodriver 0.17.0

[2017-06-16 21:51] akgargo commented on #647
please re-open this issue

[2017-06-16 21:55] akgargo opened #788 "Invalid Argument Error SELENIUM findElement(...).sendKeys()"
there is a problem when I tried to run the example of selenium with the latest geckodriver version (0.17.0).

on:
    driver.findElement(By.name('q')).sendKeys('webdriver');
throw:
    InvalidArgumentError: Expected [object Undefined] undefined to be a string

[2017-06-16 22:03] kicohen commented on #647
I think it might be an issue with the version of Selenium needs to match the version of GeckoDriver.

Selenium 3.3.0 didn't work with Gecko 0.16.1 but Selenium 3.4.0 works with Gecko 0.16.1. I know that Selenium 3.3.0 did not work with Gecko 0.17.0

[2017-06-16 22:10] akgargo commented on #647
I'm Using Selenium 3.4.0 with Geckodriver 0.17.0

[2017-06-16 23:02] andreastt commented on #788
You have not provided any of the information requested in the issue template, most importantly a geckodriver trace-level log. For us to be able to diagnose the issue, you need to provide sufficient information regarding the issue. This is not a good issue report.

I’m more than happy to re-open it once you add an error, stacktrace, trace-level log from geckodriver.

[2017-06-16 23:02] #788 closed

[2017-06-17 05:34] alxliken commented on #706
How could it work fine the first time I run it and then returning 'Permission denied' error message after?

[2017-06-18 13:38] winterflags commented on #659
Seem to be having same issue with:

Selenium: 3.4.3
Python 2.7.13.
geckodriver: 0.17.0
Firefox: 54.0
macOS: 10.12.5

[2017-06-19 11:42] HansAarneLiblik commented on #659
Are you using proxy ? If so, you have to strip the port from 'httpProxy' element and add it to 'httpProxyPort' element.

`String port = proxy.getHttpProxy().substring(proxy.getHttpProxy().indexOf(":") + 1);`
`String host = proxy.getHttpProxy().substring(0, proxy.getHttpProxy().indexOf(":"));`
`JsonObject proxyJson = new JsonObject();`
`proxyJson.addProperty("proxyType", "manual");`
`proxyJson.addP

[2017-06-19 12:05] winterflags commented on #659
I'm personally not using proxy, but thanks for the info/fix!

[2017-06-19 13:25] whimboo commented on #322
I just checked the case from @AlphaTangoFoxtrot and found one issue we have in click(). This might also be related to others seeing it, but to say that I would need trace logs from geckodriver.

I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1374283 and will have a look at this.

[2017-06-19 13:27] whimboo commented on #322
@MartinSoeesJohansen, you as creator of the issue could you please attach such a trace log, or tell which elements you click on for the pages mentioned in the original comment?

[2017-06-19 13:39] MartinSoeesJohansen commented on #322
I've been away from this for too long. Can't attach a trace log or recall the elements I interacted with. Perhaps some of the other commentators can contribute?

[2017-06-19 17:03] akgargo commented on #788
Sorry about that.

Here is the trace log:

`...\node_modules\selenium-webdriver\lib\error.js:489:11)
    at parseHttpResponse (C:\Users\Gargo\OneDrive\Programacion_2017\NodeJS\automation\node_modules\selenium-webdriver\lib\http.js:519:13)
    at doSend.then.response (C:\Users\Gargo\OneDrive\Programacion_2017\NodeJS\automation\node_modules\selenium-webdriver\lib\http.js:441:30)
    at process._tick

[2017-06-19 18:29] whimboo commented on #706
We said it multiple times that this is not a problem with geckodriver or marionette, but just some log output. I'm going to lock down this issue now.

[2017-06-19 18:43] srkannan opened #789 "offsets are from the center of element instead of from the top-left corner"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: macOS Sierra 10.12.5
* Firefox: Firefox 54
* Selenium: 3.4.0

## Steps to reproduce
In org.openqa.selenium.interactions.Actions the x, y offsets for moveToElement has been Offset from the top-left corner.
But with geckodriver I'm getting:
Jun 16, 2017 5

[2017-06-19 19:23] andreastt commented on #789
`moveToElement` is a shim provided by Selenium so it’s possible there is a bug with that. But without a reproducible test case and a trace-level geckodriver log, it is hard to which level this fails at. Can you please provide that?

[2017-06-19 19:26] andreastt commented on #788
@akgargo That’s a stacktrace, and not the trace-level log from geckodriver. Please see the README on how to crank up the log level, either via the `-vv` flag or through the `moz:firefoxOptions` configuration object capability.

[2017-06-19 19:28] srkannan commented on #789
The problem is the x,y offsets I used for old firefox driver and chromedriver don't work for geckodriver. So I get 'indexoutofbounds' exception when using the x,y offsets that I used for earlier versions of the driver. I will try to come up with a reproducible generic test case.

[2017-06-19 19:33] andreastt commented on #789
Sure, but please note that neither FirefoxDriver (from Selenium) or chromedriver are implementations of the [WebDriver specification](https://w3c.github.io/webdriver/webdriver-spec.html). It would be useful to see a trace-level log.

[2017-06-19 20:44] srkannan commented on #789
Here is a simple code to demonstrate the problem. The actual application I automate needs drawing that is why I rely on the Action.moveToElement but I just picked this one to demo the problem.

System.setProperty("webdriver.gecko.driver", "/Users/Downloads/geckodriver");
System.setProperty("webdriver.chrome.driver", "/Users/Downloads/chromedriver");
WebDriver driver = new FirefoxDriver();
// WebDr

[2017-06-19 21:25] whimboo commented on #780
As it looks like a chrome window handle is getting squeezed into this list. My patch on https://bugzilla.mozilla.org/show_bug.cgi?id=1368965 got landed 5 days ago, which should fix that.

@codingphil, can you please re-test with the latest nightly? If it's not fixed I would have to take another look at your example.

[2017-06-19 21:32] whimboo commented on #781
@newton143, if you are still able to reproduce this with the most recently nightly please let us know and we can reopen this issue. Given the lack of response I will close it for now. Thanks.

[2017-06-19 21:32] #781 closed

[2017-06-19 21:34] whimboo commented on #773
In case there is any helpful information please add it to issue #661. It's not helpful to have to maintain two issues which handle the same topic.

To prevent more me too comments, I will lock down this one now. Thanks.

[2017-06-19 21:37] whimboo commented on #782
This is fixed now for Firefox 55 and 56.

[2017-06-19 21:37] #782 closed

[2017-06-20 00:09] heyrex commented on #322
@whimboo Regarding your comment: https://bugzilla.mozilla.org/show_bug.cgi?id=1374283#c1
We maintain a site which uses ```DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"``` and also display:block elements which is having click failures.
I could try and produce a trace if you point me to some information on what tool/config options are require for the trace.

[2017-06-20 05:02] ashutosh143 commented on #695
hi @whimboo @andreastt

Any update?

[2017-06-20 07:37] whimboo commented on #322
@heyrex, a trace won't help here given that the click is just not happening on the real element and as such doesn't produce any helpful output. What you could try is to save the page via "Webpage, complete" so it contains all referenced files. Then try to load it via localhost. If it still fails try to remove the doctype, or the `display:block` rule for the element which fails to click. If that wo

[2017-06-20 08:58] codingphil commented on #780
The bug is fixed in the nightly build **56.0a1 (2017-06-19) (64-bit)**.
Will the fix be available in FF 55 or the ESR version too?

[2017-06-20 09:08] whimboo commented on #780
Good to hear that. We will discuss a possible uplift to 55 at least. Not sure if it is that easy for 52ESR but we will see. Please follow the bug for updates. Thanks.

[2017-06-20 09:08] #780 closed

[2017-06-20 12:04] p0deje opened #790 "Fails to navigate to the same URL with hash parameters"
It seems that GeckoDriver (or Marionette) does not respond to request to navigate to the same URL that is currently loaded when the URL contains hash parameters. In this case, request to navigate simply fails with timeout.

## Platform and application details

* Platform: macOS 10.12.5
* Firefox: Firefox 53.0 (64-bit)
* Selenium: Ruby bindings 3.4.3

## Steps to reproduce

Run the following Ruby s

[2017-06-20 12:37] andreastt commented on #790
I suspect this is fixed in a more recent Firefox. Can you please test again with Firefox Nightly, and if it still does not work, please attach a trace-level geckodriver log?

[2017-06-20 13:24] andreastt commented on #789
I don’t know what `action.moveToElement` does in the Selenium client, which is why I asked to see the geckodriver trace log so I can see what primitives are _actually_ sent across the wire to geckodriver.

That it “worked before” is _not_ a great bug.

[2017-06-20 13:36] p0deje commented on #790
I have just ran this on 56.0a1 (2017-06-20) (64-bit) and still see the same issue. Here is the log (though it's mixed with Selenium logs):

[code]

[2017-06-20 14:00] andreastt commented on #790
Thanks for the log, that’s helpful.

Immediately, it looks to me that the checks I added for this in https://hg.mozilla.org/mozilla-central/rev/39a2655e787d are gone, but have not been replaced by equivalent functionality in the web progress listener. We do have a test for navigation by hash in https://searchfox.org/mozilla-central/rev/2bcd258281da848311769281daf735601685de2d/testing/marionette/ha

[2017-06-20 14:09] ViacheslavBulba commented on #285
Hi All, update of Firefox to 54.0 eliminated this issue for me on Windows 10.

[2017-06-20 14:52] whimboo commented on #790
This is not a page load with a hash change, but loading the same page again. It's interesting that we get `pagehide` events fired, but it could mean that the page was put into `bfcache`. I can reproduce this with Marionette, so I will file a bug for that.

[2017-06-20 15:01] whimboo commented on #790
The bug to handle that is https://bugzilla.mozilla.org/show_bug.cgi?id=1374672. Thank you for the report!

[2017-06-20 17:27] srkannan commented on #789
Below is the log:

1497979442395	geckodriver	INFO	Listening on 127.0.0.1:44950
1497979446968	geckodriver::marionette	INFO	Starting browser /Applications/Firefox.app/Contents/MacOS/firefox-bin with args ["-marionette"]
1497979453319	Marionette	INFO	Listening on port 59254
1497979454432	Marionette	DEBUG	loaded listener.js
2017-06-20 10:24:14.896 plugin-container[90592:1542522] *** CFMessagePort: boo

[2017-06-21 02:21] shaglou commented on #683
patched selenium-webdriver 3.4.0 with this specific change, anyone is welcome to use the patched version here via:
npm i selenium-webdriver-patched --save-dev
LOL

[2017-06-21 14:02] sjieg opened #791 "Net::ReadTimeout after trying to resize browser to the size it already is"
## Platform and application details
* Platform: Windows (probably all)
* Firefox:  54
* Selenium: Ruby Selenium 3.4.3

## Steps to reproduce

1) Open the browser
2) Get the browser window dimensions
3) Resize the browser to the same dimensions

- [x] Reproducable testcase:
[code]

- [x] A trace level log:
https://gist.github.com/lmtierney/4f6e4085ab80688a251a53a1f7b5cc02

[2017-06-21 14:23] davehunt commented on #791
I suspect this is a duplicate or at least same root cause as https://github.com/mozilla/geckodriver/issues/703

[2017-06-21 16:49] florentbr commented on #789
With the old protocol (Wire) the command to move the cursor was `moveto` and the provided offset was relative to the top-left corner of the targeted element:

https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessionsessionidmoveto

But with the new W3C specification and implementation in marionette, moving the cursor to an element now requires a composite action where the offset is rel

[2017-06-21 18:14] andreastt commented on #791
This is, I think, not the same issue as #703. This particular issue is about setting the window size to the existing size, and has been fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1357878.

[2017-06-21 18:14] #791 closed

[2017-06-21 18:18] andreastt commented on #703
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1375185 to fix this in Marionette.

[2017-06-22 06:47] jochenberger commented on #653
Looks quite similar to #322

[2017-06-22 07:38] cnhome commented on #765
很感谢上边的朋友 @andreastt 。
我之前按照网上的例子，这样设置的：
[code]
后来看到了你的提醒，又查了一下geckodriver的官方wiki，我调整程这样：
[code]
一切都可以了。

----------------
Thank you to the above friends @andreastt.
I followed the online example, so set:
[code]
And later saw your reminder, and check the geckodriver official wiki, I adjust this way:
[code]
Everything is fine.

[2017-06-22 09:52] borishinzer opened #792 "Too much recursion error when serialising recursive objects"
## Platform and application details
* Platform: OSX
* Firefox: 54.0 (64-Bit)
* Selenium: 3.4.0

## Steps to reproduce
Codeception Acceptance Test
[code]

- [ ] A trace level log:
I don't know where the log will be saved. So if someone could help me with this I will provide the trace level log.

My node.json looks like this:
[code]

The trace from selenium looks like this:
[code]

[2017-06-22 11:52] whimboo commented on #784
No, the issue is totally clear and was the reason why I pushed to get out a quick geckodriver 0.17.0 release. :) So this is a dupe of issue #702.

[2017-06-22 17:56] florentbr commented on #792
This error usually occurs when an object returned with `execute script` contains a circular reference.

For instance, the driver will fail to return object `a` :

    var a = {};
    a.b = {parent: a};
    return a;

It's not possible to serialize an object with a circular reference, so make sure that there are none in the returned object.

[2017-06-22 18:05] andreastt commented on #792
I think the ‘internal JSON clone algorithm’ in the specification caters for this, but we’re implementing an old version of the specification for evaluating scripts.

[2017-06-22 22:10] jamesaspence commented on #207
Hi, using selenium server standalone 3.4.0 has this issue again. All of my responses are looking like this:

[code]

[2017-06-22 22:54] vortic opened #793 "Race condition in marionette and geckodriver"
## Platform and application details
* Platform: Ubuntu 16.04
* Firefox: 54.0
* Selenium: 3.4.2

## Steps to reproduce
Start several instances of `webdriver.Firefox()`. Some will fail with an error because the socket is already in use.

- [ ] Reproducable testcase:
[code]

- [ ] A trace level log:
Here is the relevant log from `geckodriver.log`:

[code]

[2017-06-22 23:09] vortic commented on #793
Two questions:
1. Is it possible to specify a custom port to use through selenium's `webdriver.Firefox()` constructor? I could not find any relevant information about ports [in the API](https://seleniumhq.github.io/selenium/docs/api/py/webdriver_firefox/selenium.webdriver.firefox.webdriver.html?highlight=webdriver.firefox#selenium.webdriver.firefox.webdriver.WebDriver)
2. If not, is it possible to

[2017-06-23 07:59] borishinzer commented on #792
The same test runs fine in chrome and as far as I'm aware of the google dataLayer doesn't contain circular references, at least I can't see any

[2017-06-23 10:50] jackric opened #794 "Where is the source code?"
This repo is just a README... 4030c529d says the repo moved to Mozilla hosting but there is no obvious link to it near the top of the README, as I would expect.

[2017-06-23 11:08] davehunt commented on #794
The source code is linked from https://github.com/mozilla/geckodriver#contributing

[2017-06-23 12:55] #794 closed

[2017-06-23 12:57] jgraham commented on #793
This seems like it's an issue with the selenum bindings. geckodriver supports specifying a port, so I'm not sure what else we can do here. I suggest asking in a selenium-specific channel.

[2017-06-23 12:57] #793 closed

[2017-06-23 12:59] jgraham commented on #771
If there is a requirement to have an endpoint here it should be in the spec. But an endpoint for this seems like bad design since you probably don't want random clients to shut down the entire service. Instead that can be in control of whoever owns the process using standard os methods for pprocess control. Closing this, but feel free to reopen if there's anything extra we should do here.

[2017-06-23 12:59] #771 closed

[2017-06-23 13:21] jackric commented on #794
OK, that's at the bottom of the page. Why not put something at the top? Wanting see source != wanting to contribute

[2017-06-23 14:23] andreastt commented on #794
Thanks for the suggestion. I’ve moved it further up.

[2017-06-23 15:02] sameerpatil2006 opened #795 "Issue with cookie.isSecure() method"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows 10
* Firefox: 47.0.2 , 53.0
* Selenium: 3.4

## Steps to reproduce

* import gecko drivers
* Get to any website with secure cookies (here I m using www.concursolutions.com)
* Get cookies
*Check if cookie is secure using isSecure() method (if the

[2017-06-23 15:49] florentbr commented on #795
Save type of issue as #463.

Marionette is using a different name to hold the property `nsICookie#isSecure` between `chrome://marionette/content/driver.js` and `chrome://marionette/content/listener.js`.

[2017-06-23 16:28] andreastt commented on #795
Can be addressed as part of https://bugzilla.mozilla.org/show_bug.cgi?id=1372582.

[2017-06-23 18:21] wholewheattoast commented on #659
Also currently having this issue.  Let me know if I can provide other helpful details.
- selenium==3.4.1
- marionette-driver==2.2.0
- Firefox: 54.0 (64-bit)
- MacOs: 10.12.5

[code]

[2017-06-23 20:30] VedemV commented on #683
Hi @skratchdot, writing to confirm that the change works for me. Thank you!
`Windows 10,
node 6.9.1,
selenium-webdriver 3.4.0,
geckodriver 0.17.0
Firefox 54`

[2017-06-24 17:39] junshoong commented on #647
I'm Using Selenium 3.4.3 with Geckodriver 0.17.0, FF54.0

[2017-06-25 12:09] andreastt commented on #792
If it contains a `WindowProxy` object, that causes recursion because it references itself.

[2017-06-26 09:36] Colin1964 opened #796 "Trying to create Geckodriver build for Raspberry Pi Model B (ARMv6) - help needed"
## Platform and application details
* Platform: RPi Model B rev 2 (ARMv6) running Raspian Jessie
* Firefox: Firefox 55
* Selenium: Python 3.4.3

## Steps to reproduce
geckodriver-v0.17.0-arm7hf is not compatible with ARM6 ARCH and returns segmentation fault when I tried to execute it on my Raspberry Pi Model B 1

- [x] Reproducable testcase:
pi@raspberrypi:~ $ ./geckodriver -v
Segmentation fault

[2017-06-26 16:27] phasze opened #797 "Firefox doesn't close if onbeforeunload() function is hit on Quit"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
Windows 7/8/10
Firefox 54
Selenium 3.4.0 geckodriver 0.17.0

## Steps to reproduce
Fire an onbeforeunload() event while closing the browser.  An alert will show (something like 'This page is asking you to confirm that you want to leave - data you have entered may n

[2017-06-27 08:49] Bharadwaj108 commented on #647
I am using Selenium 3.4.0 with Gekodriver 0.17.0 and FF54.0 and still have issues with the sendkeys,the same code works fine with Chrome.

[2017-06-27 11:20] TusharJadhav2727 commented on #240
Hi, Even I am getting the same kind of error response. I am trying to invoke chrome simulator with webdriver.
When I run the script, the webdriver is executing it successfully(showing it has passed the script) but it is not invoking the browser.

And in the console it is printing the following logs:

Starting ChromeDriver 2.30.477700 (0057494ad8732195794a7b32078424f92a5fce41) on port 33583
Only lo

[2017-06-27 15:59] gaponte1985 opened #798 "Your connection is not secure"
In order to help us efficiently investigate your issue, please provide the following information:

* Platform:  IOS 10.12.14
* Firefox:  52
* Selenium: 3.4
* gecko 0.17
When I run my testcases the browser is opening but is not navigating to the website   instead, is opening a page

<img width="1041" alt="screen shot 2017-06-27 at 11 56 46 am" src="https://user-images.githubusercontent.com/996659/2

[2017-06-27 16:50] mprjsp opened #799 "with selenium mozilla will opened but url not getted.."
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform:
* Firefox:
* Selenium:

## Steps to reproduce

- [ ] Reproducable testcase:

- [ ] A trace level log:

[2017-06-27 16:51] mprjsp commented on #799
i get this..
org.openqa.selenium.firefox.NotConnectedException: Unable to connect to host 127.0.0.1 on port 7055 after 45000 ms. Firefox console output:
5-3208198ce6fd}","syncGUID":"ommNmFwma9Xp","location":"app-global","version":"49.0.1","type":"theme","internalName":"classic/1.0","updateURL":null,"updateKey":null,"optionsURL":null,"optionsType":null,"aboutURL":null,"icons":{"32":"icon.png","48":

[2017-06-27 17:22] TuHuynhVan commented on #634
@andreastt
The root cause came from ```accessibility.blockautorefresh;true``` in firefox browser. Everything is ok when I turned this to be ```false```

[2017-06-27 18:18] gauntface opened #800 "setScriptTimeout() Fails: selenium-webdriver v3.4.0, Geckodriver v1.7.1, Firefox 56"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Linux - Ubuntu
* Firefox: 56 (54 and 55 work as expected)
* Selenium: NPM release 3.4.0

## Steps to reproduce
Create driver instance and run:

[code]

- [ ] Reproducable testcase:

- [ ] A trace level log:

Node Trace:
[code]

[2017-06-27 18:58] GothAr opened #801 "ContextClick is not working in FireFox v54"
## Platform and application details
* Platform: Windows 10 Enterprise 1703 (OS build 15063.413)
* Firefox: 54.0 (32-bit)
* Selenium: 3.4.0 (C# binding)

## Steps to reproduce
Download NUnit test project from
[ContextClickInFF.zip](https://github.com/mozilla/geckodriver/files/1106285/ContextClickInFF.zip)
Open it in VS 2015
Build
Run unit tests

- [ ] https://github.com/mozilla/geckodriver page tha

[2017-06-27 20:34] jgubbels commented on #760
@whimboo I've installed the new version of gecko, but the same issue still occurs.

[2017-06-27 20:49] AohRveTPV opened #802 "Get Element Text has to work on rendered text"
## Platform and application details
* Platform: Windows 7
* Firefox: 54
* Selenium: 3.4.0

## Steps to reproduce
1. Try to find element by its CSS text-transformed link text.  For example, with the testcase below and the Python Selenium bindings, ```driver.find_element_by_link_text("FOO")```.

The element cannot be found.  However, the same code finds the element with Chrome and IE.  If I change i

[2017-06-27 20:59] jgubbels commented on #760
If this is not a geckodriver issue, can point me in the right direction? Based on the documentation, everything is configured correctly. The only browser my test does not work in is FF.

[2017-06-27 21:02] whimboo commented on #760
Please provide a new geckodriver trace log.

[2017-06-27 21:25] jgubbels commented on #760
I don't receive any additional logs after changing my log level. They are the same as listed in the issue
[code]

[2017-06-28 02:19] jgraham commented on #799
You need to use the latest Selenium release.

[2017-06-28 02:19] #799 closed

[2017-06-28 03:47] whimboo commented on #792
@borishinzer would you mind attaching a trace level log for this test? It would show us what might go wrong here. Also I don't see what `$I->wantTo('Check datalayer');` is actually doing.

[2017-06-28 04:21] xinzx opened #803 "Firefox Has Stopped Working"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows 7 SP1
* Firefox: 54 64-bit
* Selenium: 3.4.3

## Steps to reproduce
Geckodriver v0.17.0
After executed script(Open Browser and Close Browser), the window pops-up "Firefox Has Stopped Working"

[2017-06-28 13:32] borishinzer commented on #792
@whimboo I would like too if someone tells me where the trace level log is saved or displayed.
I added the json I use to load the selenium node where I added the moz:firefoxOptions. If something is wrong with the config please tell me what is wrong.

[2017-06-28 13:35] whimboo commented on #792
I don't know the node.js binding and how it has been implemented there. Maybe ask someone from this project. Otherwise please explain what this `dataLayer` is, because I cannot find it in the page after just loading it. Maybe something else sets it?

[2017-06-28 16:22] whimboo commented on #611
The feature should be finally available in the next Nightly build of Firefox. Given the complexity of the patch we most likely won't uplift it for Firefox 55.

[2017-06-28 16:22] #611 closed

[2017-06-28 21:26] andreastt commented on #803
Not reproducible.

[2017-06-28 21:26] #803 closed

[2017-06-28 21:31] andreastt commented on #802
This is a known problem with the WebDriver specification. We cannot rely on `innerText` because only Firefox implements it according to the specification AFAIK. Because we want to achieve conformance with other WebDriver implementations, we are currently using a Selenium JS atom, which is known not to take `text-transform`, or indeed nearly any CSS properties, into account.

[2017-06-28 21:40] jgraham commented on #802
I think that's not true? From my cursory reading of the selenium code linked in the spec it looks like it does try to account for the text-transform and whitespace properties.

[2017-06-29 05:20] whimboo commented on #797
In case you mean the following code it works all fine for me on macOS:

[code]

Please show your code and as best the trace log from geckodriver as requested in the new issue template. If we don't get this we will close the issue.

[2017-06-29 05:22] whimboo commented on #798
There is no testcase nor a trace log from geckodriver attached. It means there is nothing we can do here.

Also the problem here seems to be a general issue with the machine the test is run on.

[2017-06-29 05:23] whimboo commented on #800
Please attach a geckodriver trace log as requested in the new issue template.

[2017-06-29 05:26] whimboo commented on #801
Dupe of issue #660.

[2017-06-29 05:26] #801 closed

[2017-06-29 10:28] mprjsp commented on #799
k.tq.

On Wed, Jun 28, 2017 at 7:50 AM, jgraham <notifications@github.com> wrote:

[2017-06-29 11:48] samnit commented on #473
@andreastt
Hey. I am stuck on this same error now.. Is this special Mozilla-only command now exposed to geckodriver???

[2017-06-29 12:05] gouessej commented on #726
@bluejamesbond Maybe try with Firefox ESR 52 under Debian Stretch.

[2017-06-29 14:18] gaponte1985 commented on #798
@Web
Feature: Search for the word UHC in google
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
1498745781742	geckodriver	INFO	Listening on 127.0.0.1:26928
1498745781964	geckodriver::marionette	INFO	Starting browser /Applications/Firefox.

[2017-06-29 14:59] phasze commented on #797
Try it with a grid setup.  I only mentioned that in the end of my first post but it appears to be specific to being run from the grid (remotewebdriver)

[2017-06-29 20:14] akgargo commented on #647
@Bharadwaj108 could you tell us the Chrome version that are you using please. I'm using chromedriver 2.30 and chrome 59.0.3071.115 (Build oficial) (64 bits) but only thing I get is --ignore-certificate-errors message

[2017-06-29 20:23] andreastt commented on #726
FWIW with the latest geckodriver 0.17.0 release, we recommend using Firefox 53 or newer.

[2017-06-29 20:27] andreastt commented on #473
@samliu It is. See the 0.17.0 changelog: https://searchfox.org/mozilla-central/source/testing/geckodriver/CHANGES.md

The `POST /session/{session id}/moz/addon/install` endpoint takes a JSON Object with `{path: <path to .xpi file>, temporary: <boolean>}`.

[2017-06-29 22:30] vtlunchbox opened #804 "Test continues to run after seeing "Canceled page load listener because no navigation has been detected""
# **Firefox Version**

Firefox version: 54.0

# **Platform**

OSX, reproduced on Windows

# **Other**

selenium-webdriver v3.4.0
geckodriver v0.17.0

# **Steps to reproduce**

Launch Test (which launches Firefox)
Go to login page and enter username/password hit send
While page is loading, log shows "Canceled page load listener because no navigation has been detected"
Script continues to run and ca

[2017-06-30 00:16] andreastt commented on #804
So I guess this happens because we don’t see any change in the load state after five seconds, which should be plentiful time for the first event to fire.

Is the environment you run this test in very slow? And is this error reproducible using some URL or a specific document?

@whimboo might want to pitch in too, since he has done work in this area.

[2017-06-30 00:18] andreastt commented on #797
We can’t reproduce this unless you add a trace-level log from geckodriver.

[2017-06-30 00:18] #797 closed

[2017-06-30 00:20] andreastt commented on #798
I think that if you’re getting TLS certificate problems accessing www.google.com, there could be issues with your local network setup.

(Also, the log you attached does not include the trace-level logs from geckodriver. Please see the README for how to include this.)

I am happy to re-open this bug if you feel it is prematurely closed,.

[2017-06-30 00:20] #798 closed

[2017-06-30 00:27] andreastt commented on #802
We may likely be using an outdated version of the Selenium atom (it is hard to update because we don’t know exactly how to build it in the format Marionette expects), so it would be interesting if would be useful if you would verify that this use case works in practice with the Selenium atom from upstream.

[2017-06-30 00:28] vtlunchbox commented on #804
Thanks for the quick response.  It is a web application and when there is a lot of data, page load times can take longer.  I can reproduce it and since page load times differ between runs, it can fail at different points.

In selenium 2.53, the script always waited until the page completely loaded (we set page timeout to 120 seconds).  I did try the document.readyState, but that did not seem to to

[2017-06-30 00:31] andreastt commented on #634
OK, so according to http://kb.mozillazine.org/Accessibility.blockautorefresh, this preference controls the meta http-equiv refresh rule. We don’t support that in Marionette yet, so I’ll re-open this.

The work on this will be tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1363418.

[2017-06-30 00:31] andreastt commented on #634
cc @whimboo

[2017-06-30 00:41] andreastt commented on #796
You can use rustup to install an alternate cross-compile target toolchain.

To list the available toolchains:

[code]

To cross-compile Rust code you need to use `cargo build --release --target <toolchain>`, which may also require you to set up the correct linker in `.cargo/config` depending on which toolchain you use.

You could take a look at https://searchfox.org/mozilla-central/source/testing/

[2017-06-30 00:41] #796 closed

[2017-06-30 01:26] andreastt commented on #804
And do you still set the page load timeout to 120 seconds with geckodriver? I believe we made a change recently where we use the page load timeout instead of the hard-coded five second value, so could you try this again with the latest Firefox Nightly build?

[2017-06-30 01:32] gaponte1985 commented on #798
where I can find readme?

[2017-06-30 02:19] whimboo commented on #804
No, it's not fixed yet. I haven't had the time the last days to check exactly that. So the problem here is handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1373502.

[2017-06-30 02:26] vtlunchbox commented on #804
OK cool, I did try the nightly build just before seeing the latest message from @whimboo.  And just to follow up to the last comment from @andreastt, I am setting the timeout using driver.manage().timeout().pageLoadTimeout(time,unit);  Where time is 120 and unit is TimeUnit.SECONDS.

I will keep a look out for the update to the bug you linked.  Thanks guys

[2017-06-30 08:23] borishinzer commented on #792
dataLayer is a javascript array used by google tag manager. You can find more information here: https://developers.google.com/tag-manager/devguide

[2017-06-30 14:18] whimboo commented on #792
Would it be possible for you to tell us what the content of `dataLayer` is in your failing case?

[2017-06-30 16:35] ice1080 commented on #152
@jsturnio A similar solution worked great for me, but now there are several leftover geckodriver processes. Have you noticed this and have you been able to find any solutions for this?

[2017-06-30 16:44] andreastt commented on #152
@ice1080 This seems like an unrelated issue with subprocess handling in the client you’re using. Let’s not derail this issue.

[2017-07-01 18:16] emesterhazy commented on #511
I am experiencing a similar issue after updating to Selenium 3.4.3.

## Firefox
Tested version 47 and 54.0.1

## Gecko Driver
Tested with 0.13

## Platform
Windows 7 and Python 2.7.12

## Steps to reproduce

As part of my script I am asking the webdriver to load a URL and implicitly wait.
[code]
Once the script gets to the implicit wait it returns the following error:

[code]

## Solution
I ended

[2017-07-01 21:35] jgraham commented on #511
geckodriver  0.13 is very old now. Bugs are fixed in every version so it's unsurprisingly you are having issues.

[2017-07-01 21:35] #511 closed

[2017-07-02 20:33] emesterhazy commented on #511
@jgraham That's a good point. I upgraded to Geckodriver 0.17 and Selenium 3.4.3 and that resolved the issue I described above.

[2017-07-04 03:57] tnguyen14 commented on #725
So webdriver#913 has been closed, and according to this commit by @shs96c https://github.com/w3c/webdriver/commit/a90db4b119de8c77875647e30b611c1c49a4349b, there is support for `noProxy`? Can it be implemented in the geckodriver?

[2017-07-05 08:02] Sl0v3C opened #806 "Add Minimize Window endpoint"
## Platform and application details
* Platform: Ubuntu 12.04
* Firefox: FireFox 56
* Selenium: 3.4.3

## Steps to reproduce
there is no minimize window command

[2017-07-05 13:04] Frankstar commented on #492
Since this should be resolved by now i tried it again with Aurora 56.0a1, geckodriver v0.17.0 and selenium 3.4.3
[code]

`browser.fullscreen()` give me

so im not sure, is this now a geckodriver issue or selenium didnt implement fullscreen?

[2017-07-05 13:09] Frankstar opened #807 "Fullscreen with WebDriver.fullscreen() -> 'WebDriver' object has no attribute 'fullscreen'"
as stated in #492 the problem should be fixed with https://bugzilla.mozilla.org/show_bug.cgi?id=1189749

So i tried it again with
Manjaro 17.02 / 4.11.8-1
Aurora 56.0a1
geckodriver v0.17.0
selenium 3.4.3
python3

[code]

`browser.fullscreen()` gives me

so im not sure, is this now a geckodriver issue or selenium didnt implement fullscreen?

[2017-07-05 13:14] Frankstar commented on #807
just saw #769 - but im not sure if this is related since im an java noob

[2017-07-05 17:42] dpapworth commented on #669
Just to chip in here, I have the same problem using RemoteWebDriver - I've worked around it by manually setting the proxy configuration on the FirefoxProfile object as follows -

        String[] httpHostAndPort = proxy.getHttpProxy().split(":");
        profile.setPreference("network.proxy.type", 1);
        profile.setPreference("network.proxy.http", httpHostAndPort[0]);
        profile.setPrefe

[2017-07-05 17:47] dpapworth commented on #669
I'm using the Docker container selenium/node-firefox-debug:3.4.0-einsteinium as the browser, and I'm using Java with selenium-java 3.4.0.

[2017-07-06 10:48] GitSIPA commented on #511
I am struggling with doing this.
With RemoteWebDriver it is working to execute the element.SendKeys("anytext") method.
On local execution I'm getting an exception:
"Missing 'text' parameter (IndexOutOfBounds)".

Can anybody help me with my problem?

I am using Selenium 3.4.0 (C#), Firefox 54.0.1 (x86) and Geckodriver 0.17.0.

My method for configuring the browser:
`
var profile = new FirefoxProfil

[2017-07-06 13:54] avinvarghese opened #808 "Failed to maximize browser using window().maximize() | GeckoDriver: v0.17.0, Selenium: v3.4.0, Firefox: v54.0"
## Platform and application details
* Ubunut 16.04
* Firefox: 54.0
* Selenium: 3.4.0
* GeckoDriver: 0.17.0

## Steps to reproduce
[code]

- [x] Log:
[code]

[2017-07-06 14:15] eyal919 commented on #669
Any updates about this issues? any ETA?

[2017-07-06 15:43] ZathrasOne opened #809 "WebDriverException: Failed to connect to binary FirefoxBinary(C:\Program Files (x86)\Mozilla Firefox\firefox.exe) on port 7055"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Windows 7 64-bit
* Firefox: 54.0.1 (32-bit)
* Selenium: 3.4.0

## Steps to reproduce
(The Firefox driver geckodriver.exe is in the Drivers subdirectory under the project directory.)
String currentDir = System.getProperty("user.dir");
String driversDir = currentDi

[2017-07-06 18:13] pawarsam opened #810 "selenium not working with mozilla 54.0.1"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows 8
* Firefox: 54.0.1
* Selenium: 3.4.0

During execute selenium script through eclipse following error is displayed

Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Lja

[2017-07-06 19:09] VikasSalunke commented on #285
Hey All Guys I am getting this message after execution of my simple script. Ubuntu 16.04, 64 bit and FF version 54.0. After reading the previous comments tried to comment driver.close() and driver.quit() still the message is shown. Also tried with single FF window still message is displayed.

1499346033895	geckodriver	INFO	Listening on 127.0.0.1:26948
1499346034316	geckodriver::marionette	INFO	Sta

[2017-07-06 19:36] spaudel1 commented on #661
I tested with:
Firefox v54.0 (32bit)
geckodriver v0.17
Selenium Webdriver (Java) 3.4.0

and I am still having the same issue.

[2017-07-06 21:17] bahadurbaniya commented on #511
@GitSIPA  Selenium 3.4.3 (C#) is not needed which does not exist as of 7 July 2017. Only python ruby language bindings exist.

[2017-07-06 23:08] #809 closed

[2017-07-06 23:09] ZathrasOne commented on #809
I was using the Firefox direct driver with FF 54, instead of Marionette. Marionette is still failing, so opening a different ticket.

[2017-07-06 23:26] ZathrasOne opened #811 "Marionette won't connect with browser after opening"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows 7 Enterprise, 64 bit
* Firefox: 54.0.1 (32-bit) and 54.0.1 (64-bit)
* Selenium: Selenium 3.4.0, Marionette driver, Geckodriver.exe version 0.17, both Win 32-bit and 64-bit

## Steps to reproduce
String currentDir = System.getProperty("user.dir")

[2017-07-07 07:44] whimboo commented on #285
@VikasSalunke which message is shown? The lines above don't show anything specific to a failure.

[2017-07-07 12:23] whimboo commented on #756
I just read the issue carefully again and noticed that in the original comment a hang was reported when issuing a click which closes a popup. So this is what has been fixed lately and also got reported as issue #611. Closing this one as dupe.

[2017-07-07 12:23] #756 closed

[2017-07-07 12:29] whimboo commented on #682
This actually got landed a month ago via PR #768.

[2017-07-07 12:29] #682 closed

[2017-07-07 12:31] whimboo commented on #469
And it is fixed in today's Nightly.

[2017-07-07 12:31] #469 closed

[2017-07-07 12:34] whimboo commented on #458
@lmtierney, could you please re-test with a recent Nightly or beta build of Firefox? This might be fixed with my patch for https://bugzilla.mozilla.org/show_bug.cgi?id=1368965, where we sometimes injected a chrome window handle inappropriately.

[2017-07-07 13:13] lmtierney commented on #458
@whimboo looks good!

[2017-07-07 13:16] whimboo commented on #458
Thank you for testing it that quickly. It's great to hear that my patch fixed it.

[2017-07-07 13:16] #458 closed

[2017-07-07 14:02] DavidGangel opened #812 "Selenium gives back wrong number of open Tabs using Firefox"
## Meta -
OS:  Mac OS Sierra
Selenium Version:  Selenium 3.4.0
Browser:  Firefox 54.0.1 (64bit)

## Expected Behavior -
A new tab opens with the loaded PDF file. In SUM you have 2 tab opened. Selenium should return that there are 2 tabs.

## Actual Behavior -
List<String> tabs = new ArrayList<>(driver.getWindowHandles());
Assert.assertTrue(tabs.size() > 1, "New PDF window was not opened after clic

[2017-07-07 16:04] jgraham commented on #812
@whimboo

[2017-07-07 16:12] VikasSalunke commented on #285
@whimboo The message above I have mentioned in the message. Also the FF browser gets close before completing the script execution.

[2017-07-07 16:54] whimboo commented on #812
As requested in the new issue template please provide the test or at least the trace log.

[2017-07-07 16:56] DavidGangel commented on #812
I provided the reproduction steps.
Where can I find the requested logs?

[2017-07-07 18:31] whimboo commented on #812
No, you didn't provide them in detail enough, that we can see what the test is doing. I checked it locally with plain Marionette and it works fine for me when manually opening the pdf in a new tab.

Regarding the logs its all part of the new issue template which I referred to in my last comment. So check that or have a look at the readme file, which gives an example here: https://github.com/mozill

[2017-07-07 18:35] DavidGangel commented on #812
The issue is not that the script is not able to open the PDF.
The issue is after Firefox opens the PDF in new tab you have 2 opened tabs.
However this line tells you have only 1 tab:
List tabs = new ArrayList<>(driver.getWindowHandles());
Assert.assertTrue(tabs.size() > 1, "New PDF window was not opened after clicking PDF button");

[2017-07-07 19:18] whimboo commented on #812
Please show your complete code. How long are you waiting for the tab to be opened? There is no information about that which I can get out of your comments. Sorry.

[2017-07-07 19:23] whimboo commented on #812
This works just fine for me:

[code]

Here the output:

[click on pdf link]

[2017-07-08 03:28] p0deje commented on #800
I see the same failure on Selenium CI: https://travis-ci.org/SeleniumHQ/selenium/jobs/251095621.

It can be easily reproduced with the following Ruby script:

[code]

Here is the relevant part of log the comes from the last line of script:

[code]

[2017-07-09 03:24] p0deje opened #813 "No element click intercepted error while element is obscured"
Originally reported in SeleniumHQ/selenium#4280.

## Description

I am trying to click an element which is obscured by a search text field:

<img width="416" alt="screen shot 2017-07-09 at 08 47 12" src="https://user-images.githubusercontent.com/665846/27990891-275894b2-6487-11e7-8739-f9a341958eac.png">

According to specification ([step 7 of remote end when performing click](https://w3c.github.io

[2017-07-09 05:24] raffam commented on #813
Are you sure this is the intended behavior for `location_once_scrolled_into_view`?
It is called "once scrolled **into view**". If the element is behind the navbar, it means it is not in view, right? Either the function should be renamed "once scrolled to the top of the page" (so it correctly gets behind the navbar) or the name should stay the same but the element should be placed below the navbar,

[2017-07-09 12:17] raffam commented on #810
I have the exact same version of Firefox and Selenium and Windows 10. I use the Python bindings of Selenium and I don't have any of that error. Selenium works fine for me. Maybe you should also post the script that causes this error

[2017-07-09 14:14] vinfur opened #814 "Endpoints Not Accessible /session/{session id}/execute"
On New Version of gecko driver
following /session/{session id}/execute Endpoint inst accessible
on looking into change logs its found that those were discontinued
Please Continue following endpoint as it is helpful for using javascript functionalities

Thanks In Advance

[2017-07-09 15:35] pawarsam commented on #810
Thanks for your reply @raffam , this issue is solved. I removed guava jar 19.0 from jar files. then its work for me, but now when i execute script i am facing mozilla "accessibility feature partially disabled..."  issue.
![mozilla issue](https://user-images.githubusercontent.com/29957704/27995344-579303ac-64ea-11e7-8a49-71a337b96985.png)

[2017-07-09 16:24] andreastt commented on #810
As far as I can understand from https://searchfox.org/mozilla-central/source/browser/components/nsBrowserGlue.js#2792, that prompt is shown when e10s (multiprocess Firefox) is enabled and you have accessibility features enabled in your system.

I can’t see any way for us to disable that easily from Marionette, so I would recommend turning off accessibility when running geckodriver.

[2017-07-09 16:24] #810 closed

[2017-07-09 16:27] andreastt commented on #814
`/session/{session id}/execute` has been replaced by `/session/{session id}/execute/sync` to be in alignment with the [WebDriver specification](https://w3c.github.io/webdriver/webdriver-spec.html).

You didn’t say which client you used, but I suspect you either need to upgrade to the most latest version or file a bug against the client binding.

[2017-07-09 16:27] #814 closed

[2017-07-09 16:32] andreastt commented on #813
geckodriver doesn’t yet enable its WebDriver-conforming Element Click mode, although we have a conforming implementation that it is possible to enable through a capability. https://bugzilla.mozilla.org/show_bug.cgi?id=1321516 tracks enabling it by default.

With Firefox Nightly, can you try setting the `specificationLevel` capability to `1`?

[2017-07-09 16:44] andreastt commented on #800
The `/session/{session id}/timeouts` endpoint was removed in https://bugzilla.mozilla.org/show_bug.cgi?id=1375425. The patch came with an accompanying fix to geckodriver, but a new version has not yet been released.

[2017-07-09 16:48] andreastt commented on #800
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1379482 to track the 0.18.0 release.

[2017-07-10 03:24] p0deje commented on #813
How do I enable `specificationLevel` capability?

I've tried this:

[code]

and this:

[code]

But none of those work.

[2017-07-10 03:25] p0deje commented on #800
Looking forward for 0.18.0. Thank you!

[2017-07-10 05:54] sagar3715 commented on #659
I go this same issue I solved this issue by watching  this video
https://www.youtube.com/watch?v=exYl-pSVTSs&t=1029s

[2017-07-10 07:47] metareven opened #815 "go back not working"
## Platform and application details
* Platform: Windows 10
* Firefox: 53
* Selenium: 3.40
* Geckodriver 0.17

Whenever I try to use browser.navigate().back() on the javascript selenium bindings the test case times out with the following stack trace:

[code]

It works on every other browser I have tried, including Internet Explorer

[2017-07-10 07:52] DavidGangel commented on #812
@whimboo  which geckodriver version do you use?

[2017-07-10 07:53] winterflags commented on #659
@sagar3715 In what way does the video help with the issue?

[2017-07-10 10:12] djowett opened #816 "Can't work out how to get a geckodriver trace in Python"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Ubuntu 16.04
* Firefox: 54.0
* Selenium: 3.4.3

## Steps to reproduce
This works prefectly until I try to add a firefox_options parameter as below:

	import os.path

	from django.contrib.staticfiles.testing import StaticLiveServerTestCase
	from easyproc

[2017-07-10 12:30] dilpreetbadwal opened #817 "Unable to open firefox in mobile mode with desired viewport"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: <Windows10>
* Firefox: <V-52>
* Selenium: <3.3.1>

I have written the code below to open firefox in responsive mode . . The firefox opens in mobile mode but with default size and not the size mentioned in code.

Please check and let me know the issue

p

[2017-07-10 16:21] andreastt commented on #807
A missing API on the client is an issue with the client, and not with geckodriver. geckodriver 0.17.0 and greater has a `POST /session/{session id}/window/fullscreen` endpoint that can be used to send Firefox into fullscreen mode.

[2017-07-10 16:21] #807 closed

[2017-07-10 16:24] andreastt commented on #806
It is true that geckodriver is missing an endpoint for minimise the window, but the Marionette remote protocol does not implement a command to minimise the window yet. It is fine to introduce this endpoint to the geckodriver- and webdriver crates before implementing it in Marionette, of course.

[2017-07-10 17:27] andreastt commented on #817
Without knowing what `FirefoxResponseMode` is, I can’t tell what’s wrong. There is not enough information in this bug that it is actionable.

[2017-07-10 17:27] #817 closed

[2017-07-10 17:29] andreastt commented on #798
https://searchfox.org/mozilla-central/source/testing/geckodriver/README.md or https://github.com/mozilla/geckodriver/blob/master/README.md.

[2017-07-10 17:31] andreastt commented on #592
Closing due to inactivity.

[2017-07-10 17:31] #592 closed

[2017-07-10 17:33] andreastt commented on #775
Closing due to inactivity.

[2017-07-10 17:33] #775 closed

[2017-07-10 17:36] andreastt commented on #789
I think this is a fair point. @florentbr, do you want to raise an issue against the specification?

cc @AutomatedTester

[2017-07-10 17:38] andreastt commented on #812
This behaviour is (probably) not specific to geckodriver version, but to which version of Firefox you are using.

[2017-07-10 17:39] andreastt commented on #816
You’re setting the log level as  _preference_, not a capability. In any case, please raise this issue with the maintainers of the Selenium Python client.

[2017-07-10 17:39] #816 closed

[2017-07-10 17:40] andreastt commented on #815
Firefox 53 is fairly old and we have made a number of improvements to the Go Back command since then. Can you please try again with Firefox Nightly?

[2017-07-10 17:43] andreastt commented on #811
It looks like your Selenium client is passing the wrong session ID to the geckodriver HTTPD:

[code]

I am guessing it fails to pick up the session ID that is returned from geckodriver when starting a new session. Please file a bug with your client binding maintainers.

[2017-07-10 17:43] #811 closed

[2017-07-10 17:49] andreastt commented on #661
It appears the Selenium server has a shim that uses the action API to move the cursor over the element and calls the `pointerDown` action twice. This should in quick succession (within 640 ms to be precise, see https://github.com/operasoftware/operaprestodriver/blob/master/src/com/opera/core/systems/scope/internal/OperaIntervals.java#L126-L131 for more details) cause a DOM `dblclick` event to fire

[2017-07-11 07:47] ashutosh143 commented on #695
Hi @whimboo  @andreastt

Any update?

[2017-07-11 07:57] whimboo commented on #812
Correct. You need Firefox 55 Beta or 56 Nightly, to see it working correctly.

[2017-07-11 10:07] metareven commented on #815
Tried using firefox 54 and had the same issues there. I am running my tests from a selenium node that is hosted remotely and I am not entirely sure how to make the tests run on the nightly build as it is installed as a seperate executable instead of replacing my old firefox. Is there a way to specify the path of firefox in the node config in selenium or some other trick to be able to test this in

[2017-07-11 11:58] DavidGangel commented on #812
Ok then going to try out Firefox 55 Beta on this week and get back to you with the result.
Thank you for the support!

[2017-07-11 12:37] andreastt commented on #815
Firefox 54 is stable. Could you test with Firefox 56 (Nightly)? It would also be good if you attached a trace-level log from geckodriver.

See the README for how to configure a specific Firefox binary through capabilities.

[2017-07-11 13:34] metareven commented on #815
Seems to have the exact same issue on the nightly build.

`15:17:55.531 INFO - Executing: [go back])
15:22:55.572 WARN - Exception thrown
org.openqa.selenium.TimeoutException: Timeout loading page after 300000ms
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'NRKLT59921', ip: '160.67.0.124', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.ve

[2017-07-11 13:51] PascalGit1 opened #818 "Geckodriver freezes after closing a popup window"
**Platform: Windows 7
Firefox: 53
Selenium: 3.4.0
Geckodriver 0.18 (tried previous versions aswell)**

When i close a popup window using window.close it freezes the driver and i cannot perform :
driver.switchTo().window(parentWindowHandler);
To get back to the main window

Error log:
[code]

[2017-07-11 14:03] andreastt commented on #815
And the trace log?

[2017-07-11 14:38] andreastt commented on #818
Did you try this with Firefox nightly as well?

[2017-07-11 14:42] PascalGit1 commented on #818
I have tried with Firefox nightly before although not recently, but the issue was there

[2017-07-11 15:02] andreastt commented on #818
We don’t develop against Firefox 53 anymore because it is an old Firefox version. All development happens against the HEAD of the tree, from which Firefox Nightly is built. It is always a good idea to report bugs having tested against the most recent version.

If you could test against Firefox Nightly and attach a trace-level log that would be most appreciated.

[2017-07-11 19:19] whimboo commented on #790
This is now fixed and will be available starting with the Firefox Nightly build by tomorrow.

[2017-07-11 19:19] #790 closed

[2017-07-11 20:37] andreastt commented on #808
What exactly is the problem? I don’t see any stacktrace or error resulting from running this code. It would generally help if you also provided a stacktrace and tested this against Firefox Nightly, because that’s the target we are currently developing against.

I have recently done substantive work on the Maximize Window command, so you may find that whatever your problem is, will be fixed in Nigh

[2017-07-11 20:44] hmkmnv opened #819 "sendkeys not working in selenium 3.4"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform< Windows10 -->
* Firefox: < 54.0.1 --(64bit)>
* Selenium: < 3.4 + java1.8u -->

## Steps to reproduce
<!--SendKeys not working in selenium3.4>
 package seleniumjar;

import org.openqa.selenium.By;
import org.openqa.selenium.WebDriver;
import org.openqa.s

[2017-07-11 20:59] evgeny1 opened #820 "Maximize Window errors with "Failed to find width field""
gecko v 0.18
FF v 54.0.1
Windows 10
WebDriver v 3.4.0

Steps:
`FirefoxDriver driver = new FirefoxDriver(capabilities);`
`driver.manage().window().maximize();` <- this is where the exception is getting thrown:

`org.openqa.selenium.WebDriverException: Failed to find width field
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'WINX0046', ip: '10.90.4.69', os.nam

[2017-07-12 06:40] suvendu2016 commented on #818
Platform: Windows 10
Firefox: 54.0.1
Selenium: 3.4.0
Geckodriver 0.18

Faced the same issue as PascalGit1 described as above with FF v54.0.1

[2017-07-12 06:54] metareven commented on #815
That there was the trace log after the `15:17:55.450 INFO - Executing: [go back])` and it looks pretty much identical to the one I got on firefox 53

[2017-07-12 08:21] VikasSalunke commented on #283
2125988	geckodriver	INFO	Listening on 127.0.0.1:32468
1499842126381	geckodriver::marionette	INFO	Starting browser /usr/lib/firefox/firefox with args ["-marionette"]
1499842130360	Marionette	INFO	Listening on port 43966
Jul 12, 2017 12:18:50 PM org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: W3C
1499842177170	Marionette	INFO	New connections will no longer be accep

[2017-07-12 08:25] PascalGit1 commented on #818
Tried it both on nightly and latest version of firefox now and still the same problem occurs

[code]

[2017-07-12 10:02] briansagekeo commented on #322
Any update on a fix please? will it be in 3.5?

[2017-07-12 10:25] VikasSalunke commented on #285
Guys any solution for the above problem. I searched and found such error can be fixed by using Firefox profile.

[2017-07-12 10:38] andreastt commented on #815
That log line doesn’t originate from geckodriver, but from Selenium. To have any chance at diagnosing this issue, you need to provide a trace-level log from geckodriver. See the README for how to configure it.

You can either pass `-vv` to the geckodriver binary, or a `{"moz:firefoxOptions": {"log": {"level: "trace"}}}` capability.

[2017-07-12 10:40] andreastt commented on #800
This should be fixed by the 0.18.0 release, which is now out.

[2017-07-12 10:40] #800 closed

[2017-07-12 10:41] andreastt commented on #820
Can you include the full trace-level log, please?

[2017-07-12 10:44] andreastt commented on #818
According to your latest paste, you were still using Firefox 53: `browserVersion=53.0.2`

[2017-07-12 10:59] floriankammermann opened #821 "gecko webdriver crash"
## Platform and application details
* bitnami/minideb:stretch (docker image)
* installed packages
    dg-utils
    libxi6
    libgconf-2-4
    libnss3
    psmisc
    fonts-liberation
    libappindicator1
    libgtk-3-0
    libdbus-glib-1-2
    libxt6
    dbus-x11
    x11vnc
    xvfb

* Firefox: 53.0.3 / 54.0.1 (both have the same behaviour)
* selenium: 3.4.0
* geckodriver 0.18.0

## Steps to repro

[2017-07-12 12:25] andreastt commented on #821
I’m sorry, but I can’t tell what is wrong here unless you provide the full log from geckodriver. I suspect protractor is swallowing it, so you need to find some way to expose the stdout/stderr from geckodriver.

I can tell from the stacktrace that it has something to do with creating a new Marionette (remote protocol) connection to Firefox.

[2017-07-12 12:46] metareven commented on #815
I couldn't find out how to make selenium pass the `-vv` parameter to the geckodriver binary so I went with the capability route. Couldn't see any trace level logs, so I'll just send you the entire log from my test that uses the go back functionality in case you see something interesting
[code]

[2017-07-12 13:10] PascalGit1 commented on #818
Weird i see it to, but it did start up firefox Nightly, let me see why it did that

[2017-07-12 13:31] evgeny1 commented on #820
Full error log:
[code]

[2017-07-12 13:46] pilfro commented on #819
I'm seeing this issue in Windows 7- No errors, test just completes.
ChromeDriver 2.30.0.1
Selenium 3.4
C#
string bfirstname = DateTime.Now + "Billy";

wait.Until(ExpectedConditions.ElementToBeClickable(By.Id("BFirstName")));
driver.FindElement(By.Id("BFirstName")).Click();
SendKeys.SendWait(bfirstname);

(not a developer- BA trying to learn a little to be more useful)

[2017-07-12 14:06] evgeny1 commented on #820
The NPE is expected here, so I did not include it in the error log.

[2017-07-12 19:25] jprashanth1983 commented on #669
I have the same issue too.  I have the latest Firefox and geckodriver installed.  Can someone please help?

Firefox: 54.0.1
Selenium: 3.4
Platform: win 7

ProfilesIni profile = new ProfilesIni();
FirefoxBinary binary = new FirefoxBinary(new File(Config.Path_Firefox));
FirefoxProfile myProfile = profile.getProfile("SeleniumExec");

DesiredCapabilities capabilities = new DesiredCapabilities();
capab

[2017-07-12 20:44] SankySyS commented on #820
I have the same error.

org.openqa.selenium.WebDriverException: Failed to find width field
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'DL', ip: '192.168.0.1', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_131'
Driver info: org.openqa.selenium.firefox.FirefoxDriver
Capabilities [{moz:profile=C:\Users\LEONTI~1\AppData\Local

[2017-07-12 20:53] andreastt commented on #820
The Java stacktrace isn’t very helpful because it doesn’t say what your client sent to geckodriver, nor what geckodriver sent to and received from Marionette. I suspect that it fails to decode the response from Marionette, and that this could be the result of a programming error or that we accidentally broke backwards compatibility in Firefox. In that vein, it would be useful to also test with Fir

[2017-07-12 20:56] SankySyS commented on #820
[code]

[2017-07-12 21:05] SankySyS commented on #820
With Firefox Nightly works as expected

[2017-07-12 23:00] andreastt commented on #820
@SankySyS Thanks, that’s very helpful!

This means that the remote protocol in modern Firefoxen returns a window rect in the response from maximising the window. geckodriver looks for this, but since earlier Firefoxen doesn’t include it, it fails decoding the response.

It looks like this change (made in https://bugzilla.mozilla.org/show_bug.cgi?id=1357878) is only available in Firefox 55 (current

[2017-07-13 05:21] DarpanSinghal commented on #660
Any update on this? I tested ContextClick() with:

## Platform and application details
* Platform: Windows 10
* Firefox: 54.0.1(32 bit)
* Selenium: 3.4.0
* geckodriver v0.18.0

But following code is not working.
	new Actions(driver).contextClick(element).perform();
No action is performed and no exception is thrown.

[2017-07-13 05:42] floriankammermann commented on #821
Will try to create a reproducer.

[2017-07-13 06:51] whimboo commented on #322
What do you mean with `3.5`. This is a bug in Marionette which will have to be fixed in Firefox. Please see the former comments. Thanks.

[2017-07-13 07:15] whimboo commented on #285
@VikasSalunke which script execution? I only see a call to `get` and `close`. Whereby the latter will shutdown Firefox because it's the last window you are closing. If you don't want that just remove the call to `close`.

[2017-07-13 07:49] SankySyS opened #822 "Unable to set Firefox window position"
## Meta -
OS:
Windows 7
Selenium Version:
3.4.0 Java
Browser:
Firefox
Browser Version:
54.0.1, 55.0b8;

GeckoDriver 1.18, Java 1.8

## Expected Behavior -
`driver.manage().window().setPosition(new Point(500, 500));` - sets window position
## Actual Behavior -
Nothing happens. But it's work in IE and Chrome browsers.
## Steps to reproduce -
Using Java try to set window position:
`driver.manage().wi

[2017-07-13 09:46] aldaris opened #823 "Incorrect cookie domain processing"
## Platform and application details
* Platform: OSX 10.12.5
* Firefox: 54.0.1
* Selenium: 3.4.0 with v0.18.0 gecko driver via FirefoxDriverManager

## Steps to reproduce
* add a cookie with foo.example.com domain via selenium
* let the tested app override the cookie using .foo.example.com domain
* retrieve all cookies and see that the cookie list now contains the same cookie name twice, once with

[2017-07-13 11:38] Sumedh31 opened #824 "Accessing webdriver's "maximize_window()" throws an error."
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: Windows 10
* Firefox: 54.0.1 (32-bit)
* Selenium:  Python language bindings for Selenium WebDriver.+Version 3.4.3

## Steps to reproduce
Use maximize_window() webdriver method in the code.

**Note:** This issue appears only with latest geckodriver v0.18

[2017-07-13 11:41] DavidGangel commented on #812
I did try to run the test at SauceLab, but it's not able to start none on dev or beta:
Your test errored. The Sauce VM failed to prepare for this test. For help, please check https://wiki.saucelabs.com/display/DOCS/Common+Error+Messages

@whimboo do you know when will be the current Beta released?

[2017-07-13 11:57] abhishek-infi commented on #820
Jul 13, 2017 4:52:50 PM org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: W3C
FAILED CONFIGURATION: @BeforeClass setupApplication
org.openqa.selenium.WebDriverException: Failed to find width field
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'LAPTOP-D69B8C99', ip: '192.168.2.115', os.name: 'Windows 10', os.arch: 'amd64', os.

[2017-07-13 12:06] SankySyS commented on #824
#820

[2017-07-13 14:41] #824 closed

[2017-07-13 14:45] andreastt commented on #820
I’m going to keep this issue open for tracking until Firefox 55 is released. My recommendation is to upgrade to Firefox 55, which is the new recommended Firefox version to use with geckodriver.

It’s a shame we didn’t discover this before releasing 0.18.0, but Firefox 55 will be out 2017-08-08 (see https://wiki.mozilla.org/RapidRelease/Calendar), which is not too far off.

[2017-07-13 15:12] jugglinmike opened #825 ""Delete Session" command blocked by JS task"
## Platform and application details

* Platform: GNU/Linux (Ubuntu 16.04)
* Firefox: Nightly; 56.0a1 (2017-07-12) (64-bit)
* GeckoDriver version: 0.18.0
* Selenium: Python binding; version 3.4.2

## Steps to reproduce

Currently, the Delete Session command seems to interact with the browser's task queue. In
the following example, the browser is scripted to enter a blocking loop. The
subsequent Del

[2017-07-13 15:41] andreastt commented on #822
Looks like your client is not passing any parameters in the body to `/session/{session id}/window/rect`. Instead, it looks like the body passed to that endpoint is similar to that which is expected for the Execute Script command (it contains `script` and `args` fields).

Because all fields in the input for the Set Window Rect command are optional, geckodriver passes null to Marionette, which retur

[2017-07-13 15:41] #822 closed

[2017-07-13 15:43] andreastt commented on #745
Closing as it can’t be reproduced. Please report back if you have found a way to reliably reproduce it.

[2017-07-13 15:43] #745 closed

[2017-07-13 15:44] andreastt commented on #769
This is now implemented in geckodriver as far as I can tell.

[2017-07-13 15:44] #769 closed

[2017-07-13 16:23] ykulkarni opened #826 "Geckodriver crashing with WebDriverException: Failed to find width field"
If I switch back to geckodriver-v0.16.1 this is not reproducible.

## Platform and application details
* Platform: Window 10 1607
* Firefox: 54.0.1
* Selenium: 3.4.0

## Steps to reproduce
Execute simple test case below -

	@Test
	public void maxWindowTest() throws MalformedURLException {
		URL server = new URL("http://127.0.0.1:4444/wd/hub");
		System.setProperty("webdriver.gecko.driver", WINDOWS

[2017-07-13 16:25] andreastt commented on #826
Duplicate of https://github.com/mozilla/geckodriver/issues/820.

The tl;dr is that you need to upgrade to Firefox 55 or greater.

[2017-07-13 16:25] #826 closed

[2017-07-13 16:26] andreastt commented on #808
I suspect this is a duplicate of https://github.com/mozilla/geckodriver/issues/820.

[2017-07-13 16:26] #808 closed

[2017-07-13 16:53] whimboo commented on #812
Hm, not that sure what I wrote 2 days ago. Basically you should get it working even with the latest release version of Firefox. Just add a wait until condition to your test, so that it waits until the new window handle is available. And again, without any log or real code example I cannot give any other feedback.

I'm closing this issue given that there doesn't seem to be anything actionable on ou

[2017-07-13 16:53] #812 closed

[2017-07-13 20:16] whimboo commented on #725
I'm fairly sure that we will cover that via https://bugzilla.mozilla.org/show_bug.cgi?id=1370959

[2017-07-14 06:36] DavidGangel commented on #812
@whimboo please find the testNG code below:
[code]
Where can I find the geckoDriver logs on the filesystem on MacOS?

If I add a 10sec wait that also does not helps.

[2017-07-14 07:09] otomi opened #827 "Element Click deselects <option> in <select> dropdown"
Im not 100 percent sure if this is a geckodriver issue, but as this scenario works just fine with Chrome I decided to start from here to see if you could help me out.

I would expect that if the value from the dropdown is already selected, it is not changed if I click it the second time. But instead it seems to change it to some other value from the dropdown always.

## Platform and application de

[2017-07-14 09:35] raffam commented on #813
Can we please know how to achieve this?
This bug is causing a lot of annoyances for me, and the browser continues to click on the wrong link

[2017-07-14 10:16] SchulteMarkus commented on #820
**Workaround** by setting size yourself

    // driver.manage().window().maximize();
    driver.manage().window().setSize(new Dimension(1920, 1080));

[2017-07-14 11:06] whimboo commented on #812
At which line of the code are you adding the 10s of sleep?

The log file should be in the current working directory and is called geckodriver.log.

[2017-07-14 11:20] JingMa87 commented on #824
I have the same issue. This is my code:
[code]

[2017-07-14 12:36] whimboo commented on #812
Sorry, but I don't know TestNG so you may want to get it in contact with their support or community to figure it out.

[2017-07-14 12:46] DavidGangel commented on #812
Khm, it should nothing to do with TestNG.
AFAIK geckodriver is a standalone process, so it's logging is managed by you guys.

[2017-07-14 12:55] PascalGit1 opened #828 "Geckodriver not starting on Linux"
**Platform: Linux
Firefox: 56 (nightly)
Selenium: 3.4.0
Geckodriver 0.18**

When trying to start the geckodriver from my jenkins linux server i get the following error:
Then it will hang like this untill i stop the process manually

Error log:
[code]

[2017-07-14 14:19] whimboo commented on #812
Then search your harddrive for such a file. If you are using geckodriver it has to create it.

[2017-07-14 15:17] rravichandar commented on #91
Hi,

I am still having this issue when using
 FirefoxDriverService service = FirefoxDriverService.CreateDefaultService();
                        service.FirefoxBinaryPath = @"C:\Program Files\Mozilla Firefox\firefox.exe";
                       driver = new FirefoxDriver(service);

The error I receive is
OpenQA.Selenium.WebDriverException: The HTTP request to the remote WebDriver server for URL h

[2017-07-14 16:47] ToreyStapleton commented on #820
I'm using Protractor/Node so I use javascript promises, but this is also a nice workaround for dynamic width (local vs remote machine etc).:

`browser.driver.executeScript(function() {
	return {
		width: window.screen.availWidth,
		height: window.screen.availHeight
	};
}).then(function(result) {
	browser.driver.manage().window().setSize(result.width, result.height);
});`

[2017-07-14 16:49] ToreyStapleton commented on #820
I'm using Protractor so I use javascript promises, but here's another workaround for dynamic screen width (local vs remote machine etc).

[code]

[2017-07-14 20:51] jineshqa commented on #769
Firefox 54.0.1, gechodriver version 0.18.0 => Issue is still reproducible.

[2017-07-15 23:01] andreastt commented on #769
@jineshqa But it would help you tested with the Firefox version we actually develop against before claiming it is still reproducible. You will note from https://bugzilla.mozilla.org/show_bug.cgi?id=1370510 that it is only available in Firefox 55 and greater.

[2017-07-15 23:14] jineshqa commented on #769
@andreastt My bad, apologies. I didn't know this is being tracked somewhere else.

[2017-07-17 09:59] whimboo commented on #810
I don't think we should force enabling it with Marionette because it would cause code paths currently marked as fragile in Firefox. Tests won't be stable. So as @andreastt said please disable accessibility or e10s. Whatever is less important to you.

[2017-07-17 10:15] whimboo commented on #813
@andreastt so we do not support `specificationLevel` in geckodriver/webdriver. When I try to set this capability I get the following error:

@p0deje could you create a minimized HTML testcase which demonstrates the exact behavior you see with linkedin? I don't have an account there and such cannot test it with Marionette directly. I wonder if this might be a similar underlying issue as https://bug

[2017-07-17 12:08] whimboo commented on #815
This is a debug log but not a trace log. Can you please show the code how you selected the trace option? Also please show the line of code which navigates back.

[2017-07-17 12:10] whimboo commented on #816
Capabilities in the Python binding are getting set via:

[code]

[2017-07-17 12:18] whimboo commented on #817
You are trying to use features which are only available in chrome scope of Firefox. While staying in content (which is the default) you won't be able to open the responsive design mode of Firefox. So switch the context to chrome first, and then try again. Whereby you will have to check if your Selenium binding is supporting that already or not. For the Python binding it would be `driver.set_contex

[2017-07-17 12:21] metareven commented on #815
Here is the code where I initialize the webdriver
[code]

Here is the part of the test with the back navigation

[code]

I assumed everything was in order since the first line printed when running the tests is
`14:37:56.978 INFO - Executing: [new session: Capabilities [{browserName=firefox, moz:firefoxOptions={log={level=trace}}}]])`

[2017-07-17 14:53] whimboo commented on #815
Strange. Not sure why this doesn't give trace level logs. @andreastt knows more about that, and maybe he can help.

Regarding navigating back, how is `navigate().back()` implemented for the Javascript binding? I would like to see how it calls into geckodriver. If you can send a link I would appreciate that. Thanks.

[2017-07-17 15:30] whimboo commented on #802
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1381519 to cover the Marionette issue.

[2017-07-17 19:25] andreastt commented on #91
@rravichandar It’s not really possible to say way the HTTP request from Selenium times out. You should at least look at the trace-level geckodriver log to see if that reveals anything.

[2017-07-17 19:28] andreastt commented on #824
I’m closing this bug, since it is a duplicate of #820.

[2017-07-17 19:31] andreastt commented on #827
That a checkbox or a dropdown reverses the action when it is interacted with again seems natural, if the goal is to emulate a normal user. I do believe geckodriver implements the specification correctly and that other drivers which doesn’t reverse the action are incorrect.

I’m open to be proven wrong on this. When I click this, the first time it will become selected:

<input type=checkbox>

The s

[2017-07-18 00:33] juangj opened #829 "Feature request: Accept addons as base64 in /moz/addon/install"
(I can move this to Bugzilla if you'd rather it be there.)

The `/moz/addon/install` command accepts a path to the addon, e.g.,
[code]

For use cases where Geckodriver is running on a remote machine, it would be more convenient to be able to give a base64 blob, which Geckodriver would presumably decode and write to a temporary file, like it does with base64-encoded profiles.

Does this seem reason

[2017-07-18 07:27] metareven commented on #815
Source code should be here: https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/lib/webdriver.js#L1151

https://github.com/SeleniumHQ/selenium/blob/ceaf3da79542024becdda5953059dfbb96fb3a90/javascript/webdriver/command.js

It's working for the other browsers we are currently testing on (Edge,Chrome,mobile chrome)

[2017-07-18 08:30] whimboo commented on #815
Ok, so this looks fine. But what I find strange is that debug events from Marionette show up in your log, but nothing appears for 'goBack'. Given that I cannot access this website, can you please check if it is using some framework? I wonder if it could be related to issue 697, which is about Turbolinks.

[2017-07-18 09:06] PascalGit1 commented on #818
These are the methods i use to switch to popup, while using chrome i have no problems:

[code]

[2017-07-18 11:26] djowett commented on #816
Thanks @whimboo, that's very helpful.  I found that the below also worked, but went with your suggestion in the end (the to_capabilities() method doesn't add much it seems)

            capabilities = DesiredCapabilities.FIREFOX.copy()
            log = Log()
            log.level = 'trace'
            capabilities['moz:firefoxOptions'] = log.to_capabilities()

            self.selenium = webdrive

[2017-07-18 11:56] metareven commented on #815
I am not that technically involved in the development of our site, but AFAIK we're not using any specific framework that should affect anything here. However when looking at #697 I can confirm that we do not fire any pagehide or pageload events when navigating back and forth through our application. I guess you can merge this issue with #697 if you require these events to be fired in order to reso

[2017-07-18 13:09] davehunt commented on #816
FWIW another approach is to use the Options class, which can be passed independently from capabilties. You shouldn't need to hard-code the `moz:firefoxOptions` key:

[code]

[2017-07-18 13:25] rravichandar commented on #91
Hi @andreastt ,

Could you please tell me how can I get the trace-level geckodriver log? As I am running from IIS, the geckodriver and firefox runs in background and I just get this exception returned. Thanks!

[2017-07-18 14:51] briansagekeo commented on #322
1.8 that was a typo

[2017-07-18 15:09] andreastt commented on #91
@rravichandar You need to set a capability `{"moz:firefoxOptions": {"log": {"level": "trace"}}}` or append `-vv` to the geckodriver command line. This is also documented in the README.

[2017-07-18 15:10] andreastt commented on #91
Also I need to add, you should really file a new issue instead of resurrecting a closed issue.

[2017-07-18 16:08] andreastt commented on #818
We don’t develop against 54 either. Any chance you can test with Nightly (56)? It would also be useful with a trace-level log.

[2017-07-18 16:18] andreastt commented on #829
I think it’s a good idea to accept a Base64 string. An easy fix would be to make geckodriver accept this and put the addon somewhere temporary, then pass the path of the file onto Marionette. That way no changes to Marionette would be necessary.

What do you think?

[2017-07-18 18:15] juangj commented on #829
Exactly what I was thinking. And Geckodriver would reject the request if it contained both a path and a base64 string.

[2017-07-18 21:37] Ravi-ratnakaram commented on #647
I am still seeing the same issue with v16.0 and 3.4.0 . Can someone confirm whether this issue fixed or not?

[2017-07-19 04:35] whimboo commented on #815
I see. But it might still be something else. So is this behavior only visible for the development version of the website? Or can someone also see this for the public version? If yes, it would be great if you can construct a minimal Selenium testcase which let me reproduce it.

[2017-07-19 04:52] otomi commented on #827
With a checkbox I think the behaviour you described is correct.

With a dropdown I think the behaviour is incorrect. If I click on a option element which has the selected attribute already on it, I would expect nothing to change. The option element still has the selected attribute after the second click. This would match the browser behaviour when clicking is done manually in the browser also. Sel

[2017-07-19 08:13] metareven commented on #815
We don't have a production version of the website I am writing tests for right now, but we have another production site with the same issue that I could send you a link to.

http://nrk.no/valg/2017/valgomat

[code]

The test times out on the `driver.navigate().back()` on firefox, but if you try with for instance chrome it should work just fine

[2017-07-19 11:17] PascalGit1 commented on #818
Like i said it works on Nightly.
But i guess I shouldnt try and get it to work on 54

[2017-07-19 15:32] rravichandar opened #830 "timed out exception error when inizializing firefox driver"
Versions IIS: 10.0.15063.0
firefox: 55.0b9 (64-Bit)
firefox driver: Selenium.Firefox.WebDriver.0.18.0 (Installed from Nuget package manager)

Exception that occured:
OpenQA.Selenium.WebDriverException: The HTTP request to the remote WebDriver server for URL http://localhost:52220/session timed out after 60 seconds. ---> System.Net.WebException: Die Anfrage wurde abgebrochen: Timeout für Vorgang üb

[2017-07-19 15:33] rravichandar commented on #91
I created the new issue here:
https://github.com/mozilla/geckodriver/issues/830

[2017-07-19 15:37] rravichandar commented on #830
I guess the issue has to do something with Remote Webdriver eventhough the local webdriver was used. The firefox(32) and geckodriver(32) starts in the background (Since IIS was used, the browser and the driver runs in the background) before this exception is thrown

[2017-07-19 15:47] TangPere commented on #669
I think the problem is the Proxy, because when I using JSONObject to pass the parameter
`JsonObject proxyData = new JsonObject();
        proxyData.addProperty("proxyType", "manual");
        proxyData.addProperty("httpProxy", "127.0.0.1");
        proxyData.addProperty("httpProxyPort", "1080");`
Will throw a Exception  "httpProxyPort was not an integer"
so, I change the code to
`JsonObject proxyD

[2017-07-19 16:30] sky-joaonabais commented on #755
@whimboo any news on this? Thanks

[2017-07-19 18:00] pawarsam commented on #810
yes i agree with @whimboo

[2017-07-19 19:39] marystrohanova commented on #661
Hi! Any update/workaround for this? Issue still appears in gheco v0.17.0

[2017-07-20 10:59] sky-joaonabais commented on #755
I've tested with
Firefox version: 54.0.1 (64-bit)
Ghecko driver: 0.16.1-x64

It is working seamlessly

[2017-07-20 11:41] skjindal93 opened #831 "Resource Timing API not showing correct resources in Selenium"
## Meta -
OS:  OSX
Selenium Version:  3.4.3
Browser:  Firefox
Browser Version:  54.0.1

## Steps To Reproduce -
I have geckodriver latest version installed and I am running latest Firefox version. I wrote a selenium script to just open a URL in firefox and keep the browser open (I am not calling driver.close() or driver.quit())

Here is what the script looks like

[code]

<img width="1440" alt="sc

[2017-07-20 12:02] nkpatnis commented on #511
Geckodriver 0.17 and and Java Selenium 3.4.0 same issue

[2017-07-20 13:34] romanbarabash commented on #820
win 10 ; gecko 0.018 ; FireFox 55.0beta ; selenium 3.4.0 -
driver.manage().window().maximize(); works for me.

[2017-07-20 14:22] rravichandar commented on #830
This issue is resolved. It has nothing to do with gecko driver but when the Application PoolIdentity in IIS was changed to LocalSystem, it started working again.

[2017-07-20 14:22] #830 closed

[2017-07-20 15:14] whimboo commented on #755
This is working with geckodriver 0.17 and upwards.

[2017-07-20 15:18] whimboo commented on #818
This is just another dupe of issue #611, which I fixed in Firefox Nightly (56).

[2017-07-20 15:18] #818 closed

[2017-07-20 17:43] mjzffr commented on #661
Hey! This is on my todo list. I haven't reproduced the issue yet, but I'll comment more once I take a closer look.

@andreastt Yes, I think dblclick should be synthesized when using Actions, and I remember this working a long while ago, but I will need to check again.

[2017-07-20 23:14] shs96c opened #832 "Error message when New Session failed lacks information"
In order to help us efficiently investigate your issue, please provide the following information:

## Platform and application details
* Platform: OSX
* Firefox: 56.0a1 (2017-07-19) (64-bit)
* Selenium: 036b87c80b2f31808c628f21d07dbec965f2df70

## Steps to reproduce
- [X] Reproducable testcase:
[code]

A `SessionNotCreatedException` is thrown (as expected), but the error message is simply:

```Una

[2017-07-21 00:51] juangj opened #833 "Delete Session throws an error in FF 53 + Geckodriver 0.18.0"
## Platform and application details
* Platform: Linux
* Firefox: 53.0
* Selenium: none

## Steps to reproduce
[code]

Result in Firefox 53.0:
[code]

In Firefox 54.0 and later, the quit command works fine. From https://bugzilla.mozilla.org/show_bug.cgi?id=1337743, it sounds like that's approximately intentional -- if so, I think the Geckodriver README should recommend Firefox 54+ instead of 53+.

[2017-07-21 01:35] raffam opened #834 "Firefox click on the wrong link even if the correct one is clickable"
## Platform and application details
* Platform:  Windows 10
* Firefox:  reproducible on both "54.0.1" and "56.0a1 (2017-07-20) (64-bit)"
* Selenium:  python bindings 3.4.3
* GeckoDriver: 0.18

## Description of the problem
Originally reported in SeleniumHQ/selenium#4343 and remanded here

You call `.click()` on a link. Firefox scrolls the correct link into view. The link is now at the bottom of th

[2017-07-21 09:53] andreastt commented on #833
Yes, we ran into a similar issue on https://github.com/mozilla/geckodriver/issues/820 (but for 55). We should definitely recommend 54 and greater.

[2017-07-21 09:55] #833 closed

[2017-07-21 10:28] Sl0v3C opened #835 "webdriver cannot quit() successfully with geckodriver v0.18"
## Platform and application details
* Platform:  Ubuntu 12.04
* Firefox:  rv:52.0
* Selenium: python selenium3.4.3

## Steps to reproduce
driver = webdirver.Firefox()
driver.quit()

- [ ] A trace level log:
  File "test.py", line 4, in <module>
    driver.quit()
  File "/usr/local/lib/python3.4/dist-packages/selenium/webdriver/firefox/webdriver.py", line 181, in quit
    RemoteWebDriver.quit(self)

[2017-07-21 10:52] jgraham commented on #832
Yeah, this is a known problem. I've discussed it before with @andreastt and I think we know what to do, but it's not trivial to fix.

The problem is that because there are multiple possible matching capabilities sets, we need to collect the errors that stopped each one matching. That means changing some of the traits for handling capabilities matching to return something like a `Result<(), Vec[Str

[2017-07-21 10:54] jgraham commented on #835
This is fixed in newer Firefox versions. If you upgrade to 54+ then it should work.

[2017-07-21 10:54] #835 closed

[2017-07-21 12:43] raghavilatha commented on #613
I too getting the same error log as shown in above, Could you help me how could I solve this issue?

[2017-07-21 14:24] OndraM commented on #669
Confirmed in latest geckodriver (0.18.0), Firefox 54.0.1 and Selenium 3.4.0.

The language bindings are https://github.com/facebook/php-webdriver/, however, the POST parameters send to Selenium server when creating the session are:
`{"desiredCapabilities":{"browserName":"firefox","platform":"ANY","name":"Lmc\\Jobs\\ProxyTest::testProxy","proxy":{"proxyType":"MANUAL","httpProxy":"proxy.foo.bar","ht

[2017-07-21 16:45] shs96c commented on #832
My reading of the algorithm in the spec is that you can stop the moment there's something that doesn't match --- as a temporary first step, it would be useful to just return that first error.

[2017-07-21 17:39] raghavilatha commented on #613
@Scott

Hello I am facing the below issue.

1494346989164	geckodriver	INFO	Listening on 127.0.0.1:37201 1494346990552	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"] 1494346990947	addons.manager	ERROR	startup failed: [Exception... "Component returned failure code: 0x80070057 (NS_ERROR_ILLEGAL_VALUE) [nsIFile.create]"  n

[2017-07-21 17:39] raghavilatha commented on #613
1494346989164	geckodriver	INFO	Listening on 127.0.0.1:37201 1494346990552	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"] 1494346990947	addons.manager	ERROR	startup failed: [Exception... "Component returned failure code: 0x80070057 (NS_ERROR_ILLEGAL_VALUE) [nsIFile.create]"  nsresult: "0x80070057 (NS_ERROR_ILLEGAL_VALUE

[2017-07-21 17:42] raghavilatha commented on #613
I too still facing the below issue.

1500658889294	geckodriver	INFO	geckodriver 0.18.0
1500658889307	geckodriver	INFO	Listening on 127.0.0.1:4610
1500658896760	geckodriver::marionette	INFO	Starting browser C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"]
1500658897269	addons.manager	DEBUG	Application has been upgraded
1500658897334	addons.manager	DEBUG	Loaded provider s

[2017-07-21 17:47] raghavilatha commented on #613
I too facing the below issue, Can anybody help me out?

1500658889294	geckodriver	INFO	geckodriver 0.18.0
1500658889307	geckodriver	INFO	Listening on 127.0.0.1:4610
1500658896760	geckodriver::marionette	INFO	Starting browser C:\Program Files (x86)\Mozilla Firefox\firefox.exe with args ["-marionette"]
1500658897269	addons.manager	DEBUG	Application has been upgraded
1500658897334	addons.manager	DEBU

[2017-07-21 17:49] raghavilatha commented on #613
@andreastt

My Firefox browser is getting is crashed upon closing driver instance.

Above is the logs, I am getting.

Could you help me out?

[2017-07-21 22:08] juangj commented on #829
Here's a sample patch that works, but isn't really pretty: [issue829.patch.txt](https://github.com/mozilla/geckodriver/files/1166846/issue829.patch.txt)

There are at least a few things I don't like about this:
* The temporary file is never deleted. There are plenty of options for creating temporary files that are automatically deleted when the file reference is dropped. That would be convenient,

[2017-07-21 22:14] juangj commented on #829
Oh, and, I'd definitely appreciate any feedback about Rust idioms/style.

[2017-07-22 11:22] whimboo commented on #834
@raffam, I have seen that your username and password was in the log files. For security I removed those but I would propose that you still change your password.

Also I see that the failure happens when clicking "see 1 more":

[code]

Here no `onbeforeunload` handler gets thrown and as such we cancel a possible page load. Now my question, what should a click on this element result in? Is there a A

[2017-07-22 11:33] whimboo commented on #831
Not sure I understand but when I do the steps in Firefox Nightly I see 130 entries for the first load of the page, and 123 for a page reload. And this is outside of Geckodriver and Marionette.

[2017-07-22 11:36] whimboo commented on #829
@juangj having a bug filed on Bugzilla would be great. Same for your patch being uploaded to Mozreview. If you haven't done this yet, here some information https://wiki.mozilla.org/User:Mjzffr/New_Contributors.

Thanks!

[2017-07-22 11:38] whimboo commented on #828
Which version of Firefox are you running in '/opt/firefox/firefox'? Is that really 56? If yes, do you have another instance of Firefox open, which has Marionette enabled? The failure `NS_ERROR_SOCKET_ADDRESS_IN_USE` shows that the port Marionette wants to use is already taken.

[2017-07-22 11:45] whimboo commented on #823
@aldaris can you please test with Firefox Nightly? We have made some changes lately which could have fixed this issue. Thanks.

[2017-07-22 11:47] whimboo commented on #819
What is `SendWait` actually doing here? This looks something specific for the C# binding.

Also please provide a trace level log as requested by default when creating a new issue. Thanks.

[2017-07-22 11:50] skjindal93 commented on #831
Exactly my point. If you do this without geckodriver, then it works fine. But, if you use selenium with geckodriver and do the same test. There is a huge difference in number of resources reported in first load vs second load(from cache)

[2017-07-22 12:17] raffam commented on #834
@whimboo Thank you for looking into this

Damnit, I was in a hurry and didn't look at the logs. I will, thank you

Yes, exactly

Yes, the click results in an AJAX call which changes the DOM.
You can try for example in Chrome Developer Tools by going to the [profile of](https://www.linkedin.com/in/sachindsharma/) the guy
Both after the page loads and after you click on "See more positions", there i

[2017-07-22 17:36] whimboo commented on #834
ChromeDriver doesn't support the WebDriver spec yet, and I also cannot find something in the WebDriver nor HTML spec which mentions XMLHttpRequests for navigation.

@AutomatedTester, mind checking that regarding the spec?

[2017-07-22 17:41] abhishekjain118 commented on #820
Hi All,
I too see this issue -
what is the equivalent workaround for this issue in Python.. ?
i.e.
driver.manage().window().setSize(new Dimension(1920, 1080)); ## java code
how do I write this in Python ?

[2017-07-23 07:15] aldaris commented on #823
@whimboo just tested my JS example app with:
Firefox: 56.0a1 (2017-07-22) (64 bit)
Selenium: 3.4.0 with v0.18.0 gecko driver

the issue was still present, I've seen two different cookies: one with leading dot in the cookie domain and one without.

[2017-07-23 11:38] ohadperry commented on #820
@abhishekjain118  +1. also encountered this issue. updated firefox to 0.54

[2017-07-23 16:21] Heavenwalker opened #836 "Safe Browsing"
Opening a malicious site using geckodriver will not display the warning page (while Firefox and Safe Browsing do indeed block it). Any idea why this is happening?

I'm using this script with Python on Windows 10

BE ADVISED THE URL IN USE IS MARKED AS NOT SAFE (although it has been already brought down)

[code]

Thanks.

[2017-07-23 17:28] arpitjindal97 commented on #835
Firefox ESR is having same problem on Debian:latest (docker)

[2017-07-24 13:32] asrafiq commented on #659
C# workaround:
`driver.Manage().Window.Size = new Size(1920, 1080);`

[2017-07-24 14:44] sky-joaonabais commented on #755
@whimboo, This is working on Mac OS X but in Windows 10 I got the following:

[code]

Using geckodriver 0.18.0:

[code]

I've created the firefox profile using profile manager I've created the base64 version whit:
[code]

And then I've zipped it.

Not sure If I'm missing anything here, but I'm still getting a `AddonManager is not initialized`.

I'm using Firefox 54.0.1

[2017-07-24 14:58] AutomatedTester commented on #836
We specifically disable safe browsing when in control of Marionette/GeckoDriver. If you want it reenabled you will need to switch the prefs back using Firefox Options

[2017-07-24 14:58] #836 closed

[2017-07-24 14:59] AutomatedTester commented on #831
@skjindal93 when you say this works fine without geckodriver, did you test with a new profile?

[2017-07-24 15:04] AutomatedTester commented on #819
from https://github.com/mozilla/geckodriver/issues/819#issuecomment-314774122 it looks like a chromedriver issue. There is also no actionable steps to reproduce so closing.

[2017-07-24 15:04] #819 closed

[2017-07-24 15:09] asrafiq commented on #820
var screenWidth = Screen.PrimaryScreen.Bounds.Width;
            var screenHeight = Screen.PrimaryScreen.Bounds.Height;
            CurrentDriver.Manage().Window.Size = new Size(screenWidth, screenHeight);

[2017-07-24 15:25] cbaquero-ar opened #837 "Firefox 54.0.1 not able to connect with gecko driver (v 0.17.0) in jenkins"
Hello,
I'm having issues using geckodriver v0.17.0 with Firefox 54.0.1 on a Jenkins build. This actually doesn't happen running the tests locally from Visual Studio, which confuses me a lot.

## Platform and application details

* Platform: Windows Server 2008 R2 Standard
* Firefox: 54.0.1 32 bit/64bit (tried different versions and architectures)
* geckodriver: 0.17.0 (18 doesn't work for FF 54.0.

[2017-07-24 15:26] skjindal93 commented on #831
@AutomatedTester Yeah. What do you mean by new profile? I opened a new Firefox window. And the results were okay. There was no difference in number of resources reported at the time of first load vs second load

[2017-07-24 15:52] AutomatedTester commented on #831
Since GeckoDriver or anything related to this has no impact on how this works I am going to close the bug. Also your last comment says its now okay.

If this continues to happen I suggest you raise a bug on [Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&component=DOM)