[2017-12-05 07:41] eweseong commented on #979
hmm not too sure, I've not explicitly assign any ports so I would assume it is assigned by the driver randomly

Attached is the log ran with the nightly provided, the error attempt can be found starting @ line 1074
[n-3-geckodriver.log](https://github.com/mozilla/geckodriver/files/1530070/n-3-geckodriver.log)

[2017-12-05 09:53] q-jack opened #1090 "click/submit do not trgger a page load"
## System
* Version: geckodriver 0.19.1
* Platform: windows 10 64-bit
* Firefox: 57.0.1 (32-bit)
* Selenium: selenium standalone server 3.8.1

## Testcase

I am using the php webdriver lib [steward](https://github.com/lmc-eu/steward) for selenium test.
I have the issue when testing with firefox when submitting a form (via a click or via a submit) firefox does not load the redirected page. The even

[2017-12-05 10:39] PascalGit1 commented on #1084
Seems like the problem of logs not showing in console happened when i updated my pom to selenium 3.7.0 ill try and see what exactly cause the issue, if anyone has an idea, here is my pom:

[code]

[2017-12-05 10:43] hqbrice commented on #1088
Yes, it's consistently reproducible with FF 57
Tried with Firefox Nightly : The problem is reproduced in 3 attempts
How can I help you to get if crash comes from driver or browser ?

[2017-12-05 11:04] PascalGit1 opened #1091 "Process unexpectedly closed with status: 1"
## System
* Version: 19.0
* Platform: Linux server
* Firefox: Nightly
* Selenium: 3.8.1
'
I'm running my cucumber tests from a linux machine using jenkins.
Every few tests they will fail randomly with the Process unexpectedly closed with status: 1 error

## Trace-level log

I just added all the logs from a failed case that had this error:

[code]

[2017-12-05 11:36] andreastt commented on #1091
`Error: cannot open display: :95` would indicate that Firefox fails to open on that X display. Make sure you set the `DISPLAY` output variable properly for the process.

In any case, not a geckodriver issue.

[2017-12-05 11:36] #1091 closed

[2017-12-05 11:38] andreastt commented on #1090
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines]. It would also be useful if you tried reproducing with Firefox Nightly.

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriv

[2017-12-05 12:23] q-jack commented on #1090
sorry but in my setup I can not set the log level to trace.
The above mentioned log is not helpful at all?

1512467257919   Marionette      DEBUG   Canceled page load listener because no navigation has been detected

What does this log mean?

Are there some guidlines how to reproduce with firefox nightly?

[2017-12-05 12:40] PascalGit1 commented on #1091
I'm not sure what else to set for the display, its weird that it works some of the tests but fails randomly.
It also works fine on other browsers.

How i set the display:
![display](https://user-images.githubusercontent.com/22746723/33607563-dafc1d04-d9c1-11e7-94e4-a7e6e92f075e.png)

[2017-12-05 13:06] andreastt commented on #1090
It’s all documented in the [contribution guidelines] and examples are found in the [trace-level log] document I linked to earlier.

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2017-12-05 14:42] whimboo commented on #1026
Just wait for a specific element of the target page to become present. That should work in most cases. I cannot say how long it will take to get this clarified and implemented.

[2017-12-05 15:08] q-jack commented on #1026
I already tried the both types of waits, the pageload does not happen except when I open the inspect tool, switch to network and check the persist all checkbox. then the pageload is happening

[2017-12-05 15:12] andreastt commented on #1089
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2017-12-05 15:36] whimboo commented on #1089
@iHaagcom you are facing a crash of a tab here, and as such Firefox gets closed. Did you only try with Firefox 58.0b8, or does the same also happen with Firefox 57? Does changing the sandbox help?

If you can get Selenium to not delete the temporary profile, and check for minidump files inside the `minidump` subfolder that would be great. I would appreciate if you could attach those to this issue,

[2017-12-05 15:39] whimboo commented on #702
@sankalpg123, no you are not seeing this mentioned error. The paths of Firefox in your log look perfectly correct.

I'm going to lock this issue now, given that it got fixed a long time ago.

[2017-12-05 15:48] whimboo commented on #979
Ok, so Firefox experiencing a crash during shutdown, maybe related to the kill signal as sent to the process. But compared to other iterations this is interesting:

The process has been put in sleep mode, but your script is continuing. Additionally I can see dozen of different content processes of Firefox lingering around. That is something your previous logs haven't shown. Can you please check th

[2017-12-05 15:52] whimboo commented on #1088
Can you please run the test with a debug Nightly build of Firefox? You can find one here:

https://queue.taskcluster.net/v1/task/cbY2rrQXRC6QD-O1fM7zLQ/runs/0/artifacts/public/build/target.tar.bz2

It will dump way more output to the log which should give us an indication. I'm fairly sure it's Firefox which unexpectedly closes.

[2017-12-05 15:54] whimboo commented on #1091
Your screenshot shows a display :96, while the log has :95. Why the difference?

[2017-12-05 15:58] whimboo commented on #1090
@q-jack is the submission of the form delayed by maybe a registered event listener for `#safeText`? That is what I could imagine when I see that code.

Btw. you also commented on issue #1026 which I think this issue is a dupe of.

[2017-12-05 16:05] q-jack commented on #1090
Thank you for the link because in the contribution file which is shown when clicking on new issue(https://github.com/mozilla/geckodriver/blob/master/CONTRIBUTING.md) the trace log link is broken.

I am really trying to get the trace log but it is not so easy with the facebook/php-webdriver

[2017-12-05 16:08] PascalGit1 commented on #1091
this screenshot was made after the test on 95, i changed it because 95 was in use at the time.

[2017-12-05 17:17] hqbrice commented on #1088
This is I get :
`1512494150555   mozrunner::runner       INFO    Running command: "/usr/bin/firefox" "-marionette" "-profile" "/tmp/rust_mozprofile.TIyHMl6iPpDY"
1512494150580   geckodriver::marionette TRACE     connection attempt 0/600
1512494150681   geckodriver::marionette TRACE     connection attempt 1/600
1512494150781   geckodriver::marionette TRACE     connection attempt 2/600
1512494150882

[2017-12-05 17:19] andreastt commented on #1088
That log tells us you’re using /usr/bin/firefox, which is presumably not the build @whimboo linked to?

[2017-12-05 17:22] hqbrice commented on #1088
I removed Firefox and install it from https://ftp.mozilla.org/pub/firefox/nightly/2017/12/2017-12-04-23-41-37-mozilla-central/firefox-59.0a1.en-US.linux-x86_64.tar.bz2 file.

[2017-12-05 17:26] andreastt commented on #786
Disabling multiprocessing in Firefox will _not_ be testing the same browser that your users are using. Firefox ships with it enabled and there will in the future be features that will stop working when run in single-process mode.

[2017-12-05 17:28] hqbrice commented on #1088
`wget https://ftp.mozilla.org/pub/firefox/nightly/2017/12/2017-12-04-23-41-37-mozilla-central/firefox-59.0a1.en-US.linux-x86_64.tar.bz2
tar xjf firefox-59.0a1.en-US.linux-x86_64.tar.bz2
sudo rm -r /opt/firefox
sudo mv firefox /opt/firefox
sudo ln -s /opt/firefox57/firefox /usr/bin/firefox
`

[2017-12-05 17:51] hheexx commented on #786
@whimboo I am not sure about that bug filling. Memory usage is collateral damage of multi process model. 2 processes must use more memory then 1. Also IPC has cost.

e10s is faster in perceived performance for topical web browsing usage but in my case of 10 instances of Firefox always open and pumping pages... single process makes sense to be faster.

[2017-12-05 22:14] iHaagcom commented on #1089
Hi whimboo,
The crash happened on version 57 before I tried the beta version. The sandbox option wouldn't work, it would give a AttributeError: 'Options' object has no attribute 'addpreferences', that is with from selenium.webdriver.firefox.options import Options imported. Im fairly new to python, any tricks to get Selenium to not delete the temp file?

[2017-12-06 03:45] AutomationObject opened #1092 "Click/Subject is not working"
## Mac MacBook Pro
* Version: v0.19.1
* Platform :  macOS
* Firefox: 57.0.1 (32-bit)
* Selenium: selenium standalone server 3.8.1

## Testcase

* I am using the slenide lib steward for selenium test.
I have the issue when testing with firefox when submitting a form (via a click or via a submit) firefox does not load the redirected page. The event was firing but it seems like the request have been

[2017-12-06 05:01] eweseong commented on #979
after the initial run

fortunately they will be killed after a certain amount of time ~5 - 10 minutes

i'll give this a try

[2017-12-06 06:25] whimboo commented on #1026
@q-jack can we please continue on issue #1090 until it's not clear that it is a duplicate? Thanks

[2017-12-06 06:29] whimboo commented on #1091
Ok, so as you have said it sometimes fails but not all the time. I have seen a similar thing on issue #1020, which this issue might be a dupe of. But first please provide a [trace log](https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html) which shows that it works for one test, but then fails for the next one. I would really appreciate that. Thanks.

[2017-12-06 06:33] whimboo commented on #1088
You are moving the installation files to `/opt/firefox`, but then creating a symlink to `/opt/firefox57/firefox`. So not sure which firefox version is really picked up. Basically you should not replace a system installation of Firefox. You can basically untar the bz2 file whereever you want, and just use that path to run Firefox. Just mark the binary in the Firefox options inside of the capabiliti

[2017-12-06 06:36] whimboo commented on #786
I think it's not the right place to have a debate about e10s. It's driving us away from the real issue as filed here.

Given that there is nothing more to add and the issue is closed I will also close comments on this issue now.

[2017-12-06 06:41] whimboo commented on #1089
Alternatively to the Options object (which I haven't worked with yet) you could use the following:
[code]

To not let Selenium delete the profile immediately you might have to add a `sys.exit()` right after the instantiation of the driver, which you encapsulate in try/except.  But seeing issue #299 the profile must still be around. Just find the line `mozrunner::runner INFO Running command` in the

[2017-12-06 06:53] whimboo commented on #979
Hm, maybe you are affected by [bug 1404190](https://bugzilla.mozilla.org/show_bug.cgi?id=1404190). Given that geckodriver currently doesn't correctly close Firefox but somewhat kills it on quit, it might run into this situation. I'm currently working on [bug 1403923](https://bugzilla.mozilla.org/show_bug.cgi?id=1403923) to fix geckodriver. Maybe we wait until this bug is fixed and then try again w

[2017-12-06 08:19] PascalGit1 commented on #1091
same test run directly after the failed one i showed earlier that succeeded:

[code]

[2017-12-06 09:04] q-jack commented on #1090
I have a trace log.
Error appears when clicking on button with id saveText

[code]

Full log attached
[log.txt](https://github.com/mozilla/geckodriver/files/1534455/log.txt)

[2017-12-06 09:06] whimboo commented on #1092
@AutomationObject you are not providing neither a testcase nor a trace level log. Both have been requested when filing a new issue. Without we cannot do anything.

Please note that if the submit button delays the form submission you might hit issue #1026.

I'm happy to reopen if trace logs verify that this is not the same issue.

[2017-12-06 09:06] #1092 closed

[2017-12-06 09:09] whimboo commented on #1091
I think we have to clarify... Are you running only a single test, and running it fails sometimes? Or do you have a set of tests which get run, and randomly the connection to Firefox fails in the middle of such a run.

[2017-12-06 09:11] PascalGit1 commented on #1091
sorry if i wasn't clear its a set of tests and the connection fails in the middle of such a run at random

[2017-12-06 09:11] whimboo commented on #1090
As asked earlier, what is the `#safeText` element doing? Has it a listener attached, which delays the page load? Please provide as best an HTML testcase. Thanks.

[2017-12-06 09:13] whimboo commented on #1091
Ok, so lets continue the investigation on issue #1020 then. Marking this issue as a dupe.

[2017-12-06 09:30] PascalGit1 commented on #1020
Is there any more information I can provide to help with this issue?

[2017-12-06 09:54] q-jack commented on #1090
The #saveText button submits a form.
Here is the [html](https://codepen.io/anon/pen/BmeBoW)

[2017-12-06 10:02] hqbrice commented on #1088
The same when I specify firefox binaries (folder after extract tar.bz2) :
`11:00:21.319 INFO - Found handler: org.openqa.selenium.remote.server.commandhandler.BeginSession@46e6f0d0
11:00:21.321 INFO - /session: Executing POST on /session (handler: BeginSession)
11:00:21.326 INFO - Capabilities are: Capabilities {acceptInsecureCerts: true, browserName: firefox, firefox_binary: /tmp/firefox/firefox-

[2017-12-06 10:08] iHaagcom commented on #1089
Am i to define  capabilities?? = DesiredCapabilities.FIREFOX.copy()
I get NameError: name 'DesiredCapabilities' is not defined?

[2017-12-06 10:13] iHaagcom commented on #1089
ahh right, include: from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

[2017-12-06 10:21] iHaagcom commented on #1089
Still no luck, also it didn't like sys.exit()

[2017-12-06 10:51] iHaagcom commented on #1089
I changed the security level to 5, and the last thing in the log is:
1512557228768  addons.productaddons INFO downloadXHR File download. status=200
1512557228768  addons.productaddons INFO Downloaded file will be saved to C:\Users\ADMINI\Appdata\Local\Temp\tmpaddon-806469

[2017-12-06 12:41] hqbrice commented on #1088
If I use FF in headless mode, not reproduce

[2017-12-06 14:11] andreastt commented on #1088
OK, is the problem here that you don’t have an X display running?

[2017-12-06 14:17] hqbrice commented on #1088
When I start Selenium jar in webdriver role, I start too Xvfb like this :
`export DISPLAY=:99

Xvfb :99 -ac &`

[2017-12-06 17:26] ken-p commented on #834
@whimboo yep, 58 beta fixed my particular case. The problem was that a link was in a left sidebar that was scrolled up into the header, and an element on the header was intercepting the click. Now I see that the link in question gets scrolled to and then clicked on properly. Thanks!!

[2017-12-06 19:40] asaada83 opened #1093 "Can't upload file to remote browser using Send_Keys with Selenium Grid"
## System
* Version: 0.19.0
* Platform: MacOS/Hub-Linux/Node-Windows
* Firefox: 57.0
* Selenium: selenium-webdriver (3.7.0)

## Testcase

Setting a file to an <input type="file"> element fails with a InvalidArgumentError - "File not found".
This works when running against the local browser but fails when run against the remote browser on the grid. Same version of firefox in both cases (57)

Works

[2017-12-06 19:51] asaada83 commented on #1093
Might be related to https://github.com/mozilla/geckodriver/issues/858
Maybe the fix was a partial fix?

[2017-12-07 02:58] sramise99 opened #1094 "mozilla firefox popup- I have a feedback regarding this page or site as whole+"
i receiving 'I have a feedback regarding this page or site as whole' popup message.while running automated test.How to handle this popup

[2017-12-07 14:47] whimboo commented on #299
@vkatsikaros is your test calling `driver.quit()`? If not Firefox will still be running, and as such the profile will remain. I tried it locally and was not able to find any other way beside leaving out `driver.quit()` to reproduce it. And that is expected.

[2017-12-07 19:57] whimboo commented on #1020
Yes, `-headless` is a bit different. So @PascalGit1 please have a look at https://github.com/mozilla/geckodriver/issues/1020#issuecomment-348120651 and tell me the environment variables the Firefox process knows about. If it doesn't include `DISPLAY` we would at least know why Firefox doesn't start.

[2017-12-07 20:00] whimboo commented on #1089
@iHaagcom if you still have the chance to get me a minidump file as requested earlier that would be very helpful. Otherwise you would see this problem again in one of the next releases of Firefox, in the case it's an unknown problem. I would really like to make sure that we can fix this crash. Thanks!

Given that this is not a geckodriver issue I will close it now, but we can continue to figure ou

[2017-12-07 20:00] #1089 closed

[2017-12-07 20:04] whimboo commented on #1088
Hm, the output still doesn't look like that it comes from a debug build. Here I have a more recent one from today:

https://queue.taskcluster.net/v1/task/ICN9snuTSU2sIBEXaKOiqA/runs/0/artifacts/public/build/target.tar.bz2

Please make sure that the trace log is definitely enabled. Thanks.

[2017-12-07 20:05] whimboo commented on #834
@raffam, can you please also check? I would like to close this issue, and I'm sure your case should also be fixed. Thanks.

[2017-12-07 20:08] whimboo commented on #1093
Are you sure the file exists on the remote system? This error is only thrown when the file cannot be found by firefox.

[2017-12-07 20:09] whimboo commented on #1094
This report is not actionable at all because it misses any details what the test is doing, and also does not include a trace log. Add that and I'm happy to reopen the issue.

[2017-12-07 20:09] #1094 closed

[2017-12-07 20:35] asaada83 commented on #1093
Yes. I'm positive. Like I said if I keep everything the same and just change the browser to chrome by passing `browserName` to the grid it works fine.

[2017-12-08 06:14] barancev commented on #668
According to the regression testing, this issue has been fixed, the test started to pass.

[2017-12-08 12:15] stewart-r commented on #1058
Any chance someone could clarify the workaround steps for this? I'm using the selenium standalone-firefox-debug docker container and selenium remote webdriver on .NET

I tried specifying `--marionette-port 2828`  in `options.AddArgument` and can see from the container logs that it is being passed to the CLI:

    1512734718509   mozrunner::runner       INFO    Running command: "/usr/bin/firefox" "

[2017-12-08 12:42] stewart-r commented on #1058
Ah i understand now... In case anyone else was struggling in the same way as I was the `--marionette-port` command line option is applied when starting geckodriver not starting firefox.

So workaround steps are:

1. rename /usr/bin/geckodriver to /usr/bin/geckodriver2
2. use @soosrol 's script to point to the renamed executable file and save this script in the original /usr/bin/geckodriver locatio

[2017-12-08 15:55] andreastt commented on #668
Sounds good. Closing.

[2017-12-08 15:55] #668 closed

[2017-12-08 17:22] 4nt01ne opened #1095 "cannot create driver when running in Windows scheduled task"
## System
* Version: 0.19.1
* Platform: Windows Server 2012 (offline accessed via remote desktop)
* Firefox: 57.0.2 (64-bit)
* Selenium: 3.8.1

## Testcase

Using java driver:

[code]

Stacktrace is produced when the driver is instantiated (last line of snippet.
However, the geckodriver is started and Firefox too.
After some time it hits the code (not shown here) to stop the GeckoDriverService and

[2017-12-08 18:16] andreastt commented on #1095
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2017-12-08 20:56] 4nt01ne commented on #1095
trace level logs [firefox.log](https://github.com/mozilla/geckodriver/files/1543803/firefox.log)

[2017-12-09 02:00] juangj opened #1096 "Can't click a zero-height <body> element with moz:webdriverClick"
## System
* Version: 0.19.0
* Platform: Linux
* Firefox: 58.0b7 and 57.0
* Selenium: 3.8 but it shouldn't matter

## Testcase

If you check `document.body.getClientRects()[0]` you can see that Firefox considers the body element to have height 0, and `document.elementsFromPoint` indeed does not find the body element at the center point. (Zero-height body also came up in https://github.com/mozilla/g

[2017-12-10 11:26] placetne opened #1097 "Clicking a link which has an image with display attribute set to block does not navigate to URL"
## System
* Version: 0.19.1
* Platform: Windows 10
* Firefox: 57.0.2
* Selenium:  Selenium-Webdriver 3.8.0

## Testcase

Test.html

[code]

Test.rb

[code]

## Stacktrace

## Trace-level log

[code]

Clicking on the link does not navigate to https://www.google.com/ as expected.
There are 2 workarounds so that it does navigate to https://www.google.com.
1) Removing the img {display: block;} from th

[2017-12-11 07:13] phandinhloc commented on #1058
I got the same issue. Specifying the marionette port makes it very difficult to write the tests that start multiple firefox profile at the same time.

[2017-12-11 10:35] pinggaimuir commented on #552
我也遇到了同样的问题在selenium3.8.1 ，目前还没有解决办法``

[2017-12-11 11:31] mgehmayr-micro-focus commented on #977
Hi,

I encountered the same issue and I am not sure if the following aspect has already been considered:

I close the basic auth dialog via Auto It, then sleep for a couple of seconds to be sure it is closed already, and _after_ that, subsequent WebDriver options like "findElement" throw an UnhandledAlertException.

I also tried driver.getTitle() and also got an UnhandledAlertException.

This seem

[2017-12-11 12:27] philayres commented on #1070
I have just seen this issue too. @whimboo I checked your jsbin. You example doesn't work because you are not passing a valid date to the element. Your example should read:

    el.value = "2017-10-01";

not

    el.value = "2017/10/01";

I think this might still reflect an issue that is not Firefox.

[2017-12-11 14:52] ChrisSwan commented on #972
Hi, looking at the above bug it's seems to be saying that this issue is resolved in FF57, but I'm getting the exact same problem. I now have just a simple test to launch a FF driver on a schedule task, and it fails if the desktop is locked (or I'm on another user account). Versions are:

Windows 10
Selenium 3.8.0
Firefox 57.0.2 (64 bit)
geckodriver 0.19.1 win64

[2017-12-11 15:44] dmitryyu commented on #324
The issue is still reproduced for FF 57.0.2 with geckdriver 0.19 and wd lib 3.7.0
`
public class ScrollFF {

	@FindBy(id = "uxiframe-1061-iframeEl")
	private WebElement iframe;

	@FindBy(id = "combobox-1009-inputEl")
	private WebElement input;

	@FindBy(id ="combobox-1009-trigger-picker")
	private WebElement trigger;

	@FindBy (css = "li[data-recordindex='1']")
	private WebElement option1;

	@Find

[2017-12-11 19:15] lefty1975 commented on #661
@mjzffr Afternoon,  Is there any chance that v.59 will be a release candidate sooner than listed here https://wiki.mozilla.org/RapidRelease/Calendar ? If not, is there a plausible solution for this issue with the current RC?
Thank you!

[2017-12-11 21:26] Sanchit-20 commented on #855
Java                                  :openjdk version "1.8.0_151"
OS                                    : Ubuntu (16.04 LTS)
Browser                            : Mozilla Firefox 57.0.1 (64-bit)
Selenium java jar file        : 3.8.1
Mozilla Gecko webdriver  :0.19.0
Browser is opened but unable to open the URL.

Code
public static void main(String[] args) {
		//System.setProperty("webdriver.gecko.d

[2017-12-12 08:29] PascalGit1 commented on #1020
I cannot run the ps command when running my tests for the time being. Can i add the command as an argument for firefox? Like how you can pass headless:   options.addArguments("-headless");

[2017-12-12 10:21] josephecombs commented on #1037
I am having this issure right and I view it as a major major problem. I am having this exact issue:

-trying to run headless firefox with selenium
-on Amazon Linux
-which apparently is derived from CentOS 6
-which apparently does not have libgtk-3.so.0 on it and is very difficult to install

[2017-12-12 10:23] javaversion commented on #686
Hi guys,

I'am using Firefox 47.0.1 with selenium  3.4.0

Could you advise how to change "frozen" preferences if we don't use  geckodriver?
I would like to turn off all prefs related to GMP.
If my understanding is correct FirefoxOptions is to be used with geckodriver?

Any help will be highly appreciated.

[2017-12-12 10:37] matthewbyrne opened #1098 "StaleElementReferenceError on unreferenced iframes"
## System
* Version: 0.19.0
* Platform: Ubuntu 14.04
* Firefox: FF 58.0b9
* Selenium: 3.8.0 (watir 6.10)

## Testcase

Unreferenced iframes are throwing a StaleElementReferenceError in my code. I never reference `iframe-name` (see stack trace below), yet it throws the exception.
The line of code it actually fails on is this:
`@browser.div(:id => 'search').wait_until(&:present?)`
Which makes no sen

[2017-12-12 10:42] Divyapabba16 commented on #749
Selenium : 3.8

google chrome Version 63.0.3239.84 (Official Build) (64-bit)

Chromedriver : 2.34

written a small script
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.chrome.ChromeDriver;

public class Main {

	public static void main(String[] args) {

		  System.setProperty("webdriver.chrome.driver","/home/gamooga/Downloads/geckodriver");

		WebDriver driver = new ChromeDriver

[2017-12-12 12:23] 4nt01ne commented on #1095
can somebody give an insight please.
FYI I had the same issue when using Selenium 3.5.3 and Firefox 55.0.1 but I don't have the logs anymore. If needed I could reproduce it.
I switched to newer versions to try the headless capability

[2017-12-12 15:05] cgoldberg commented on #749
@Divyapabba16
Geckodriver is for controlling Firefox... Chromedriver is for controlling Chrome.

[2017-12-12 15:44] whimboo commented on #1059
So yes, this is https://bugzilla.mozilla.org/show_bug.cgi?id=1366035 as mentioned earlier on this thread.

Marking as dupe of issue #1065.

[2017-12-12 15:44] #1059 closed

[2017-12-12 15:46] whimboo commented on #834
No response from @raffam yet. I'm going to close the issue now. Feel free to report if it is still not working with Firefox 58, and attach a trace log.

[2017-12-12 15:46] #834 closed

[2017-12-12 16:00] tttower commented on #972
My combination:
OS: Windows-7
Selenium: 3.4.0
Browser: FF-57.0 (x64)
GeckoDriver-0.19.0
Sill works fine with Windows Locked.

[2017-12-12 17:17] ChrisSwan commented on #972
Hmm would you recommend that I downgrade one of the pieces of software and try again?

[2017-12-12 19:00] mjzffr commented on #661
@lefty1975 No, we won't be uplifting this change, so the fix won't reach Release any sooner than normal. Have you considered using Firefox Nightly instead of Release when running geckodriver?

If that's not a viable option and for some reason you absolutely must use Release, perhaps you could synthesize your own dblclick MouseEvent with execute_script to fill in the gap for now.

[2017-12-12 19:21] lefty1975 commented on #661
First off @mjzffr thank you for the response.

I actually switched over to 59 nightly version and it works perfectly. And honestly, I spaced using javascript commands on 57, so thank you for that alternative. If I need to use 57, I will refactor to use javascript execution.

[2017-12-12 20:38] Sanchit-20 opened #1099 "Exception in thread "main" org.openqa.selenium.WebDriverException: Timed out waiting 45 seconds for Firefox to start."
## System
 **Java**                                  :openjdk version "1.8.0_151"
**OS**                                    : Ubuntu (16.04 LTS)
**Browser**                            : Mozilla Firefox 57.0.1 (64-bit)
**Selenium **                         : 3.8.1
 **Geckodriver**                     :0.19.0
Browser is opened but unable to open the URL.

## Code

package newpackage;
import org.open

[2017-12-12 22:27] tttower commented on #972
Not really. I would recommend open another Bug with new data, or reopen this one.
Even my setup works, the real problem was not found. So, it might re-manifest any time on different setup.
Plus, Win and Selenium in Your case more advanced, which implies, I will run to that in the future.

[2017-12-13 11:46] ChrisSwan opened #1100 "GeckoDriver fails to start FireFox-57.0.2 when Windows Screen is Locked"
## System
* Windows 10
* Selenium 3.8.0
* Firefox 57.0.2 (64 bit)
* geckodriver 0.19.1 win64

## Testcase

I have boiled this down to a C# app that simply starts up the FirefoxDriver, and I add it to a scheduled task. If my Windows machine is locked or (my main use case) I've switched to another user, then the Driver crashes on startup.
Through adding debug logs I can see that an exception is thro

[2017-12-13 11:46] ChrisSwan commented on #972
Thanks - new issue opened.

[2017-12-13 11:49] jiteshk23 opened #1101 "geckodriver hangs on running with Xvfb"
## System
* Version: 0.19.1
* Platform: Linux
* Firefox: 52.5.1
* Selenium: python bindings v3.8.0

## Testcase
- I am trying to run the below script (using Xvfb for headless mode).
[code]
- Running fine on my local machine (same system configuration as mentioned above, only firefox 57 instead of 52.5.1)
- Gives error on a remote machine (system configuration mentioned above) on which I am running

[2017-12-13 13:28] whimboo commented on #686
@javaversion not sure what else beside geckodriver you want to use?

[2017-12-13 14:11] whimboo commented on #1020
No, it's a completely different tool. So you cannot sign into this box via SSH while running the tests?

[2017-12-13 14:22] whimboo commented on #889
@Sanchit-20 please do not hijack an issue of someone else which also is closed. File a new issue for your problem and make sure to attach a trace log.

[2017-12-13 14:55] cgoldberg commented on #1100
What is the expected behavior when running with screen locked?  AFAIK, this disables mouse and keyboard events and you won't get very far with your automation.

[2017-12-13 15:00] PascalGit1 commented on #1020
No sadly i cannot, but i will ask the system admin see if he can do it, but since it happens random its hard to know exactly when its happening. Could be after 5min could be after 40min

[2017-12-13 15:16] ChrisSwan commented on #1100
I already a number of Selenium tests using the ChromeDriver while not logged in, and they all work fine. Currently though I can't automate any Firefox Selenium tests due to this issue. I'm assuming if it works in Chrome it should be fine in Firefox too?

[2017-12-13 15:19] tttower commented on #1100
Historically Chrome & FF automation via Selenium was transparent to Screen status.
IE always required Unlocked screen.

[2017-12-13 16:39] lefty1975 commented on #1080
It feels like marionette is not properly handling clearing window.localstorage information received from Gecko driver. Is there any way I can provide information (trace.log) to substantiate my claims?

[2017-12-13 18:38] twalpole commented on #1080
@lefty1975 By default Capybara clears only cookies at reset, `localstorage` is separate from cookies.  I think you can close this issue.

[2017-12-14 09:53] whimboo commented on #1037
@josephecombs it's nothing we can do for geckodriver. The bug has to be fixed by developers working on the headless mode. So as best CC yourself on https://bugzilla.mozilla.org/show_bug.cgi?id=1372998, and wait for updates.

[2017-12-14 14:24] q-jack commented on #1090
Were you able to reproduce this issue?

[2017-12-14 18:41] andreastt commented on #1101
Firefox 52 isn’t supported by geckodriver. Overall this sounds like a configuration problem of the remote machine. You didn’t attach a trace-level log, but also I couldn’t spot anything fishy in it.

[2017-12-14 18:41] #1101 closed

[2017-12-14 18:44] andreastt commented on #686
@javaversion Firefox 47 isn’t supported by geckodriver. You can set Firefox preferences through the `moz:firefoxOptions` dictionary. See the README for details.

[2017-12-14 18:46] andreastt commented on #1095
Those are not trace-level logs, but to me it looks like Firefox is crashing on startup. I don’t believe that is a geckodriver bug.

[2017-12-14 18:46] #1095 closed

[2017-12-14 18:47] andreastt commented on #1098
Unable to reproduce.

Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2017-12-14 18:47] #1098 closed

[2017-12-14 18:51] andreastt commented on #1070
The input to `<input type=date>` must be a valid ISO-8601 date.

[2017-12-14 18:52] andreastt commented on #977
AutoIT and the Robot framework are completely off topic for this issue.

[2017-12-14 20:10] andreastt commented on #1100
I believe Gecko has a closer-to-reality input emulation which could explain why events are not sent when the screen is locked, for the same reasons @cgoldberg gave.

I would suggest running with the screen unlocked for the moment. If you do care deeply about this issue I would suggest filing an issue against Firefox.

[2017-12-14 20:10] #1100 closed

[2017-12-15 06:41] ChrisSwan commented on #1100
Ok, since this is being closed as expected behaviour I'll remove Firefox from my automated tests. Thank you for letting me know.

[2017-12-15 09:08] whimboo commented on #977
@mgehmayr-micro-focus you are not saying which version of Firefox and geckodriver you are using. What you might want is https://bugzilla.mozilla.org/show_bug.cgi?id=1416284 but that is only available in Firefox 59. @andreastt, maybe we should consider an uplift of this patch to 58?

[2017-12-15 09:27] zjh1943 commented on #840
It seems that it fetch the header of that url every time when i start wdio.
Sometimes network is ok, wdio works well.
Sometimes network is week, wdio not work.
Why should we request the header at every startup ?

[2017-12-15 09:36] zjh1943 commented on #840
@andreastt why close this issue?

[2017-12-15 09:57] mgehmayr-micro-focus commented on #977
@whimboo I initially used Firefox 57. Now I tried 59.0a1 (on Windows) and encountered a complete behavioral change in Firefox 59.0a1:

When I navigate to a web page that is secured by basic auth no "Authentication Required" dialog is displayed anymore.
Instead I immeditaely see the "not authorized" web page (i.e. the weg page I see with Firefox 57 when I click Cancel on the "Authentication Require

[2017-12-15 11:09] michealarun opened #1102 "Unable to view shockwave flash plugin in the Selenium launches firefox 57"
## System
* Version:
* Platform:
* Firefox:
* Selenium:

## Testcase

## Stacktrace

## Trace-level log

[2017-12-15 11:11] michealarun commented on #1102
Can anyone reply to this if you find any solution?

[2017-12-15 11:15] michealarun opened #1103 "Unable to view flash content in the Selenium launches firefox 57"
## System
* Version:
* Platform:
* Firefox:
* Selenium:

## Testcase

## Stacktrace

## Trace-level log

[2017-12-15 11:48] muodov opened #1104 "getCookies() does not return cookies for active iframe, returning cookies from defaultContent()"
## System
* Version: 0.19.1
* Platform: Debian 8
* Firefox: 57
* Selenium: 3.8.1

## Testcase

I've made a test page here: https://x.zok.pw/geckodrivertest/outer.html

Here's a python code for reproducing:
[code]

## Expected behaviour
the second call should return the cookies from the inner frame, including `inner=bar` cookie, but it returns the top window cookies.

## Notes
With old versions of

[2017-12-15 12:16] ftalo commented on #1095
I have exactly the same problem described by 4nt01ne.

As he suggested the exact same task it is only failing when run via a scheduled task (run when user not logged in and with highest privilege) while it is perfectly working when executed once logged on the Windows machine.

I was running the scheduled task on the same type of Windows machine: Windows Server 2012 64 bit.

It is sounds to me as a

[2017-12-15 12:26] mgehmayr-micro-focus commented on #977
@whimboo I tried Firefox 59.0a1 on 2 different Windows 10 machines: Same result: No "Authentication Required" dialog is shown for https://the-internet.herokuapp.com/basic_auth

I tried Firefox 59.0a1 on macOs (High Sierra), star and there the "Authentication Required" dialog is shown as expected.

I am well aware of the fact that my observerations are not related to Geckodriver but to Firefox itse

[2017-12-15 14:02] mgehmayr-micro-focus commented on #977
@whimboo  I tried Firefox 59.0a1 with Geckodriver 19.1 on macOS.

This was my Selenium Test:
I navigate to a basic auth web site and then manually log in (in my CI tests I use AutoIt for that). After that I get a NoAlertPresentException.

[code]
Geckodriver trace log is attached
[trace.log](https://github.com/mozilla/geckodriver/files/1562927/trace.log)

[2017-12-15 19:17] mrunalgosar commented on #1099
I am also getting same error. By the way what was the last stable configuration you were able to run?

[2017-12-16 07:21] Sanchit-20 commented on #1099
Actually I also tried running the above code by using marionette in the Set property and setCapability of marionette to true, but in best possible case only browser was opened and not able to open the URL.

[2017-12-16 08:07] andreastt commented on #1099
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2017-12-16 12:00] elgohr opened #1105 "Mirroring releases on CDN"
Tools like [webdriver-manager](https://github.com/angular/webdriver-manager) are using the geckodriver intensively. Unlike other drivers (see others at https://github.com/angular/webdriver-manager/blob/a80ccd22d494e10e8c3c6ef9af22abf38496cb14/config.json) geckodriver-releases are stored on Github. In combination with stateless CI/CD pipeline platforms, which share the same IP-range, the Github rat

[2017-12-16 12:09] elgohr commented on #1105
Discussions go on mailing list

[2017-12-16 12:09] #1105 closed

[2017-12-16 13:00] elgohr commented on #1053
This might help you to understand https://opensource.guide/legal/#are-public-github-projects-open-source

[2017-12-16 13:53] andreastt commented on #1053
@elgohr Did you read my earlier reply? Our GitHub repository is no longer the canonical source of geckodriver.

[2017-12-16 14:51] andreastt commented on #1103
You didn’t fill in any of the required template information, however, we disable Flash explicitly because it is known to cause problems when quitting Firefox from geckodriver, see for example https://github.com/mozilla/geckodriver/issues/225.

You can set the `plugin.state.flash` preference to `1` to override this behaviour and enable Flash.

[2017-12-16 14:51] #1103 closed

[2017-12-16 14:52] andreastt commented on #1102
Duplicate of https://github.com/mozilla/geckodriver/issues/1103.

[2017-12-16 14:52] #1102 closed

[2017-12-16 14:55] andreastt commented on #1097
Can you try this with Firefox Nightly or Firefox 58, where we enabled WebDriver conforming element clicks? See https://www.hskupin.info/2017/12/15/element-interactability-checks-with-geckodriver-and-firefox-58/ for more details.

[2017-12-16 14:58] andreastt commented on #322
@andresmauriciogomezr I would file a separate issue instead of hijacking this, but it sounds like that is a result of the newer and stricter element interaction rules in WebDriver that aren’t implemented in Chrome and IE yet. See https://www.hskupin.info/2017/12/15/element-interactability-checks-with-geckodriver-and-firefox-58/ for more details.

[2017-12-16 19:50] gandb commented on #804
Here happins the same, Marionette DEBUG Canceled page load listener because no n avigation has been detected and the clicks is ignoreted by webdriver. That is not happens in version firefox  52.

[2017-12-16 20:13] whimboo commented on #804
I'm closing this issue now given no response from @vtlunchbox in the last two months.

For everyone else if you have a problem please file your own issue with details (source code and trace log). Thanks.

[2017-12-16 20:13] #804 closed

[2017-12-17 05:20] gandb commented on #804
Thanxs, Sorry for my distraction :)

[2017-12-17 22:41] geetagunjan opened #1106 "The import org.openqa cannot be resolved why??"
unresolved error for openqa.selenium

import org.**openqa.selenium**.firefox.FirefoxDriver;

public class selenium1 {

	public static void main(String[] args) {
		FirefoxDriver d1= new FirefoxDriver();

	}

The above code does not work even when gecko driver is used becasue The import org.openqa cannot be resolved. I dont understand wht I am missing?

## System
* Version:
* Platform:
* Firefox:
*

[2017-12-18 06:24] placetne commented on #1097
You can close this problem because I found out it's a duplicate of issue <a href="https://github.com/mozilla/geckodriver/issues/653">653</a>

Here's my stacktrace and trace level log for informational purpose when using Firefox 58 beta 9. This time it throws an ElementNotInteractableError.

[code]

[code]

[2017-12-18 06:24] #1097 closed

[2017-12-18 18:33] Sanchit-20 commented on #1099
I guess there was something wrong with the associated selenium-java jar files, I had dereferenced all the selenium-java jar from my project and again downloaded most recent jar files and included those my project.

I ran the above code and it worked fine with below trace level log.
1513619576122	geckodriver	INFO	geckodriver 0.19.0
1513619576142	geckodriver	INFO	Listening on 127.0.0.1:13578
1513619

[2017-12-18 22:05] lefty1975 commented on #1080
I'm reopening this ticket because local and session storage is being cleared, however, cookies are not being cleared which is causing my issue of cross-contamination between scenarios. I have manually tried executing `page.driver.browser.manage.delete_all_cookies` and it does not clear my cookies. I have provided a trace.log above. With that said, can someone guide me what additional information i

[2017-12-19 13:13] HardikModha commented on #862
I'm facing the similar issue. I'm testing my application using the Firefox Headless and gecko driver. I have the whole setup running inside a Pod on Kubernetes.

Here is the stacktrace when the Firefox crashes:
[code]
Whole stactrace can be found in this [gist](https://gist.github.com/HardikModha/7363b121fea2507dd38ee1c3f0d2d15b).

[2017-12-19 13:29] andreastt commented on #862
@HardikModha Can you please file a new issue with the trace- and crash log (from about:crashes) attached?

[2017-12-19 18:14] andreastt commented on #840
@zjh1943 GitHub rate-limits downloads, and if your test environment is hitting this there is a problem that it doesn’t cache the geckodriver download.

[2017-12-20 05:32] barancev opened #1107 "It's possibe to select an 'option' element that is disabled"
## System
* Version: 0.19.1
* Platform: Windows
* Firefox: Nighly 57.0.1 (64-bit)
* Selenium: Java 3.8.1

## Testcase
[code]
It's expected that the element is not selected because there is no way a human can select this element.

[2017-12-20 13:26] #1029 closed

[2017-12-20 21:38] baflQA opened #1108 "Can not set up Firefox to not open the file download popup"
## System
* Version: 0.19.1
* Platform: macOS 10.13.2
* Firefox: 57.0.1 64bit
* Selenium: 3.8.1 Java
* webdrivermanager-2.0.1.jar as a geckodriver manager

## Testcase
Create a new FF driver instance with given set of capabilities:
`private static MutableCapabilities getFirefoxOptions() {
		FirefoxOptions firefoxOptions = new FirefoxOptions();
		FirefoxProfile profile = new FirefoxProfile();
		pro

[2017-12-20 22:10] baflQA commented on #1108
Accidentally, it looks like I fixed it by using the `		profile.setPreference("browser.helperApps.alwaysAsk.force", false);` preference.

[2017-12-20 22:10] #1108 closed

[2017-12-21 11:28] jagdheesh-reddy commented on #926
i am working on visual studio 2015 with selenium 3.8 on windows 10 machine. using my selenium script i am able to launch gecko or chrome browser, but it throws an exception "cannot start the driver service on localhost:port", and my url's are not loaded after the browser opens. what is the cause and any fix for this?

[2017-12-21 12:37] bamaniyasamir19 commented on #1047
Firefox latest version, this is working with Geckodriver 0.19.1 version. Thank you for suggestion.

[2017-12-21 17:19] andreastt commented on #926
@jagdheesh-reddy I don’t know, but file a new issue if you think it is a bug instead of hijacking an old one.

[2017-12-21 19:35] snowymike commented on #653
any update on this one?

i experience the exact same problem as the submitter reported.  clicking the anchor doesn't work, but clicking the child div works, and changing the anchor style to display: block also fixes it.  the Exception i get is

org.openqa.selenium.ElementNotInteractableException: Element <a href="http://www.example.com/"> could not be scrolled into view

i'm using
Geckodriver 0.19

[2017-12-21 19:50] juangj commented on #653
(Disclaimer: I don't speak for Mozilla)

AFAIU, that is indeed the same problem, even though it's a different error message. The new WebDriver-compliant click code in FF58 produces that error instead of silently failing to click.

I haven't checked again, but IIRC what was happening with that anchor is that Firefox thinks it has multiple client rects, and the first client rect isn't what you'd exp

[2017-12-21 20:57] snowymike commented on #653
thanks for the reply @juangj .  have you come up with a workaround you're satisfied with, or are you waiting on a geckodriver or firefox fix?  clicking the anchor through selenium works great in firefox 47.0.1 and the latest versions of chrome and ie (and of course works if i manually click in the browser with firefox 58, not using selenium).  i'm reluctant to change all the html to use display: b

[2017-12-21 21:12] juangj commented on #653
I'd suggest just clicking the child div, even though, as you say, it's more logical to be clicking the anchor. It's a little annoying once, but it's straightforward and is simple enough to undo after this gets fixed. I think that's better than changing the HTML under test solely to work around an automation bug -- the explanatory comment that you leave in the code about this will make more sense i

[2017-12-22 07:55] namexiaohuihui opened #1109 "Open the Firefox browser，firefox_options How to set the parameters"
webdriver.Firefox(executable_path=firefoxgeckobdriver)
You can run the browser，

I want to run the Firefox in the following way
webdriver.Firefox(executable_path=firefoxgeckobdriver,firefox_options=options) ..

But I don't understand how to set up ---->options。。

Do you have a way of learning?

    Version: 0.19.1
    Platform: Windows 10
    Firefox: Nighly 57.0.1 (64-bit)
    Selenium: python 3.

[2017-12-22 13:10] mseele commented on #776
Any progress going on here? [bug 1295538](https://bugzilla.mozilla.org/show_bug.cgi?id=1295538) has been closed as wontfix.
I cannot believe that i need this workaround
[code]
for firefox and all the other browsers just work out of the box.

[2017-12-22 14:22] VladimirSorokin commented on #1068
is there any solution for this problem?

[2017-12-22 14:40] andreastt commented on #1109
This is a question for the maintainer of the client you’re using. This tracks issues with geckodriver itself.

[2017-12-22 14:40] #1109 closed

[2017-12-22 17:20] gouzal-pi opened #1110 "Can not open Pages using a proxy"
## System
* Version: 18
* Platform: Windows 64 bit SP1
* Firefox: 57.0.2 (64-bit)
* Selenium: 3.6.0
* JDK : 1.8

## Testcase

[code]

## Expected behavior
google.com page to be opened with the given proxy

## Actual behavior
![timedout](https://user-images.githubusercontent.com/28804247/34306482-3f20d83e-e73b-11e7-9ae5-c662d0d266d2.PNG)

## Notes:

- By removing DesiredCapabilities the page can be

[2017-12-22 17:42] jfitisoff commented on #1044
Hi @whimboo. Thanks that did fix it. We rolled back to an older, non-geckodriver ff version for now but but will likely make another attempt at upgrading after the holidays.

[2017-12-22 17:42] #1044 closed

[2017-12-22 17:43] jfitisoff commented on #1044
Thanks to the other folks as well.

[2017-12-23 14:18] whimboo commented on #1044
Great to hear. So lets mark it as fixed via the patch on https://bugzilla.mozilla.org/show_bug.cgi?id=1375660

[2017-12-23 14:22] whimboo commented on #1068
Given that this was a sandbox level issue I will close this issue now. @rahull I would still be interested in details why Firefox misbehaves here.

@VladimirSorokin if you have a problem please file your own issue. Thanks.

[2017-12-23 14:22] #1068 closed

[2017-12-23 14:24] whimboo commented on #1106
This is an issue with your Selenium binding but not with geckodriver.

[2017-12-23 14:24] #1106 closed

[2017-12-23 14:29] #1099 closed

[2017-12-23 14:33] whimboo commented on #1080
@lefty1975 can you please try again with Firefox 58 (Beta) and/or Firefox 59 (Nightly)? You can get those builds via https://www.mozilla.org/en-US/firefox/channel/desktop/. Please let us know if one of those versions fixes it for you.

[2017-12-23 14:35] whimboo commented on #1110
Both the host and port have to be specified via the `httpProxy` and equivalent keys. They are no longer handled separately. See our documentation at https://github.com/mozilla/geckodriver#proxy-object

[2017-12-23 14:35] #1110 closed

[2017-12-24 20:53] gouzal-pi commented on #1110
Hi @whimboo ,  I change the code as you suggested,:

[code]
But did I miss something, because i get the following error:
![e](https://user-images.githubusercontent.com/28804247/34329146-fba50fbe-e8eb-11e7-87e6-ce693dd07190.PNG)

Here is the stackTrace:

1514147365382	geckodriver	INFO	geckodriver 0.19.1
1514147365390	geckodriver	INFO	Listening on 127.0.0.1:38840
1514147366091	mozrunner::runner	INFO

[2017-12-25 05:40] HardikModha opened #1111 "[Parent][MessageChannel] Channel error: cannot send/recv"
## System
* Version: [0.19.1](https://github.com/SeleniumHQ/docker-selenium/blob/3.8.1-bohrium/NodeFirefox/Dockerfile#L28)
* Platform: [Base image ubuntu:16.04](https://github.com/SeleniumHQ/docker-selenium/blob/3.8.1-bohrium/Base/Dockerfile#L1)
* Firefox: [57.0.2](https://github.com/SeleniumHQ/docker-selenium/blob/3.8.1-bohrium/NodeFirefox/Dockerfile#L13)
* Selenium: 3.8.1

## Stacktrace
[code]

[2017-12-26 00:18] geetagunjan commented on #1106
Thanks but do you have any pointers how I could solve this.

Thanks
G

On Sat, Dec 23, 2017 at 9:25 AM, Henrik Skupin <notifications@github.com>
wrote:

[2017-12-26 07:16] duanzih opened #1112 "Keys.chord(...) cannot work with geckodriver0.19.1 + Selenium 3.7.1 and Firefox 57.0.2 (64 bit)"
## System
* Version: 0.19.1
* Platform: Windows server 2008 R2
* Firefox: 57.0.2 (64 bit)
* Selenium: 3.7.1

  public static void main(String[] args) {
        File firefoxExecutable = new File("C:\\Program Files\\Mozilla Firefox\\firefox.exe");

        System.setProperty("webdriver.firefox.bin", firefoxExecutable.getAbsolutePath());

        System.setProperty("webdriver.gecko.driver", "E:\\geck

[2017-12-26 16:43] lefty1975 commented on #1080
@whimboo I will give those a try and report back.
Thanks!

[2017-12-26 18:38] andreastt commented on #1060
Closing this due to inactivity.

[2017-12-26 18:38] #1060 closed

[2017-12-27 08:30] namexiaohuihui commented on #1109
Thank you

It's been done.

[2017-12-27 17:44] schmidtkp commented on #1110
@gouzal-pi Change your code to return a Proxy object, and set it using FirefoxOptions.setProxy(proxy)

[2017-12-27 23:58] lefty1975 commented on #1080
@whimboo Firefox Nightly 59.0a1 worked for me. I will try 58 in a bit.

[2017-12-28 10:34] Trucnt commented on #944
We have faced the same issue.

[2017-12-28 11:50] shikha20s opened #1113 "org.openqa.selenium.WebDriverException: Failed to decode response from marionette"
i am using below mentioned line of code but i am getting the error :
  org.openqa.selenium.WebDriverException: Failed to decode response from marionette

System.setProperty("webdriver.gecko.driver", "//opt//geckodriver");
	 String Xport = System.getProperty("lmportal.xvfb.id", ":1");
	 final File firefoxPath = new File(System.getProperty("lmportal.deploy.firefox.path", "/usr/bin/firefox"));
	 Fire

[2017-12-28 16:16] lefty1975 commented on #1080
@whimboo still an issue in Firefox 58.0b12

[2017-12-28 20:07] whimboo commented on #1106
Sorry, I don't have that. Try to find support on IRC or a support forum for Selenium.

[2017-12-28 20:14] plutosolutions commented on #1057
It work for me when geckodriver@1.10.0 and Firefox 57.0 (64 bits).

[2017-12-28 20:16] whimboo commented on #1095
This is a startup crash of Firefox, and might be related to issue #466. Please try to run your tests by setting the preference "security.sandbox.content.level" to 4. Does that help? If not please try again with a Nightly build of Firefox which you can find here: https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly

[2017-12-29 17:02] charlesfradley commented on #744
I have a simialr problem trying to use  moveToElement()  i.e. :

  org.openqa.selenium.InvalidArgumentException:
Could not find webelement key

Firefox 52.4.0 (32-bit)

[2017-12-29 18:48] ylavoie opened #1114 "Allow an optional base-url to cope with tests expecting wd/hub"
## System
* Version: 0.19.1
* Platform: Unbuntu Zesty
* Firefox: 57.0.3
* Selenium:

## Testcase

Many tests and tools were developped to connect to host:port/wd/hub. The wd/hub was stripped from geckodriver, requiring modifications to the tests instead of providing a drop in replacement.
Please consider adding a `--url-base=wd/hub` switch when launching the server.

[2017-12-30 00:37] bloudraak opened #1115 "Embed Version Information in Windows Binary"
## System
* Version: 0.19.1
* Platform: Windows (both 64bit + 32bit)
* Firefox: N/A
* Selenium: N/A

## Testcase

- Download the binary from GitHub Releases.
- Extract the archive
- Navigate to the binary
- Right Click on the binary, select Properties and look at the Details tab

The expectation is that it will contain the current version of the binary, which is 0.19.1.

## Stacktrace
N/A

## Trac

[2017-12-30 00:53] bloudraak opened #1116 "Digitally Sign Windows Binary"
## System
* Version: 0.19.1
* Platform: Windows (both 64bit + 32bit)
* Firefox: N/A
* Selenium: N/A

## Testcase

* Download the binary from GitHub Releases.
* Extract the archive
* Navigate to the binary
* Right Click on the binary, select Properties and look at the Details tab

## Stacktrace
N/A

## Trace-level log
N/A

## Rationale

When using the gecko driver with Selenium in a "security sensi

[2017-12-30 01:48] andreastt commented on #1116
Not sure exactly what you’re asking for, but there is https://github.com/mozilla/geckodriver/issues/292 for providing checkedsummed packages which I thinks is reasonable and which would resolve all the concerns you would have?

[2017-12-30 03:06] bloudraak commented on #292
Checksums offer no guarantees in terms of security and auditing. It also eliminates the ability of many security products to prove its integrity and validate its reputation.  Once binaries on the services are compromised due to unauthorized access, there is no automated way to inform security products that the binary running on their systems is impacted.  On Windows you'll need to look at [Authent

[2017-12-30 03:24] bloudraak commented on #1116
Checksums are not a security feature. They only provide the ability for the user to validate that their download was not corrupted.  An attacker who is able to replace a binary also is able to replace the checksum. It offers no guarantee of security.  The solution offered in #292 misses the requirement to prove the integrity and validate the reputation of the binary.

[2017-12-30 19:51] markostanojlovic opened #1117 "selenium.common.exceptions.WebDriverException: Message: connection refused"
## System
* Version: v0.19.1 (and 0.19.0, with 0.18.0 error is not present)
* Platform: Linux SLES 12 SP3
* Firefox: 52.5.0
* Selenium: 3.8.0 python bindings

## Testcase

    from selenium import webdriver
    driver = webdriver.Firefox()

## Stacktrace

No errors in geckodriver.log:

    1514659027040	geckodriver	INFO	geckodriver 0.19.1
    1514659027046	geckodriver	INFO	Listening on 127.0.0.1:4

[2017-12-30 21:19] bobotzzz opened #1118 "WebDriverException: Message: Process unexpectedly closed with status: 4"
how can I pass over this error?
## System
* Version: geckodriver 0.19.1
* Platform: rPi3 raspbian stretch
* Firefox: 57.0.3 build1
* Selenium: selenium 3.8.0

## Testcase

import requests
from selenium import webdriver
from pyvirtualdisplay import Display
from selenium.webdriver import FirefoxOptions

from pagetwo import seleniumLogic

duration = 2 #seconds
#duration == 2000 #milliseconds for wind

[2018-01-02 08:49] jsonbruce opened #1119 "Unable to find a matching set of capabilities"
## System
* Version: 0.19.1
* Platform: Ubuntu 16.04.3 x64
* Firefox: Firefox Nightly 59.0a1 (2018-01-01) (64-bit)
* Selenium: 3.8.0 with python
* Python: 3.5.2

## Testcase

just a simple test:

[code]

## Stacktrace

[code]

## Trace-level log

[2018-01-02 12:36] andreastt commented on #1119
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-01-02 12:43] andreastt commented on #1118
This seems to be a duplicate of either https://github.com/mozilla/geckodriver/issues/1020 or https://github.com/mozilla/geckodriver/issues/1088, except this happens when run in headless mode.

[2018-01-02 12:43] #1118 closed

[2018-01-02 12:44] andreastt commented on #1020
https://github.com/mozilla/geckodriver/issues/1118 seems to be similar to this, except it is reported for headless mode.

[2018-01-02 12:45] andreastt commented on #1117
I don’t see any immediate problems in the log you attached, but Firefox 52 isn’t supported by geckodriver. Not really sure what the problem here is.

[2018-01-02 12:45] #1117 closed

[2018-01-02 13:02] andreastt commented on #1116
Thanks for the correction. From the documentation you linked I see that ‘Authenticode Code Signing’ is a Windows concept that is different to computing the binary’s checksum.

I don’t object to receiving a patch that signs the Windows binary, but because we cross-compile geckodriver for Windows on Linux it can be difficult to get access to `SignTool.exe`. I found [a discussion in the Rust user for

[2018-01-02 13:03] andreastt commented on #1113
You provided very little information about your system. Please see https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs about writing good bug reports.

[2018-01-02 13:03] #1113 closed

[2018-01-02 13:13] andreastt commented on #1114
We decided against adding a `--url-base` flag in https://github.com/mozilla/geckodriver/issues/343. Since you already have hard-coded URL paths in your test and you would need to make changes to your client to have it work with geckodriver, it seems like less work just to make that change.

[2018-01-02 13:13] #1114 closed

[2018-01-02 13:14] andreastt commented on #744
@charlesfradley Firefox 52 is not supported by geckodriver. Please don’t hijack old issues.

[2018-01-02 18:47] bloudraak commented on #1116
I provided the Linux Mint use case as a reason why the following may not hold:

If for any reason, an attacker gets hold of credentials to replace or upload binaries, they can replace the checksum alongside with the binary.

Most common checksums (SHA1, MD4, SHA256) are good only to see if the download is corrupt or not, it offers me no ability to attest that the binaries were produced by Mozilla

[2018-01-02 18:58] bloudraak commented on #1116
While I can offer you the command line and even donate money for the signing certificate (~$250/year), the most important part of the signing process is that access to the certificate is restricted, (often) only exists on your build servers and that administrative access to the build server is restricted too.  The same applies to OpenPGP. The private key should not be made available.

So from a co

[2018-01-03 05:36] bloudraak opened #1120 "Provide a LICENSE file available for download"
## System
* Version: N/A
* Platform: N/A
* Firefox: N/A
* Selenium: N/A

## Testcase

Download any version of geckodriver.  Notice that there is no license file in the archive, nor is there a LICENSE in the GitHub repository that has the releases. There is also no LICENSE file in the MDN repository inside the project.

I have a Windows Installer package that installs Selenium and geckodriver. I'd

[2018-01-03 07:23] jsonbruce commented on #1119
Below is the output of `geckodriver.log`:

[code]

[2018-01-03 07:27] jsonbruce commented on #1119
I've found solution:

I added the executable file of Firefox Nightly to `PATH` as `/usr/bin/firefox`.
Then everything is OK now.

[2018-01-03 11:15] andreastt commented on #1120
geckodriver’s canonical repository is https://hg.mozilla.org/mozilla-central/file and that contains all the licensing information. You can read an HTML rendered license at https://www.mozilla.org/en-US/MPL/2.0/.

Duplicate of https://github.com/mozilla/geckodriver/issues/1053.

[2018-01-03 11:15] #1120 closed

[2018-01-03 11:17] #1119 closed

[2018-01-03 11:32] Anki1208 commented on #1099
Facing same issue, Windows 10(64 bit), Selenium 3.8.1, geckodriver 0.19.0.

Error mentioned below:
Exception in thread "main" org.openqa.selenium.WebDriverException: Timed out waiting 45 seconds for Firefox to start.
Build info: version: '3.8.1', revision: '6e95a6684b', time: '2017-12-01T19:05:14.666Z'
System info: host: 'INMUVADP014519', ip: '10.1.55.185', os.name: 'Windows 8.1', os.arch: 'x86',

[2018-01-03 11:35] andreastt commented on #1096
Whilst the box bounds of the `<body>` and `<html>` elements can be zero-height, the two are considered [‘special elements’ by the CSS Backgrounds standard](https://drafts.csswg.org/css-backgrounds/#special-backgrounds): their background styling gets transposed to the document canvas. The document canvas “is the infinite surface over which the document is rendered”, and is the reason why people _pe

[2018-01-03 11:38] andreastt commented on #1099
@Anki1208 Please don’t hijack a resolved issue. There’s nothing in the stack trace you attached that indicates it is the same issue. It looks to me that you’re using the old FirefoxDriver and not geckodriver, but please open a new issue so we can continue there.

[2018-01-03 11:57] horsewithnoname1985 commented on #974
Any news?

[2018-01-03 13:42] whimboo commented on #668
That should have been the result of the landing of my patch on https://bugzilla.mozilla.org/show_bug.cgi?id=1414322.

[2018-01-03 13:45] whimboo commented on #324
@dmitryyu why do you think your issue is the same? Please file your problem as a new issue with all the details as requested. Thanks.

[2018-01-03 17:51] whimboo commented on #1104
Thanks for the report. It's actually a regression in Marionette as shipped with Firefox 56. I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1427807 to get this fixed.

[2018-01-03 17:54] whimboo commented on #1093
Can you please test again with Firefox 58 beta, or Firefox 59 Nightly? Builds can be found here: https://www.mozilla.org/en-US/firefox/channel/desktop/

[2018-01-03 18:11] whimboo commented on #1090
Sorry for the late reply but I was away most of last month. I had a look at the HTML testcase, but this is still too huge. Please minimize it to a reasonable size, and remove all external dependencies eg jQuery. As best have a single HTML file with all necessary code included.

[2018-01-03 18:14] whimboo commented on #1081
Can you please test again with a recent Firefox 58 beta, or Firefox Nightly version? Those contain better intractability checks, and it should hopefully work.

You can find those builds at https://www.mozilla.org/en-US/firefox/channel/desktop/

[2018-01-03 18:20] whimboo commented on #776
Well, as said this basically needs the spec updated first (https://github.com/w3c/webdriver/issues/1005). Once this is done we might reopen bug 1295538 to get this fixed.

[2018-01-03 18:59] whimboo commented on #977
I cannot reproduce the problem with the Basic Auth on Windows 10. I always get the dialog displayed whether which version I'm using. So I assume something is broken on your local system. Maybe file a bug directly for Firefox on Bugzilla.

[2018-01-03 19:05] whimboo commented on #1080
There is nothing specific which we changed in Marionette for Firefox 59 for deleting all cookies. So maybe there was a Firefox bug which got fixed for 59.

Given that we cannot reproduce the problem due to missing tests I will close the issue now. And you will have to wait for Firefox 59, which will soon reach beta.

[2018-01-03 19:05] #1080 closed

[2018-01-03 19:35] bloudraak commented on #1120
Licenses do change over time, so the reference to a link doesn't help when MPL 3.0 is released.

Does the license need to be displayed to the user when they run the installer that installs the geckodriver?

[2018-01-03 19:47] whimboo commented on #1119
The message should be better, which actually will be fixed via issue #832.

[2018-01-03 19:49] andreastt commented on #1120
Like I said, mozilla-central contains all the relevant licensning and trademark information in the LEGAL, LICENSE, and toolkit/content/license.html files.

geckodriver doesn’t come with an installer.

[2018-01-03 19:55] whimboo commented on #1116
Yes, we should be able to. But I don't know how complicated it is. I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1427849 to handle it.

[2018-01-03 19:58] whimboo commented on #292
For reference issue #1116 has been reopened, and will be handle differently.

[2018-01-03 20:11] whimboo commented on #1115
I actually do not have an idea if Rust/Cargo supports that yet. Searching a bit I only found https://github.com/rust-lang/cargo/issues/2273.

@hoodie do you know something?

[2018-01-03 20:21] bloudraak commented on #1120
Per the original issue, I created an installer for selenium and the web drivers and the licensing question were within that context.  I looked at the licensing, still trying to figure out how it pertains to binaries like geckodriver and any restrictions on redistribution.

[2018-01-03 20:36] bloudraak commented on #1115
There are a couple of folks that do something similiar:

This seems to invoke the resource compiler on Windows, but makes it a NOP on other platforms.
https://github.com/nabijaczleweli/cargo-update/blob/380bb1064090720c90a87254f1870a07fce1b72c/build.rs

And there is also https://github.com/nabijaczleweli/rust-embed-resource

I have not tried them myself (and never did anything useful in rust)

[2018-01-03 20:41] bloudraak commented on #1116
Assuming you have the Windows SDK installed and that there is only one code signing certificate installed, after building the binary, the command to sign hello.exe look as follows on my build server.

[code]

I have a code signing certificate from digicert, hence the use of http://timestamp.digicert.com. It differs for different certificate authorities.

[2018-01-04 05:55] asaada83 commented on #1093
tried with both the beta and nightly but no luck. still getting `File not found` error.

[2018-01-04 09:32] ramakrishnareddymandhala commented on #384
I am also getting same error. What could you be the root cause.

[2018-01-04 10:35] whimboo commented on #1093
In that case please provide trace level logs: https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html

[2018-01-04 10:42] HardikModha commented on #1111
No responses?

[2018-01-04 10:45] whimboo commented on #384
What does hang mean? The instance of `WebDriverWait` is setup to return after 10s.

Also you still haven't added any trace level logs: https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html

[2018-01-04 10:48] whimboo commented on #1107
@barancev did you test this with `moz:webdriverClick` set to True in the capabilities, or Firefox 58 or 59? Version 57 doesn't have the new interactability checks turned on.

[2018-01-04 10:57] whimboo commented on #1112
The first trace as given here doesn't contain anything which is related to any key press via the action chains. Instead it ends right after the `click`. I assume `chord()` is a helper for your used binding, and as such it is more a problem on that end as for geckodriver. Also you have proven that the following code just works:

[2018-01-04 10:57] #1112 closed

[2018-01-04 11:01] whimboo commented on #665
Could someone test if that is still a problem with Firefox 58 beta, or 59 Nightly?

[2018-01-04 11:09] whimboo commented on #1118
@bobotzzz does raspbian have the gtk packages installed? If not you are most likely affected by issue #1037. As such you cannot use the headless mode yet.

[2018-01-04 11:17] whimboo commented on #1111
The problem here is that one of the loaded URLs crashed the content process. Sadly your attached trace log doesn't contain information about which page got loaded. So please check that again, if it is always crashing on the same URL, of if that differs. This looks more like a problem in Firefox.

[2018-01-04 11:24] whimboo commented on #1100
@ChrisSwan I fail to understand your reported issue. What exactly is not working? Does Firefox not start, or does geckodriver fail in some way? Please attach trace level logs for further details: https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html

[2018-01-04 11:40] HardikModha commented on #1111
@whimboo Thanks for the response. No, it does not crash at the same URL every time. Before disabling the multi-processor support, It was able to visit ~180-200 URLs. Once I disabled the multi-processor support it was able to visit up to ~430 URLs. So I think the later has somewhat improved compared to the first one. Apart from this, Can you please explain which kind of URLs may cause Firefox conte

[2018-01-04 12:02] codingphil commented on #665
The test is still failing with Firefox Nightly, geckodriver 0.19.1 and selenium 3.8.1.

[geckodriver-trace.log](https://github.com/mozilla/geckodriver/files/1603247/geckodriver-trace.log)

[2018-01-04 13:54] whimboo commented on #1111
There can be various reasons why Firefox crashes. I would clearly need a crash report for that which is normally saved to the profile in use, and there inside the sub folder "minidumps". Right now we do not have anything in geckodriver which can analyze those files. What you could do is to add some extra lines of code in teardown of your test class which copies anything from inside this folder to

[2018-01-04 13:56] whimboo commented on #665
I don't know which kind of code you were running for the trace from the last comment. Can you please highlight the part of the trace log which shows the problem?

[2018-01-04 14:06] codingphil commented on #665
[code]

The problem is that the assert fails (no error in trace). I just added the trace if anybody needs the info.

[2018-01-04 14:23] dpalic commented on #729
is there a planned version in which the patch/fix will be integrated?

[2018-01-04 15:20] whimboo commented on #665
Now I see. This looks indeed strange in the trace:

The Ctrl keys gets released before pressing `a`, and pressed/released again afterward. Given that `chord()` is not part of geckodriver, it should be a problem with the Selenium binding you are using. It just generates wrong code which then gets passed to geckodriver. CC @mjzffr

[2018-01-04 15:21] whimboo commented on #665
I assume code like the following will work, right?

It should make it a dupe of issue #1112.

[2018-01-04 17:02] codingphil commented on #665
Interesting is that the code
[code]
So is the chord here wrong too?

[2018-01-04 19:39] whimboo commented on #813
This shouldn't be a problem anymore with Firefox 58 given that https://bugzilla.mozilla.org/show_bug.cgi?id=1401197 had a similar case. @p0deje can you please check if it works? Thanks.

[2018-01-04 19:48] whimboo commented on #665
Which code works fine? The one I posted in my last comment? Have you run that? If it works (which I believe it does) this issue is invalid, and you should file a bug for your used binding.

[2018-01-04 20:09] asaada83 commented on #1093
Is there a way to enable trace log on a remote browser? I couldn't find it. I am able to turn debug log for selenium though:
[code]

[2018-01-04 20:17] joejoseph00 commented on #420
[for those using behat/selenium/php firefox , and need to acceptInsecureCerts , might want to look at my comment here](https://github.com/SeleniumHQ/docker-selenium/issues/518#issuecomment-355386858)

[2018-01-05 08:07] whimboo commented on #1093
geckdriver outputs the log to stdout. So given how it is started you will have to forward the output to a file, which can be read afterward.

[2018-01-05 08:44] codingphil commented on #665
My argument was that in the code posted above (https://github.com/mozilla/geckodriver/issues/665#issuecomment-355338378)
Keys.chord() works fine because it is passed to WebElement.sendKeys() so it does not seem to be a bug in the method() Keys.chord().
When using Keys.chord() with the Actions API (Actions.sendKeys()) it does not work.
So where and what exactly is the bug?

[2018-01-05 10:03] Inkimar opened #1121 "Connect to localhost:21005 [localhost/127.0.1.1] failed:"
Exception in thread "main" org.openqa.selenium.WebDriverException: org.apache.http.conn.HttpHostConnectException: Connect to localhost:21005 [localhost/127.0.1.1] failed:

## System
* Version: 0.19.1
* Platform: Linux Mint 17.3 Rosa
* Firefox: 57.0.1 (64-bit)
* Selenium: 3.81

From the pom.xml
[code]

## Testcase

## Stacktrace
Hello world
1515145714065	geckodriver	INFO	geckodriver 0.19.1
15151457

[2018-01-05 10:16] whimboo commented on #665
Once again`cord` is not part of geckodriver/webdriver, and it seems to export wrongly for actions. See the following line from your trace log:

geckodriver/webdriver itself gets already the wrong sequence. So it's not us failing here.

Marking as dupe of issue #1112.

[2018-01-05 10:16] #665 closed

[2018-01-05 11:07] andreastt commented on #1121
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-01-05 11:09] andreastt commented on #665
I haven’t followed the conversation, but does this mean there is an upstream Selenium issue here?

[2018-01-05 11:36] Inkimar commented on #1121
Hi @andreastt

I am New to Selenium.
I understand your feedback that I need to run the 'geckodriver' .

Somhow like this ?

I understand the the default port is 4444.

When I run my java-program,java looks  for the geckodriver  on a **random** port like above (port 210005) next time I started it tried port 7328

Are there guidelines on how to pinpoint the port to i.e. 4444 in java ?

[2018-01-05 11:42] andreastt commented on #1121
Presumably your Selenium client runs geckodriver for you. To enable trace logs to be emitted from geckodriver you need to pass a capability to it from your client. See the documentation in the contribution guidelines I linked to earlier as it should have examples for most major clients.

[2018-01-05 12:08] Inkimar commented on #1121
Hello,

I found these LogLevel-settings ( https://github.com/SeleniumHQ/selenium/issues/3943#issuecomment-298714965 )

[code]

[code]

Gives me the trace : which just seems to be on the client - I don't know how to reach the logs from the gecko-server
[code]

[2018-01-05 12:26] Inkimar commented on #1121
Hello.

My Mistake : I saw that my /etc/hosts-file was corrupted.
Now I have restored the file:

it is now  working.

regards, i

[2018-01-05 12:38] p0deje commented on #813
I can confirm this now raise ElementClickInterceptedError with Firefox 59 (I use Nightly) and GeckoDriver 0.19.1.

[2018-01-05 12:38] #813 closed

[2018-01-05 12:45] andreastt commented on #1121
Good you got it working!

[2018-01-05 12:45] #1121 closed

[2018-01-05 12:55] akostadinov commented on #1096
For me being able to unfocus from any element would be a nice feature. When working with expanding menus, sometimes I detect click errors due to expanded menu. So I use site specific elements to click on for the focus to be removed from the menu. It will be one less thing to worry about if it is possible to unfocus at will.

I don't necessarily need that way to be by licking on `body` though!

[2018-01-05 13:14] akostadinov commented on #1020
Hi, for those confused with jenkins and x11 displays. As somebody mentioned already, the Jenkins user usually does not have `DISPLAY` variable set as it is usually started during system init outside a graphical desktop environment.

X11 has some security measures so one user cannot just hook to another user's display. It is possible to add permissions to access another DISPLAY but it is far better

[2018-01-05 14:39] hqbrice commented on #661
Yes, I confirm V59 fix the problem.
But there is a regression on moveToElement(WebElement, xOffset, yOffset) even if scoll display element on xOffset an yOffset

[2018-01-05 16:45] Prime2310 opened #1122 "Fire Fox Browser doesnt open/navigate to requested URL"
## System
* Version:
* Platform:
* Firefox:
* Selenium:

## Testcase

The browser loads however it does not redirect to the URL as stated below.

[code]

## Trace-level log

[code]

## Expected output
Fire fox browser opens with requested URL.

## Actual output
Firefox browser opens with a blank page.

[2018-01-05 21:18] whimboo commented on #813
Great. Thank you for checking.

[2018-01-05 21:36] whimboo commented on #1122
The attached log is not a trace level log. Please consult https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html in how to create one.

[2018-01-06 04:58] HardikModha commented on #1111
I'm using bindings for Java and using `[Geb](https://github.com/geb/geb)` for the automation.

Is there any configuration option for Firefox that I can set to store `miniDump` in the different location. I Googled but only found a reference for chrome. We can pass `chromeOptions.minidumpPath` as mentioned in the [chrome capabilitties](https://sites.google.com/a/chromium.org/chromedriver/capabilitie

[2018-01-06 10:15] cikakosta commented on #1081
I just tried 58 beta and it appears that this is working properly. However, there other issues with clicking but this will be documented in another ticket.

Thank you @whimboo :)

[2018-01-07 23:23] altus34 commented on #944
Same issue here

[2018-01-08 06:21] Ahmedz1984 commented on #1020
I have same issue, and jenkins appears with below message
Selenium - 3.8.1
Firefox - 57
 Driver info: driver.version: FirefoxDriver
   [testng] remote stacktrace: stack backtrace:
   [testng]    0:           0x47e934 - <no info>
   [testng]    1:           0x47f0a3 - <no info>
   [testng]    2:           0x476b0a - <no info>
   [testng]    3:           0x477440 - <no info>
   [testng]    4:

[2018-01-08 07:42] mgehmayr-micro-focus commented on #977
I cannot reproduce the problem with Basic Auth on Windows 10 either with Firefox Nightly from 2018-01-07

[2018-01-08 10:24] whimboo commented on #1081
Thank you for checking! Marking this issue as worksforme then.

[2018-01-08 10:24] #1081 closed

[2018-01-08 10:31] whimboo commented on #1111
No, we don't have support for minidump handling at the moment. For now you would have to copy those files on your own in the test, or instruct Selenium or Geb somehow to keep the profile afterward.

Otherwise a custom profile will also work, but some quirks would have to be applied to that at the moment. See https://github.com/mozilla/geckodriver/issues/1058#issuecomment-347830930 and following co

[2018-01-08 19:52] whimboo commented on #729
Looks like this issue was missed. We have had so many changes in the past months that this patch is most likely bitrotted. :/ @andreastt I wonder if we should wait with doing anything here until the window refactoring patch is done and got landed?

[2018-01-08 21:31] andreastt commented on #729
I had a look at this patch in the past and I couldn’t make up my mind whether it contained too much complexity or whether it was necessary. The patch is bitrotted at this point but it would be possible to apply with some modifications.

As @whimboo indicated I’m rather busy with a [window tracking refactoring](https://bugzilla.mozilla.org/show_bug.cgi?id=1311041) that has sidetracked me looking in

[2018-01-09 09:24] whimboo commented on #1096
A `blur` event usually happens when the user presses a key combination which moves the focus to a different element, or clicks somewhere in the page. I don't think there should be a specific command for that. What you can do is just to use `execute_script` and call `blur()` on the element.

[2018-01-09 10:31] akostadinov commented on #1096
@whimboo , there are possible workarounds. As far as I can tell selenium keeps mouse pointer at the place it previously was. One can for example move to another known element on the page, or move mouse to `0,0` (assuming there is nothing problematic there) but this is some sort of a workaround still.

If mouse is over a menu, will calling blur() help menu to close? Or how do I know exactly where t

[2018-01-09 13:13] andreastt commented on #322
I’m going to go ahead and close this issue because it doesn’t have a concrete description of the problem or a trace log we can use to debug it. The test case that was originally quoted can’t be reproduced in recent Firefox versions.

I should also add that we have made a series of large changes to how element clicking works to align geckodriver closer to the WebDriver standard. Some of these chang

[2018-01-09 13:13] #322 closed

[2018-01-09 13:14] andreastt commented on #716
Closing due to inactivity.

[2018-01-09 13:14] #716 closed

[2018-01-09 13:16] andreastt commented on #988
Unable to reproduce this without a trace-log.

[2018-01-09 13:16] #988 closed

[2018-01-09 13:16] andreastt commented on #1073
Closing due to inactivity.

[2018-01-09 13:16] #1073 closed

[2018-01-09 13:17] andreastt commented on #1087
Closing due to inactivity.

[2018-01-09 13:17] #1087 closed

[2018-01-09 14:31] elliterate commented on #1007
@whimboo #322 was just closed because it doesn't have "a concrete description of the problem or a trace log [you] can use to debug it." Can this one be re-opened, then? While this test passes in Firefox 57.0.4 (and geckodriver 0.19.1), it now fails loudly in 58.0b14 and 59.0a1 with the following:

[code]

## Trace-level log

[geckodriver.log.2.txt](https://github.com/mozilla/geckodriver/files/1615

[2018-01-09 14:33] elliterate commented on #322
@andreastt I have a failing test case and trace log in #1007, which was closed as being a duplicate of this. Can that one be reopened?

[2018-01-09 14:36] andreastt commented on #322
@elliterate Done.

[2018-01-09 14:37] andreastt commented on #1007
Sounds like a fallout from the changes to make Element Click conform to the WebDriver standard, but this needs more investigation.

[2018-01-09 15:17] mjzffr commented on #661
@hqbrice If there's a regression, please make sure there's a separate issue
on file for it with sufficient info to reproduce, otherwise it's unlikely
to get fixed. Thanks.

On Fri, Jan 5, 2018 at 9:39 AM, hqbrice <notifications@github.com> wrote:

[2018-01-09 15:59] barancev commented on #1107
Tested in version 59, the issue is still actual.

[2018-01-09 16:19] andreastt commented on #1107
WebDriver does actually not say that `<option disabled>` should be illegal to click. I’ve filed https://github.com/w3c/webdriver/issues/1187 to fix this shortcoming. @barancev, can you comment there what the expected behaviour is?

[2018-01-09 17:33] hqbrice opened #1123 "moveToElement(WebElement, xOffset, yOffset).click generate an error but not scroll"
## System
* Version: 0.19.1
* Platform: Windows 10
* Firefox: 59 (Nightly of 08/01/2018)
* Selenium: 3.81

##
1500, 150 become 2008,408 because this is computed from the center of the img element.

##Page
[code]

## Testcase

Actions action = new Actions(TptaAutomaton.getInstance().getWebDriver());
WebElement div = driver.getById("mydiv");
action.moveToElement(div, 1500, 150).click().build().perfo

[2018-01-09 17:57] andreastt commented on #1123
Judging by the error message `(2008, 408) is out of bounds of viewport width (1920) and height (966)`, I’m not sure this is a geckodriver bug. The X coordinate 2008 is larger than the viewport’s width, which means the pointer can’t be positioned there.

Am I missing anything?

[2018-01-09 18:38] darxis commented on #939
Please reopen this issue, I have the same problem using just the code:
[code]
[code]

[2018-01-09 19:11] andreastt commented on #939
@darxis That seems like a problem with the Selenium client you’re using.

[2018-01-09 19:31] hqbrice commented on #1123
Possible :
1920x966 seems to match with the resolution screen,
The div width is 1000 but the picture inside width is 5444.
I need click on picture at x=1500 (this is hidden by scroll but reachable).

On FF 57 this scroll the div.

Else, how can I click on picture at x = 1500 ?
Thanks

[2018-01-09 20:29] java123code commented on #420
Firefox driver is not getting launch on **Virtual machine**
   1. resources I used : C# , Selenium 3.8 , VS 2017, Jenkins , VM machine (windows 10) , Nunit v3.9, geckoDrive v19,  firefox v56/57

    2. I can execute firefox / chrome browser cases on local machine

    3. I can execute chrome browser cases on VM machine

    4. Issue : **I can Not execute firefox cases on VM machine and its throwin

[2018-01-09 20:29] andreastt commented on #420
@java123code Please don’t hijack closed issues.

[2018-01-10 00:02] atomar09 opened #1124 "Click on item from the list does not work properly"
## System
* Version: 0.19.1
* Platform: Mac 10.12.6
* Firefox: 57.0.1
* Selenium: 3.8.1

Navigate to MakeMyTrip.com
Type chan on the From field
Wait for the list of suggestions
Find the list of elements and from the list Select Changchun, China
But the code always selects the 1st option in the list

The same code works completely fine and selects Changchun, China when I run it on Chrome.
It looks

[2018-01-10 04:17] jrcosmo opened #1125 ""Failed to decode response from marionette" on WebRTC test"
## System
* Version: geckodriver 0.19.1
* Platform: MacOSX High Sierra 10.13.2 and Ubuntu 16.04.3 LTS (Windows not tested)
* Firefox:
Linux: 59.0a1 latest nightly = 59.0~a1~hg20180102r397555-0ubuntu0.16.04.1~umd1
Mac: 59.0a1 latest nightly = 20180109234707

* Selenium: 3.7.1 Java

## Testcase
KITE-AppRTC-Test (https://github.com/webrtc/KITE): Opens https://appr.tc on Firefox nightly and Safari. Cr

[2018-01-10 04:30] HardikModha commented on #1111
Thanks for the alternative. I'll try the suggestions and get back to you by this weekend.

[2018-01-10 07:59] whimboo commented on #1007
The failure here happens for the following `<a>` node:

So the `<div>` is completely overlaying the link here. This should be https://bugzilla.mozilla.org/show_bug.cgi?id=1374283.

[2018-01-10 08:21] whimboo commented on #1096
@akostadinov I feel this discussion is off-topic on this issue. If there is a problem for you, please file a new issue. Thanks.

[2018-01-10 09:08] hqbrice commented on #1123
Of course, even if I scroll manually to xOffset = 1500 on the screen, the exception is thrown

[2018-01-10 09:26] whimboo commented on #1124
@atomar09 can you please run this code with the latest Firefox 58 beta? I wonder if there are problems with interactability for those entries. The latest beta release can be found at https://www.mozilla.org/en-US/firefox/channel/desktop/.

Also provide a trace log as requested originally when filing an issue. The documentation is also linked and which can be found here: https://firefox-source-docs

[2018-01-10 09:33] whimboo commented on #1125
You are experiencing a content crash (tab) in Firefox, and as such the browser closes itself. As result you see this side-effect that geckodriver is not able to decode the message. There is https://bugzilla.mozilla.org/show_bug.cgi?id=1401131 for this particular problem.

I would appreciate if you could help us to identify the cause of the crash. Sadly there is no automation for that yet, so you w

[2018-01-10 09:36] whimboo commented on #1123
@hqbrice can you please also check the latest Firefox 58 beta if it also misbehaves? If there is a real regression we might still have the time to get this fixed.

[2018-01-10 10:20] whimboo commented on #1123
I can reproduce and as it looks like this is caused by https://bugzilla.mozilla.org/show_bug.cgi?id=1393831. I will file a bug for that. Thanks for reporting!

[2018-01-10 10:26] whimboo commented on #1123
I filed the regression bug as https://bugzilla.mozilla.org/show_bug.cgi?id=1429338. CC @mjzffr

[2018-01-10 10:55] hqbrice commented on #1123
I also tried on V58 with 0,0, it's easier to get coordonate.
So, contrary to what is saied in javadoc, Gecko compute coordinate from the center of the element where Chrome Driver from top left corner.

When I try 0,0 (the center of the picture), I wait click on 2722 and 2041,5 from top left but click is at 3267.5 and 2053.5. You are right, it looks like a bad coordinates computing.

Now, I wait V5

[2018-01-10 13:15] whimboo commented on #954
This is fixed now, and only needs to be released with a new release of geckodriver.

[2018-01-10 13:15] #954 closed

[2018-01-10 13:57] akostadinov commented on #1096
@whimboo , I thought that decision about necessity to click on body would be influenced by it as original issue report has listed the use case that is not working presently. I don't have any any urgent needs ATM. Excuse me if my comments were not useful.

[2018-01-10 13:59] andreastt commented on #1096
Let’s be very clear, we don’t have a decision about special-casing zero-height document elements until it’s been discussed by the WebDriver WG.

[2018-01-10 14:00] whimboo commented on #1123
Hm, sounds like this is related to https://github.com/w3c/webdriver/issues/1171, and that we cannot return to top/left? @andreastt am I right, and this is an expected behavior now?

[2018-01-10 14:10] andreastt commented on #1123
Yes, the default for the `pointerMove` action is the centre point of the element as far as I know, and we can’t change that now because it is in the specification and in implementations… I believe @mjzffr has better insight than me on this matter.

[2018-01-10 14:16] hqbrice commented on #1123
If you change this now, many users will be impacted...
There is a contradiction into the Actions class of selenium (org.openqa.selenium.interactions.Actions). The Javadoc says "Moves the mouse to an offset from the top-left corner of the element." but there is a log info which says LOG.info("When using the W3C Action commands, offsets are from the center of element");

May be the Chrome driver has

[2018-01-10 14:18] whimboo commented on #1123
AFAIK the chrome driver still doesn't use the webdriver spec implementation by default. There should be a separate flag for it.

[2018-01-10 14:20] hqbrice commented on #1123
Chrome driver seems late...

[2018-01-10 16:10] gmartinezsan commented on #1020
Hi,
I'm also facing a very similar issue.
Here the stdout

------
1515599803761	geckodriver	INFO	Listening on 127.0.0.1:1096
Jan 10, 2018 3:56:43 PM org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Attempting bi-dialect session, assuming Postel's Law holds true on the remote end
1515599804104	geckodriver::marionette	INFO	Starting browser /usr/bin/firefox with args ["-marionette"]
E

[2018-01-10 20:00] whimboo commented on #1123
For now we backed out the changes from bug 1393831 for Firefox 58. It means the old behavior should be back with the next beta release. @hqbrice would you mind moving further discussion to https://bugzilla.mozilla.org/show_bug.cgi?id=1429338 in case you want to create an account on Bugzilla? If not we will have to continue on this issue.

We will have some questions in a bit...

[2018-01-10 20:50] gmartinezsan commented on #1020
hi all,
I changed to another version of the selenium java driver (3.8.1), and now I'm getting a different error.

12:40:54.133 [DEBUG] [TestEventLogger] ApexUIValidationTest > Mytest FAILED
12:40:54.133 [DEBUG] [TestEventLogger]     org.openqa.selenium.SessionNotCreatedException: Unable to find a matching set of capabilities
12:40:54.133 [DEBUG] [TestEventLogger]     Build info: version: '3.8.1',

[2018-01-10 21:02] whimboo commented on #1123
@hqbrice for now I would like to know which selenium binding you are using. And would you mind to run the following test just with your binding? https://bug1429338.bmoattachments.org/attachment.cgi?id=8941588 A tracelog from that execution would be kinda appreciated. Thanks.

[2018-01-10 22:50] nddipiazza opened #1126 "Need file rolling ability for geckodriver log"
## System
* Version: 0.19.1
* Platform: Linux 64-bit
* Firefox: 57.0.1
* Selenium: 3.5.3

## Testcase

Set log file using

[code]
We need to add log rolling ability otherwise this log can get very massive.

[2018-01-11 05:37] jrcosmo commented on #1125
minidump folder is empty, keeping the profile for a while no dump is actually created.
Not seen on Firefox 57.04, Firefox 58.0b13
Including profile for one crash after some waiting.
[egHrNFBJDRaU.tar.gz](https://github.com/mozilla/geckodriver/files/1621366/egHrNFBJDRaU.tar.gz)
Very much happy to help troubleshoot, can maybe activating some debugging or logging options help?
I tried with RUST_LOG="

[2018-01-11 09:34] kskashyap94 opened #1127 "ActionChains(driver).move_to_element(ele).perform() fails with "TypeError: action.inputStateMap is undefined""
## System
* Version: 0.19
* Platform: macOS
* Firefox: 58.0b15 (Developer Edition)
* Selenium: 3.4.1

## Testcase
I am using selenium with python, trying to do mouse hover an element using ActionChains. I see the below exception when i try to do the same:
<b>selenium.common.exceptions.WebDriverException: Message: TypeError: action.inputStateMap is undefined</b>

Here is the code that i use to perf

[2018-01-11 09:49] eliAG7 commented on #1070
Try with click() before send_keys(), this worked for me.
Geckodriver Version: 0.19.1
Platform: Lubuntu 17.04
Firefox: 57.0 (64bit)
Selenium: (java) webdriver 3.8.1

snippet java code example:
       WebElement dateBirth;
       ...
       dateBirth.click();
       dateBirth.sendKeys("2018-03-22");

This reflects that what the user types in

[2018-01-11 10:08] hqbrice commented on #1123
No, you can move the discussion to bugzilla

[2018-01-11 10:44] hqbrice commented on #1123
What do you need by " which selenium binding " ?
I use Selenium standalone and giving the geckodriver path. And instance driver by :
`
DesiredCapabilities capability = new DesiredCapabilities();        	capability.setBrowserName(navigateur.toString());
FirefoxOptions firefoxOptions = new FirefoxOptions();
firefoxOptions.setLogLevel(FirefoxDriverLogLevel.TRACE);
if (isTestEnv()) {firefoxOptions.add

[2018-01-11 12:01] whimboo commented on #1020
@gmartinezsan Firefox doesn't have a `--display` argument. You have to specify the display as an environment variable (`export DISPLAY=:99`) so that it get passed to the call of the Firefox executable.

[2018-01-11 12:57] whimboo commented on #1125
Strange that there is no minidump file present in that folder. I cannot try it out myself yet (I want to fix issue #1058 first).

For now I would suggest that you make use of a debug build of Firefox Nightly. You can grab one of the latest here:

https://queue.taskcluster.net/v1/task/FL3o11LRSSW3n-fMO8SiCg/runs/0/artifacts/public/build/target.dmg

It will output way more to the log, so hopefully w

[2018-01-11 13:03] whimboo commented on #1123
Which language is that? Java, C#, ...

[2018-01-11 13:03] whimboo commented on #1123
Also please attach a tracelevel log from the code you run in the last comment. Thanks.

[2018-01-11 13:04] whimboo commented on #1123
Oh, and as best use my example testcase as referenced above on Bugzilla.

[2018-01-11 13:30] whimboo commented on #1127
Sadly the attached log is too huge, and secondly not a trace level log. If you could reduce your test so only the important commands are getting logged that would be great. Further please read this document in how to get trace level logs: https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html

[2018-01-11 13:38] hqbrice commented on #1123
Language is Java
This ar 3 logs
1) action.moveToElement(pic).click().perform();
`14:29:50.279 INFO - Found handler: org.openqa.selenium.remote.server.ServicedSession@18d6145d
14:29:50.279 INFO - Handler thread for session 2a6fbd7f-34a8-492d-b55a-d7bcc4469c9b (firefox): Executing POST on /session/2a6fbd7f-34a8-492d-b55a-d7bcc4469c9b/actions (handler: ServicedSession)
14:29:50.311 INFO - To upstream

[2018-01-11 16:36] gmartinezsan commented on #1020
@whimboo I already changed the code. Here is the test I'm running

[code]

[2018-01-11 18:23] gmartinezsan commented on #1020
I run my tests using gradle.
Here is the stack trace

[code]
It is not clear to my if I should use or not the headless switch or where to use it.
Does anyone could advice about it?
Thanks!

[2018-01-11 19:51] cgoldberg commented on #1020
It should be *very* obvious if you need a headless browser or not.  If the server does not have a display attached, and you are not using a virtual display like Xvfb, then you absolutely need to run the browser in headless mode.

https://en.wikipedia.org/wiki/Headless_browser

[2018-01-11 20:26] oiale opened #1128 "Instability of the driver"
## System
* Version: 0.19.1
* Platform: Windows 10
* Firefox: 56.0.2 - 57.0.4
* Selenium: java 3.6.0

## Testcase

First of all, what settings do I have to provide to geckodriver to disable auto-update of the firefox on startup? Since firefox 56.0.2 it would update on startup and fail all the tests because of that.

A website with 3 angular 2 routes : localhost/#/login, localhost/#/home, localhost

[2018-01-11 21:42] mjzffr commented on #1123
FYI https://bugzilla.mozilla.org/show_bug.cgi?id=1429338#c4

[2018-01-11 21:50] gmartinezsan commented on #1020
@cgoldberg Thanks for the link. It wasn't so obvious to me, I'm new to linux and this is my first time using selenium. I had picked chrome browser but the support on Linux 6.x was a real pain so I chose to change to firefox. Which is still not working and my tests are still failing.

org.openqa.selenium.SessionNotCreatedException: Unable to find a matching set of capabilities
Build info: version:

[2018-01-11 22:20] cgoldberg commented on #1020
upgrade Firefox/geckodriver/selenium to newest versions.  You are using outdated versions with many known issues and incompatibilities.

[2018-01-11 22:49] gmartinezsan commented on #1020
@cgoldberg thanks a lot. I will do right away.

[2018-01-12 07:44] andreastt commented on #1126
I don’t understand what this issue is about, but it seems like a client issue and not related to geckodriver.

[2018-01-12 07:44] #1126 closed

[2018-01-12 07:55] andreastt commented on #1020
I have a hard time following this issue, but to backtrack to the originally reported issue, it seems @ava-m that the last log you attached still show that you are using the `--display` flag. This isn’t a valid flag and would explain why geckodriver cannot start Firefox. It is also hard to guess what is wrong when there isn’t a trace-level log attached.

The other comments that have been made since

[2018-01-12 08:02] lucaspiller commented on #284
@shepmaster I've been looking at this today, as we also want to verify that no JS errors are thrown.

My solution probably won't go down too favourably in this repo, but it does the trick: Switch to using Chrome for integration tests, as chromedriver supports that standard Selenium browser logging interface.

[2018-01-12 08:13] andreastt commented on #1128
First of all it would be helpful if you didn’t coalesce a bunch of different issues together when filing a bug.

Unless you’re passing in a custom profile it is surprising to me that Firefox autoupdates. Can you file a separate bug about this?

Login func is on basic auth (if that matters), and pages contain some unique elements. Also, upon successful login, it redirects automatically to #home

On

[2018-01-12 08:17] andreastt commented on #284
@lucaspiller Chrome uses a standards incompatible version of the logging interface and we have no intention of implementing that.

A brief update on this is that we discussed logging at the last WebDriver working group meeting and I wrote down some quick words here: https://sny.no/2017/12/wdupdate

[2018-01-12 09:02] duanzih commented on #665
@whimboo  Are you sure it is not geckodriver issue ?  I can see Chrome driver works fine with  action.sendKeys(Keys.chord(Keys.CONTROL, "a")).perform(); with the same version Selenium.  I think it should be a geckodriver defect. Can you confirm ?

[2018-01-12 09:34] Temp12d commented on #737
Hi,

Getting below webdriveException on firefox browser

Failureorg.openqa.selenium.WebDriverException: Tried to run command without establishing a connection Build info: version: 'unknown', revision: '1969d75', time: '2016-10-18 09:43:45 -0700' System info: host: 'egain1210', ip: '10.10.54.104', os.name: 'Windows 10', os.arch: 'x86', os.version: '10.0', java.version: '1.8.0_151' Driver info: org.

[2018-01-12 10:00] kskashyap94 commented on #1127
Please find the attached trace level log for further debugging
[geckodriver.log](https://github.com/mozilla/geckodriver/files/1625597/geckodriver.log)

[2018-01-12 10:36] andreastt commented on #737
@Temp12d That’s an error on your end and not a bug in geckodriver. Please also don’t hijack existing issues.

[2018-01-12 12:07] whimboo commented on #795
I tested with Firefox 57 and it works just fine:
[code]
The cookie with the name `OTSESSIONAABQRN` is marked as secure, and as such the following test works:
[code]

The output is:
[code]
Just to check... the WebDriver spec says the JSON key is "secure":
https://w3c.github.io/webdriver/webdriver-spec.html#cookies

So all is fine now. Most likely https://bugzilla.mozilla.org/show_bug.cgi?id=1371733

[2018-01-12 12:07] #795 closed

[2018-01-12 12:19] whimboo commented on #595
It might not completely apply to this issue but please also note https://bugzilla.mozilla.org/show_bug.cgi?id=1430064. If geckodriver gets terminated by Selenium (a missing call to `driver.quit()`), it doesn't close Firefox at all.

[2018-01-12 14:22] nddipiazza commented on #1126
@andreastt i meant that if you are running lots of tests using the same gecko driver service, when using the "withLogFile" option to write to a log, that log file can get many GB large. i was creating this issue to see if we can add log file rotation to this file to manage this.

[2018-01-12 14:35] andreastt commented on #1126
Again, that has nothing to do with the geckodriver project itself. You should file a bug against the client you are using which intercepts the geckodriver output.

[2018-01-12 14:57] nddipiazza commented on #1126
oh i see. didn't realize that. that would be selenium then.

[2018-01-12 15:46] samnissen opened #1129 "Returned screenshot is of the document element’s clientWidth/clientHeight instead of viewport"
## System
* Version: 0.19.1
* Platform: macOS 10.13.2
* Firefox: 57.0.4
* Selenium: selenium-webdriver 3.8.0

## Testcase

### Expected Behavior
Taking a screenshot of https://sixcolors.com results in a screenshot of the viewport view of that site, [as documented here](https://github.com/mozilla/geckodriver/issues/570).

### Actual Behavior
Taking a screenshot of https://sixcolors.com results in a

[2018-01-12 16:09] gmartinezsan commented on #1020
@andreastt yeah you can go ahead and close it.
Thanks

[2018-01-12 16:55] #1020 closed

[2018-01-12 22:47] Jiff21 opened #1130 "Not getting margin or padding python/OSX"
Not getting margin or padding from Firefox.

## System
* Version: 0.17.0 or 0.19.1
* Platform: OS X 10.12.6
* Firefox: 57.0.4
* selenium python 3.8.1 or 3.5.0
* Python 2.7.10 or Python 3.6.2

## Testcase

[code]
Returns
[code]

[2018-01-14 12:59] kruegge82 commented on #823
i still have the same problem...
i open the the url: https://www.domain.com
an get the error:
org.openqa.selenium.InvalidCookieDomainException: .domain.com
in the cookie, the domain is set with a leading dot.
how to fix this?

[2018-01-14 15:04] andreastt commented on #823
@kruegge82 That should’ve been fixed with Firefox 57. Please file a bug.

[2018-01-15 07:08] jrcosmo commented on #1125
Attached two logs running the tests using [https://index.taskcluster.net/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-debug/artifacts/public/build/target.tar.bz2](https://index.taskcluster.net/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-debug/artifacts/public/build/target.tar.bz2)

In both cases the following appears, suggesting WebRTC related content process crash, if you a

[2018-01-15 10:13] LiHaoTan opened #1131 "`change` event not triggered for input text element when browser not in focus"
## System
* Version: 0.19.1
* Platform: macOS
* Firefox: 57.0.4
* Selenium: Java 3.8.1

## Behavior
1. Some text input is changed (with sendKeys)
2. Blur the text input (e.g. click another element, press tab, send a blur event)

`change` event should be fired but it does not fire.

## Testcase
[code]

## Trace-level log

[code]

Related: https://github.com/SeleniumHQ/selenium/issues/5337

[2018-01-15 12:06] whimboo commented on #1125
Yes, totally! Please file that bug into https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&component=WebRTC%3A%20Signaling. Thanks a lot!

[2018-01-15 12:23] whimboo commented on #1127
You are using an outdated version of Firefox. Can you please check again with the latest 58b16?

[2018-01-15 14:20] kskashyap94 commented on #1127
Great!, it works with the latest version (58b16) of firefox. Can i know was there any defect in the earlier version of firefox(58b15) that caused me this problem?

[2018-01-15 17:34] andreastt commented on #1127
@kskashyap94 Did you reply but accidentally delete your last message? 😕

[2018-01-15 20:21] oiale commented on #1128
@andreastt
Hello,

Thank you for your feedback. It was very helpful trying to isolate the problem using more baisc examples, and I think that in fact it had nothing to do with geckodriver itself.

That javascript waits for angular testabilities to complete.

What happened (I think) was that things were going too fast. I was logging in and invoking a different url without waiting for route redirect

[2018-01-15 20:21] #1128 closed

[2018-01-16 05:02] jrcosmo commented on #1125
[https://bugzilla.mozilla.org/show_bug.cgi?id=1430707](https://bugzilla.mozilla.org/show_bug.cgi?id=1430707) open, will close this one.
Thanks!

[2018-01-16 05:02] #1125 closed

[2018-01-16 06:18] kskashyap94 commented on #1127
yeah it was by mistake sorry :( , I tried with latest 58b16. It worked for the very first time after I updated the browser version , but i'm seeing the same issue reported earlier from the next time onwards.

Attaching the trace level log for after upgrading to latest version(58b16):
[geckodriver.log](https://github.com/mozilla/geckodriver/files/1633806/geckodriver.log)

[2018-01-16 06:28] barancev commented on #1131
Can be related to https://github.com/mozilla/geckodriver/issues/906

[2018-01-16 11:16] whimboo commented on #737
Please note the following line from the original log:

This is the problem we fixed for the 0.17 release. It's a dupe of issue #702

[2018-01-16 11:25] whimboo commented on #1125
Thanks!

[2018-01-16 11:55] AparajitaK opened #1132 "Throws SessionNotCreatedException While running test in mozilla"
## System
* Version:
* Platform:
* Firefox:
* Selenium:

## Testcase

## Stacktrace

## Trace-level log

[2018-01-16 12:42] whimboo commented on #1130
This is not going to work, given that you are using a shorthand property name here. While it is allowed to use for setting a property, to actually retrieve it you will have to query the longhand property name. This is also described in the notes section of the [getComputedStyle](https://developer.mozilla.org/en-US/docs/Web/API/Window/getComputedStyle#Notes).

To solve your issue use `padding-top`

[2018-01-16 12:42] #1130 closed

[2018-01-16 12:47] andreastt commented on #737
Oh, well spotted.

[2018-01-16 13:02] whimboo commented on #1132
There has absolutely no information given when creating this issue. There is nothing we can do about.

[2018-01-16 13:02] #1132 closed

[2018-01-16 16:49] bksh05 opened #1133 "send_key() throws exception"
## System
* Version: 0.19.1
* Platform: Linux
* Firefox: 57.0
* Selenium: 3.8.1

## code
<pre>
import unittest
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys

class PythonOrgSearch(unittest.TestCase):

    def setUp(self):
        self.driver = webdriver.Firefox()

    def test_search_in_python_org(self):
        driver = self.driver
        driver.get("

[2018-01-16 17:14] JohanLorenzo commented on #1116
Hi there! Thank you for filing this issue. [Bug 1427849](https://bugzilla.mozilla.org/show_bug.cgi?id=1427849) will take care of signing the binaries (of Windows, Mac, and Linux).

In the meantime, we can mitigate the risks by gpg-signing a checksum file. This way, you're sure the checksum given comes from a trusted party and the intended file hasn't changed, since it was originally published. As

[2018-01-16 17:35] bhyman opened #1134 "Can't launch/operate firefox via geckodriver using Windows Task Scheduler"
## System
* Version: 0.19.1
* Platform: Windows Server 2012 x64
* Firefox: 59.0.0.6589 (64bit) (the 1/15/18 build from https://ftp.mozilla.org/pub/firefox/nightly/2018/01/2018-01-15-10-00-56-mozilla-central/firefox-59.0a1.en-US.win64.zip ... issues experienced on 57.0.2 too)
* Selenium: 3.8.0, Python bindings

## Testcase
Save the following in a .py file and set it up via Task Scheduler as a sched

[2018-01-16 21:40] HelioGuilherme66 commented on #1133
No problems on my Fedora 26, stock Python 3.6.3,
    Version: 0.19.1
    Platform: Linux
    Firefox: 57.0.4
    Selenium: 3.8.1

[2018-01-16 22:56] java123code commented on #1122
Seeing kind of same issue 👍

c:\tools>psexec /accepteula \\182.6.5.21 -u "MPproject" -p "fkfckfk?" -h "C:\Program Files (x86)\NUnit.org\nunit-console\nunit3-console.exe" "C:\MPproject\Automation\Automation.sln"

PsExec v2.2 - Execute processes remotely
Copyright (C) 2001-2016 Mark Russinovich
Sysinternals - www.sysinternals.com

NUnit Console Runner 3.4.0
Copyright (C) 2016 Charlie Poole

Runtime

[2018-01-17 04:52] bksh05 commented on #1133
I use ubuntu 16.04
And it throws this exception

[2018-01-17 08:49] simonwallace commented on #1068
I had the same issue, but I am using TeamCity to run the tests.

- Version: 0.19.1
- Platform: Windows Server 2012 R2
- Firefox: 57.0.4
- Selenium WebDriver: 3.8.0 (C#)

I can confirm that the solution posted by @rahull which involves setting "**security.sandbox.content.level**" to "**5**" in the Firefox profile seems to fix this issue.

Relevant code:

[code]

[2018-01-17 10:19] whimboo commented on #1127
@kskashyap94 working on a more recent version of Selenium should always be a good idea. But not sure if this could affect this issue.

Which version of Firefox is working for you? Was it the 57, 56, or 55 release? It would be good to know since when it is broken.

[2018-01-17 10:27] wOOx92 commented on #466
Setting the option "marionette: true" in my protractor.conf.js worked for me:
[code]

I hope this helps someone.

[2018-01-17 11:05] whimboo commented on #1134
Yes, this is a bug in Firefox and not geckodriver. Given your attached minidump files (thanks a lot for those!) I was able to find https://bugzilla.mozilla.org/show_bug.cgi?id=1400637.

Here is your crash report: https://crash-stats.mozilla.com/report/index/740876c8-0479-4b55-b2d1-e32bb0180117

Without having you to read all the comments, here some questions:

* Are you using an antivirus software

[2018-01-17 11:05] #1134 closed

[2018-01-17 11:09] whimboo commented on #1122
Once again, without a trace level log we cannot help.

[2018-01-17 11:12] whimboo commented on #1133
As requested when filing an issue, there is no trace level log attached. Please consult https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html in how to get that.

[2018-01-17 12:22] whimboo commented on #915
Missed to close this issue. Firefox 58 will have the WebDriver compatible interactability checks turned on by default.

[2018-01-17 12:22] #915 closed

[2018-01-17 12:48] kskashyap94 commented on #1127
@andreastt Yes, it works against firefox nightly. But can i know what is the reason for the same to not work against Firefox Developer edition

[2018-01-17 14:43] andreastt commented on #1131
Since it is related to `nsIWindowUtils` I think that’s very likely. Resolving as a duplicate of https://github.com/mozilla/geckodriver/issues/906.

[2018-01-17 14:43] #1131 closed

[2018-01-17 14:44] andreastt commented on #906
https://github.com/mozilla/geckodriver/issues/1131 was filed about text input, so this isn’t specific to clicking.

[2018-01-17 14:59] andreastt commented on #979
@eweseong Can you try again with a fresh build of Nightly?

[2018-01-17 15:02] andreastt commented on #1124
@atomar09 Do you have an update for us?

[2018-01-17 15:05] andreastt commented on #1129
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1385706.

[2018-01-17 15:14] andreastt commented on #1063
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1431116.

[2018-01-17 15:18] whimboo commented on #979
Nope, that was a failure of mine. A nightly build of Firefox will not work here. He needs a new build of geckodriver.  So please download this file, and under `bin/` you will find the fixed version of geckodriver.

https://queue.taskcluster.net/v1/task/D8DVmtUSRmCODgrwlky5LQ/runs/0/artifacts/public/build/target.common.tests.zip

Please use that for testing this problem.

[2018-01-17 16:04] samnissen commented on #1129
Thanks, @andreastt .

This is actually my desired outcome. Is there any hope the fix will provide an way to set the desired height of the screenshot, or a boolean to opt-in to screenshots to use the documentElement dimensions (or whatever dimension is canonically correct – scrollHeight, maybe)?

[2018-01-17 16:36] andreastt commented on #1129
I’m afraid it won’t be configurable. Because other browsers (such as Chrome) isn’t able to accommodate full-document screenshots the WebDriver standard had to land on the greatest common denominator, which is to take a screenshot of the viewport only.

With geckodriver we will want to keep the ability to take a screenshot of the document element and expose that as a proprietary extension command.

[2018-01-17 16:52] andreastt commented on #570
Sure, sorry about the delay. Here’s the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1431148

[2018-01-17 18:30] mjzffr commented on #1063
Hmm, I guess we only partly fixed this in https://bugzilla.mozilla.org/show_bug.cgi?id=1345653
There's a corresponding wdspec test and all, but it seems not to cover this scenario.

[2018-01-17 19:03] bksh05 commented on #1133
I have included log file
Is it okay??
[geckodriver.log](https://github.com/mozilla/geckodriver/files/1640260/geckodriver.log)

[2018-01-17 19:55] nddipiazza opened #1135 "headless firefox + marionette + gecko + selenium - fails to open web driver intermittently when ran in parallel"
## System
* Version: 0.19.1
* Platform: Linux ubuntu 17
* Firefox: 59.0
* Selenium: 3.5.3

## Testcase

Run many selenium + firefox headless sessions in parallel. Run them until you see a failure.

java log: `Caused by: org.openqa.selenium.WebDriverException: EOF reading marionette message`

gecko log: `<- 500 Internal Server Error {"value":{"error":"unknown error","message":"Failed to decode resp

[2018-01-17 22:28] pchtest commented on #1063
I observed the same behavior in my testing today with the upgrade of slenium, Firefox.
OS: windows7.0
Selenium: 3.8.1
Firefox: 56.0.2 (Tried 57.0.3,still the same)
gecho driver: 0.19.0
Java: 8
in my Selenium /Java scripts, no issues with Java 8/FF47/selenium2.58
I have upgdared all to the above and click on login page is not responding.

here is my code:

if (sBrowser.equals("*firefox")){

[2018-01-18 00:07] eireland commented on #1122
I have the same problem with geckodriver 0.19 webdriver 3.8 and FF57.0.4 64-bit.
I have tried to get a tracelog using both geckodriver -vv and
[code]
and nothing appears.
I did a logger.level =:info and got
[code]
My code is basic:
[code]

[2018-01-18 00:10] andreastt commented on #1122
@eireland To claim that that is the same problem without a stacktrace, error, or a trace-log is reaching.

[2018-01-18 02:12] gitsnippet opened #1136 "selenium.common.exceptions.WebDriverException: Message: connection refused"
## System
* Version:  v 0.19.1
* Platform:  debian9
* Firefox:   52.4.0(64bit)
* Selenium:       3.8

## invoke firefox
from selenium import webdriver
browser = webdriver.Firefox()

firefox opened, an error occur as below:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/firefox/webdriver.py", line 158, in _

[2018-01-18 05:24] eweseong commented on #979
Is there a specific firefox version i should test the fixes with?

[2018-01-18 05:37] eweseong commented on #979
A virus was detected in the file above

[2018-01-18 09:01] whimboo commented on #979
No, all versions of Firefox will work with this fix in place. So whether you wait for the next geckodriver release, which should be out hopefully soon, or build it yourself.

Do you have more details about which type of virus (I strongly believe it is a false positive) is detected here by which av software? Info on that would be very welcome.

[2018-01-18 09:08] whimboo commented on #1133
This is not a trace level log, and if you check those lines you won't find any errors/exceptions listed. So please get a trace log, and make sure that the failure you are referring to is visible. Thanks.

[2018-01-18 14:21] bksh05 commented on #1133
Sorry actually i am new to this
I will upload the tracelog soon

[2018-01-18 14:21] andreastt commented on #1136
Firefox 52 isn’t supported.

[2018-01-18 14:21] #1136 closed

[2018-01-18 16:04] eireland commented on #1122
![image](https://user-images.githubusercontent.com/7716653/35107563-21e0c0d6-fc26-11e7-9305-befc67b8a3f9.png)

[2018-01-18 16:14] andreastt commented on #1122
Without a [trace-level log] we are left to guessing what is wrong. Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-01-18 16:14] #1122 closed

[2018-01-18 16:17] eireland commented on #1122
Above iimage is the trace log

[2018-01-18 16:22] andreastt commented on #1122
First of all, it’s very hard to read a screenshot. As you can tell from the log, it shows that Firefox isn’t starting up. This isn’t the problem you reported originally, as that log does show that Firefox starts.

Which Firefox version are you using?

[2018-01-18 16:36] Prime2310 commented on #1122
This is exactly what I am getting.

Fire fox does start but does not navigate to the URL as stated in the code.

On 18 Jan 2018 4:22 pm, "Andreas Tolfsen" <notifications@github.com> wrote:

[2018-01-18 16:39] andreastt commented on #1122
@Prime2310 Can’t help you without the information requested in the [issue template](https://github.com/mozilla/geckodriver/blob/master/ISSUE_TEMPLATE.md). See [CONTRIBUTING.md)(https://github.com/mozilla/geckodriver/blob/master/CONTRIBUTING.md#reporting-bugs) on how to report a good bug.

[2018-01-18 17:09] Prime2310 commented on #1122
I'm ok then

Well I followed what I saw but ok. Anyway I thought what I provided was a
trace level log. I just shortened it. Is there no advice or help you can
give as to what the issue might be as I have done. Have you even tried the
code I put with using a new solution. I followed exactly what I saw on
YouTube videos and saw their solution work yet mine does not.

I just find it strange that. Oh

[2018-01-18 17:10] Prime2310 commented on #1122
And I followed the trace level options that you have described. And that's
what was displayed in the CMD window so I don't know what you are referring
to then.

On 18 Jan 2018 5:09 pm, "Grant Pryor" <grant.pryor147@gmail.com> wrote:

[2018-01-18 17:43] eireland commented on #1122
Finally figured out how to get the test out of command line. Trace log I got is:
[code]

[2018-01-18 17:46] andreastt commented on #1122
@eireland And I ask, for the third time, what version of Firefox are you using?

[2018-01-18 17:49] eireland commented on #1122
Sorry, I've been answering the same question on multiple baords and don't remember where I have typed it in. FF 57.0.4 64 bit Win 10 geckodriver 0.19 webdriver ruby binding 3.8

[2018-01-18 17:52] andreastt commented on #1122
I can’t see anything immediately suspicious with the log, though it is interesting that the network read timeout happens after so few connection attempts. Are you able to launch the firefox.exe manually fine? Is there a firewall running on the machine that prevents geckodriver from listening?

[2018-01-18 18:02] eireland commented on #1122
Yes I can call firefox.exe in the mozilla folder fine. There should be no firewalls except for usual Windows Defender

[2018-01-18 19:50] eireland commented on #1122
Yippee! I think I solved my problem. Somehow, my PATH variable is not finding gecko, so I stuck it in the System folder, and now everything works fine. Thanks for the clue in terms of  the firefox.exe. I was able to understand the trace log better.

[2018-01-18 20:34] whimboo commented on #1122
I assume you mean geckodriver and not gecko. If yes, this executable was already in that system folder for your [last provided log](https://github.com/mozilla/geckodriver/issues/1122#issuecomment-358724863). So I don't see what really has been changed here. Btw. the mentioned log is a debug, but not a trace log.

[2018-01-18 21:35] atomar09 commented on #1124
I tried with the latest FF beta version suggested by you.
It does not work with that also, same output.

About Trace logs:
I imported this statement:
`import org.openqa.selenium.firefox.FirefoxOptions;`

Then I wrote this code as suggested in the article:
[code]

I see a compilation error that **FirefoxDriverLogLevel cannot be resolved to a variable.**

[2018-01-19 00:25] andreastt commented on #1124
`FirefoxDriverLogLevel` exists in https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/firefox/FirefoxDriverLogLevel.java.

[2018-01-19 00:42] atomar09 commented on #1124
From which Selenium WebDriver version does it exist?

On Thu, Jan 18, 2018 at 4:25 PM Andreas Tolfsen <notifications@github.com>
wrote:

[2018-01-19 02:33] eweseong commented on #979
https://www.f-secure.com/v-descs/other_w32_generic.shtml
I agree that it is most likely a false positive but nevertheless it has trigger the alert of our IT guys

[2018-01-19 07:31] andreastt commented on #979
We’ve seen this with the 32-bit Windows binaries in the past, c.f. https://github.com/mozilla/geckodriver/issues/671 and https://github.com/mozilla/geckodriver/issues/481.

[2018-01-19 08:24] eweseong commented on #979
It seems that the fix did not resolve the problem, attached is the log file generated.
[geckodriver.log](https://github.com/mozilla/geckodriver/files/1645747/geckodriver.log)

[2018-01-19 08:36] whimboo commented on #979
The fix solved the problem very well in geckodriver, but what you see now is a crash in Firefox. So which version of Firefox did you use here? Please paste the `Build from` link on the `about:buildconfig` page. I assume it is a debug build? Also did you ever run with a Firefox version, which wasn't affected by this problem? Maybe test old Firefox versions with the updated geckodriver binary.

If i

[2018-01-19 08:50] eweseong commented on #979
https://hg.mozilla.org/mozilla-central/rev/38f49346a200cc25492236c7b3c536fc835fe031

It is the latest officially nightly build

I'll give this a try

[2018-01-19 17:48] matanmoda opened #1137 "Click on 'a'/href element doesn't work in Firefox 57"
## System
* Version: 0.19.1
* Platform: macOS 10.13
* Firefox: 57
* Selenium: 3.8.0

## Testcase

<a class="mojo-navigation_items_inner_item" href="/account/credits"><span class="hidden-sm hidden-xs">Site Credits</span><span class="visible-sm visible-xs">Site Credits</span></a>

## Stacktrace

On click I get
"SecurityError: The operation is insecure." in the console and the element is only highlig

[2018-01-19 21:59] tiffynets commented on #1093
I found the solution on Saucelab [https://saucelabs.com/blog/selenium-tips-uploading-files-in-remote-webdriver](blog)
I use Watir so in my setup i do
`@browser.wd.file_detector = lambda do |args|
         # args => ["/path/to/file"]
         str = args.first.to_s
         str if File.exist?(str)
    end`

And that does the trick
`@browser.element(:id, 'some-id').send_keys path`
Works like a charm!

[2018-01-20 00:32] pumba-lt commented on #285
@whimboo for me setting neither `-v /dev/shm:/dev/shm` nor `--shm-size 2g` did not address the problem on `selenium/node-firefox:3.8.1-erbium`. but the `driver.get("about:config");` workaround seems to work.

[2018-01-20 21:12] bloudraak commented on #1116
@JohanLorenzo It would work for downloads.

Do you have any documentation how one would specifically validate the download using this approach as part of a bash script? That script can be adapted for PowerShell later.

[2018-01-20 22:44] sumit6073 opened #1138 "org.openqa.selenium.WebDriverException: Process unexpectedly closed with status: 0 Error"
## System
* Version:  Geckodriver v0.19.1
* Platform: Windows
* Firefox: 57.0.4
* Selenium: 3.8.1
* Jenkins: 2.89.3

## Trying to integrate Selenium Test using Maven in Jenkins
It works fine when I run test using eclipse.
But when I run the test using Jenkins, it fails with below error.

Error Message

org.openqa.selenium.WebDriverException: Process unexpectedly closed with status: 0
Build info: v

[2018-01-21 12:14] 1dragosh opened #1139 "Firefox Profile - Cannot open window as TAB."
## System
* geckodriver 0.19.1
* Linux Mint Cinnamon 18.3
* Firefox: 57.0.4 (64-bit)
* Selenium: python - selenium 3.8.0

## Testcase

[code]

OR:

[code]

## Stacktrace

Whenever geckodriver loads a new profile, it cannot open a new tab with window open and it opens a new window instead.
If no profile is loaded, geckodriver proceeds to opening `window.open` links as tabs.
Even if setting `browser

[2018-01-22 08:23] whimboo commented on #285
@pumba-lt then you most likely hit another issue. But that is hard to say without seeing any logs. Best you file a separate issue so we can investigate.

[2018-01-22 08:27] whimboo commented on #1093
Without a trace log we cannot help. Sorry. Once you have one, we can reopen the issue.

[2018-01-22 08:27] #1093 closed

[2018-01-22 08:36] whimboo commented on #1124
If you blame the code you will see that the logging code for geckodriver has been added about 5 months ago: https://github.com/SeleniumHQ/selenium/commit/72e397775631daab45370c2225ec313908b9f33c. As such the latest release of your Selenium binding should have it. And I assume it is Java.

[2018-01-22 08:54] whimboo commented on #979
Interesting that we get that less stack info for a Nightly build. Anyway, it would be great if you could test this debug build instead:

https://queue.taskcluster.net/v1/task/fQ3U-Y2tQsCXHRx1hopD6w/runs/0/artifacts/public/build/target.tar.bz2

It should give us the information we want. Also you might want to test at least with the 55 release of Firefox. Note, that formerly it was not working due t

[2018-01-22 09:02] whimboo commented on #1063
@pchtest, your comment is not about actions but `click`. Given that you are trying to to click a form element your issue is related to issue #1026.

[2018-01-22 09:17] whimboo commented on #1135
Would you mind running a debug build of Firefox so we can get more output in the trace log? You can find a recent 59.0a1 build here:

https://queue.taskcluster.net/v1/task/fQ3U-Y2tQsCXHRx1hopD6w/runs/0/artifacts/public/build/target.tar.bz2

Please note that geckodriver in version 0.19.1 still crashes Firefox during shutdown. This is fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1403923, bu

[2018-01-22 09:18] whimboo commented on #1136
Just to add, you need at least Firefox 55 when using geckodriver 0.19.1, as stated in the documentation.

[2018-01-22 09:21] whimboo commented on #1138
Your Firefox crashed. Would you mind testing with a recent [Firefox Nightly build](https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly)?

Otherwise how does Jenkins run the tests on the slaves? And how are slaves conncted to the master?

[2018-01-22 09:25] whimboo commented on #1139
Do not set preferences via the profile instance, but via the Firefox options class: https://github.com/mozilla/geckodriver/#prefs-object. Also see the example below on that page.

Does that fix your problem?

[2018-01-22 09:27] whimboo commented on #1137
There is nothing in this log which lists that the test actually triggered a `click` command. Please provide the full log around the problematic lines.

[2018-01-22 09:32] whimboo commented on #1127
It seems that this was a fix which only landed for Firefox Nightly. So an upcoming Developer edition build with version 59 will fix it. It should be released in the next couple of days.

[2018-01-22 11:17] kskashyap94 commented on #1127
@whimboo Sounds great!. I'll try on that and update this thread.

[2018-01-22 14:20] matanmoda commented on #1137
Woops.
Let me know if this has it. Thank you!
Trying to click this guy //*[text()='Site Credits']
This uses
@driver.action.click(@driver.find_element(:xpath=> "//*[text()='Site Credits']")).perform
At the end after ------------------- you'll find the regular click
 @driver.find_element(:xpath=> "//*[text()='Site Credits']").click()

2018-01-22 09:09:24 INFO Selenium -> POST session/97fdd464-b556-4

[2018-01-22 17:31] fakir532 opened #1140 "Gecko Driver unable to open Firefox URL, timeout after waiting for 45 sec"
## System
* Version: <0.19 x64>
* Platform: <Windows 7 x64>
* Firefox: <version 57 x64>
* Selenium: <3.5.2>

## Testcase

Firefox is able to launch the Browser but gets stuck after geckodriver does some of the pre setup tasks and error message appears saying "TimeOut waiting for 45 seconds"

## Stacktrace

[code]

[2018-01-22 21:53] Eskampette opened #1141 "Gecko failed to connect to Firefox57.0.4 when running from Bamboo agent"
## System
* Version: geckodriver-v0.19.1-win64
* Platform: Windows Server 2012R2
* Firefox: 57.0.4 (64-bit)
* Selenium: selenium-server-standalone-3.8.1
* Language: Java8
* Integration with Bamboo

## Testcase

We are using Bamboo (Bamboo agent are running as service on our Window server box). Everything ws OK with old version of Firefox (50.0), but since we update it to the last version (57.0.4),

[2018-01-22 22:07] ameliavoncat commented on #1133
I'm getting this same issue whenever I use send_keys.
[code]

Here is the relevant part of my trace log:
[code]

[2018-01-23 07:07] eweseong commented on #979
[geckodriver_ff_v55.log](https://github.com/mozilla/geckodriver/files/1654876/geckodriver_ff_v55.log)

[geckodriver_ff_v59_debug.log](https://github.com/mozilla/geckodriver/files/1654878/geckodriver_ff_v59_debug.log)

[2018-01-23 10:27] 1dragosh commented on #1139
[code]

Still the same..

[2018-01-23 10:33] andreastt commented on #1139
The default value of `browser.link.open_newwindow` is `3`, which I believe is new window. We don’t override it in geckodriver or Marionette. However, you are configuring your prefs incorrectly, see the README for what the capabilities object should look like. Consider using the `FirefoxOptions` helper in the Selenium Python client.

[2018-01-23 11:48] whimboo commented on #979
@eweseong so Firefox 55 is not showing this problem? I cannot find a crash in that trace log. Or is there anything which is still not working?

[2018-01-23 11:59] whimboo commented on #1133
@ameliavoncat this is very strange. Especially when I check this line:

Here the content is getting send as `value` but not `text`. Via the WebDriver spec only `text` is supported. And here it is `null`. Please try to upgrade your Selenium binding, and if the problem still persists, file an issue appropriately for that other project. It's not a problem on our side as I can see so far. @andreastt m

[2018-01-23 12:00] whimboo commented on #1133
Btw. interesting here is that everyone affected by this problem is using Selenium 3.8.1.

[2018-01-23 12:02] 1dragosh commented on #1139
Yes, the default value is 3, but however, a new profile will overwrite it to 2.
As for the capabilities, I've tried to read the page, but still haven't got a clue about setting it up

[2018-01-23 12:08] andreastt commented on #1139
Right, so I have no idea why you’re trying to set it to `3`. The JSON input is supposed to look like `{"capabilities": {"alwaysMatch": {"moz:firefoxOptions": {"prefs": {"browser.link.open_newwindow": 2}}}}}`, and the `FirefoxOptions` class will help you produce this.

[2018-01-23 12:12] whimboo commented on #1133
Oh, I was wrong. The split for `value` and `text` is happing in geckodriver. Given that this is not visible for you all means that you are not using the latest release of geckodriver. So please upgrade to 0.19.1 and it should work.

@bksh05 make sure you check the same.

I will close this issue for now. It can be reopened in case there is a real problem with 0.19.1 and a trace log attached.

[2018-01-23 12:12] #1133 closed

[2018-01-23 12:13] whimboo commented on #1125
@jrcosmo does the latest nightly build with the fix work for you?

[2018-01-23 12:20] whimboo commented on #1141
This could be a dupe of issue #466. Can you please test with the latest Firefox 58.0 beta release which can be found here: https://www.mozilla.org/en-US/firefox/channel/desktop/#beta

Most likely this crash in Firefox should be also fixed for you.

[2018-01-23 13:25] Eskampette commented on #1141
Thanks Henrik. I am gonna try that and will let you know the result.

[2018-01-23 14:43] PascalGit1 commented on #1020
doesn't that mean this isn't the same issue as i mentioned at #1091 ?

[2018-01-23 17:29] usmanpasha commented on #1058
FAILED CONFIGURATION: @BeforeClass beforeMethod
org.openqa.selenium.WebDriverException: org.apache.http.conn.HttpHostConnectException: Connect to localhost:32703 [localhost/0:0:0:0:0:0:0:1] failed: Connection refused (Connection refused)
Build info: version: '3.7.0', revision: '2321c73', time: '2017-11-02T22:22:35.584Z'
System info: host: 'MV-IMAGE-E17-8.local', ip: '2001:f40:902:a86d:4920:6e2e:35

[2018-01-23 18:23] yesinsky commented on #939
This issue is still actual. Null reference exception is being thrown on any WebDriver.Keyboard.SendKeys(...); action.

[2018-01-23 20:01] atomar09 commented on #1124
I am not blaming the code, I am trying to ask for details.
I was using Selenium WebDriver 3.5.3, I will update and try again to provide the logs.

[2018-01-23 20:06] twalpole commented on #1124
@atomar09   @whimboo is referring to `git blame` which can be triggered from the top right of a file view in GitHub, and will show what commit added specific lines to a project.  He's not saying that you are blaming the code for your issues.

[2018-01-23 20:41] Eskampette commented on #1141
Indeed, seems to be the same problem than #466:
* It doesn't work with Firefox 58.0b16 or the official 58.0,
* It work with the [Firefox nightly](https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly) [no need to set the "security.sandbox.content.level" capabilities on gecko driver].

Is there any solution for using the official firefox release?

[2018-01-23 21:40] andreastt commented on #939
@yesinsky Sure, but if you were to read the context of the issue you would realise it is not a bug in geckodriver, but in the client you are using. I would suggest reporting a bug there.

[2018-01-23 22:35] tarakadesilva-fpx commented on #466
For 58.0, you need to set "security.sandbox.content.level" to 5.

[2018-01-23 23:21] jmcook74 commented on #466
Is this how we set the content level? I'm using FF 58.0 and the browser is saying my tab crashed.

                        final FirefoxProfile profile = new FirefoxProfile();

			System.setProperty("webdriver.gecko.driver", Browser.GEKODRIVER_EXE_LOCATION);
			System.setProperty(FirefoxDriver.SystemProperty.DRIVER_USE_MARIONETTE, "true");
			System.setProperty(FirefoxDriver.SystemProperty.BROWSER

[2018-01-23 23:30] tarakadesilva-fpx commented on #466
final FirefoxProfile profile = new FirefoxProfile();
profile.setPreference("security.sandbox.content.level", 5);
final FirefoxOptions options = new FirefoxOptions();
options.setProfile(profile);
driver = new FirefoxDriver(options);

Note: I use v0.19.1 of gecko driver where FirefoxDriver(Capabilities) is deprecated.

[2018-01-23 23:37] tharakadesilva commented on #466
@jmcook74 For 58.0, you need to set "security.sandbox.content.level" to 5.
[code]
Note: I use selenium 3.8.1 where FirefoxDriver(Capabilities) is deprecated.

[2018-01-23 23:39] jmcook74 commented on #466
You just killed two birds with one stone. Thank you both for the solution. I will try this out asap.

[2018-01-24 04:57] atomar09 commented on #1124
[code]

[2018-01-24 06:08] eweseong commented on #979
@whimboo yes, the same problem persisted in Firefox 55, a browser can be seen opened without any URL and the scripts hangs for waiting on the "Open Browser" keyword from robotframework

[2018-01-24 07:40] jrcosmo commented on #1125
Didn't have the chance to verify yet, plan to do it shortly.

On Tue, Jan 23, 2018 at 8:14 PM, Henrik Skupin <notifications@github.com>
wrote:

[2018-01-24 08:07] whimboo commented on #1141
@Eskampette just use the same sandbox level as for Nightly (please note that it could mean some unforeseen misbehavior given that we don't use that value on purpose on releases yet), or use the Nightly version of Firefox for now. I would suggest that you do the former first.

Marking issue as dupe of #466.

[2018-01-24 08:07] #1141 closed

[2018-01-24 08:09] whimboo commented on #466
Please note that preferences should preferable be set via the FirefoxOptions instance directly, and not through the profile instance.

[2018-01-24 08:14] whimboo commented on #979
Ok, so that seems to be something else which should have been fixed in later versions. Lets concentrate on Nightly for now. When the crash happens and it waits those 300s, can you please check if the created Firefox profile from geckodriver is still around? If yes, have a look into the `minidumps` subfolder inside that profile, and copy all the dmp files to a safe place, then package those and sen

[2018-01-24 08:23] whimboo commented on #1124
The above log doesn't contain any line related to a `click` command.

Also which framework is this website using? Maybe React (issue #962) or Angular (issue #946)?

[2018-01-24 10:11] jlawrynowicz commented on #1088
I just had the very same problem on centos 7 + selenium 3.8.1 + geckodriver v0.19.1 + firefox 58.0 setup in docker container.

The solution was to alter the way Xvfb was launched (add `-ac -screen 0 resolution`), e.g.

`/usr/bin/Xvfb :99 +extension  RANDR -nolisten tcp -fbdir /var/run -ac -screen 0 1366x768x24`

[2018-01-24 11:09] eweseong commented on #979
The `minidumps` folder seems to be empty at the point of crash, is there another alternative to collect the crash?

[2018-01-24 12:23] whimboo commented on #979
Sadly not, because as it looks like we crash too early during startup of Firefox that the crash reporter has not been loaded yet.

@luser, do you have an idea how to get more details for this particular startup crash of Firefox 59? I tried to use the fix stack script from `python/rb` but that wasn't working for me.

[2018-01-24 12:40] Eskampette commented on #1141
@whimboo, on nightly, the "security.sandbox.content.level" is set to "5". I tried to use the same with Firefox  58.0 (or beta) but it does not work using this piece of code when using Gecko driver (Java):

Is it the right thing to do?

As a side note I should say that I really don't have a clue about the meaning of the "security.sandbox.content.level" property and expected behavior with different

[2018-01-24 14:43] andreastt commented on #1141
`security.sandbox.content.level` is a preference, not a WebDriver capability. You will want to pass it in to the `moz:firefoxOptions` dictionary. See the README.

[2018-01-24 14:48] tharakadesilva commented on #466
@whimboo what's the difference / advantage of doing it directly using FirefoxOptions instance instead of the Profile instance?

[2018-01-24 16:37] java123code commented on #466
profile.setPreference("security.sandbox.content.level", 5);  yes "5" is working now.
"4" did not helped me.

Thanks all

[2018-01-24 18:41] Eskampette commented on #1141
Thanks @andreastt. As I use Java FirefoxOptions, I think I can use the preference:

[code]

From the log (which seems to follow the README):

However, it still doesn't work with Firefox 58.0.

[2018-01-24 19:12] Eskampette commented on #1141
It seems that my problem was more about the way to set the "moz:firefoxOptions" preference with Java...

It work with Firefox 58.0 using the following code:

[code]

Thanks for your support.

[2018-01-24 20:14] bhyman commented on #1134
Thanks, whimboo. I just made a direct reply in Bugzilla -- per what I said there, this is now working fine in 59.0a1 and 60.0a1. Mystified as to why it was broken last week and functional this week. Oh well. I'll keep an eye out and will make further additions to Bugzilla as necessary. Appreciate your help!

[2018-01-24 20:16] qatest99 commented on #466
So will this work with jenkins: 2.46.3, FF 58.0 and Selenium 3.3.3 and Gecko driver 19.1.?  I tried with  the default content  level 4  and FF browser did not start thru Jenkins. It worked fine locally, but failed through Jenkins.

Also can we set the sandbox.content.level to 5 through about:config on the browser?

Let me know.

Thanks
Sina

[2018-01-24 20:21] atomar09 commented on #1124
Looks like it didn't catch correct logs.

Please find the trace log:

`1516825240546	geckodriver	INFO	geckodriver 0.19.1
1516825240551	geckodriver	INFO	Listening on 127.0.0.1:29422
log4j:WARN No appenders could be found for logger (org.apache.http.client.protocol.RequestAddCookies).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#

[2018-01-24 20:33] andreastt commented on #1139
I don’t think there is any further action to be taken here.

[2018-01-24 20:33] #1139 closed

[2018-01-24 20:35] andreastt commented on #983
Closing due to inactivity. Happy to re-open once you have managed to narrow down the steps.

[2018-01-24 20:35] #983 closed

[2018-01-24 23:28] java123code commented on #466
@qatest99  , I updated my comment , please have a look. sorry for that.

[2018-01-25 10:08] whimboo commented on #466
You can let geckodriver create the profile so that it only contains whatever is necessary to run Firefox. If Selenium is doing that there might be inconsistencies.

[2018-01-25 10:10] whimboo commented on #1124
@atomar09 please answer the questions from my last comment. Thanks.

[2018-01-25 10:12] whimboo commented on #1134
@bhyman great to hear! And thanks a lot. Please also always notify us in case you find something else.

[2018-01-25 10:14] whimboo commented on #1141
@Eskampette out of interest why are you disabling multi-process (e10s) in Firefox? Is there anything which fails in your case?

[2018-01-25 13:00] GianniGi commented on #660
I have this problem on firefox 58 on linux, with the foxy gestures addon installed.

[2018-01-25 14:15] Eskampette commented on #1141
@whimboo, we switch back to Firefox 57.0.4 (do not ask me why...) and, from our tests (*), it works only with this configuration (headless is not necessary):

[code]

(*) Selenium tests is running on Bamboo as a window service.

[2018-01-25 14:18] thangavel opened #1143 "Unable to read VR Path Registry error is occurring when I run the cucumber selenium test using geckodriver"
## System
* Version: geckodriver-v0.19.1-win64
* Platform: Windows 10
* Firefox: Firefox Quantum 58.0 (64-bit)
* Selenium: 3.8.1

## Testcase
[code]

## Stacktrace
[code]

## Trace-level log

[2018-01-25 14:49] shreyanshp opened #1144 "Unable to click on Radio button - Headless mode"
## System
* Version: 0.19.1
* Platform:  Linux 16.04 Server and Linux 17.04 Desktop
* Firefox: 57.0.4
* Selenium: 3.0.7

## Testcase

https://www.w3schools.com/html/tryit.asp?filename=tryhtml_radio
Tried Clicking on radio button, but could not

![radio](https://user-images.githubusercontent.com/21307950/35394102-cdf0270e-020c-11e8-8b4a-d2a2ddd7a21c.png)

I use cucumber and selenium, so you can use

[2018-01-25 15:12] andreastt commented on #1143
This doesn’t seem like a bug with geckodriver.

[2018-01-25 15:12] #1143 closed

[2018-01-25 16:57] atomar09 commented on #1124
I do not exactly which framework this website is using.
But this time, I have provided the correct trace log where it shows the click event.

Could you please take a look?

[2018-01-25 23:51] java123code commented on #466
**@whimboo : Please note that preferences should preferable be set via the FirefoxOptions instance (part of capabilities) directly, and not through the profile instance.**

I did above approach but that is not helping me through Jenkins.

Thanks

[2018-01-26 07:23] whimboo commented on #466
@java123code without seeing any code or trace log I cannot tell what goes wrong.

[2018-01-26 07:25] whimboo commented on #1141
So what fails if you remove those two preferences? It would be great if you could check that, also because since 58 got released the 57.0.4 is no longer officially supported. A trace log of the failure would be great to have. Thanks.

[2018-01-26 10:36] whimboo commented on #1144
Sadly the above log is not a trace log as requested, so I cannot say much about what could have gone wrong. But I assume that you missed to switch into the `iFrame` before trying to retrieve the element. As such the `NoSuchElementError` is getting thrown because it's not part of the top-level browsing context, but the embedded frame.

[2018-01-26 10:38] whimboo commented on #660
@GianniGi please do not hi-jack closed issues. If there is a problem please raise it as a new issue and also add the trace level log, so that we could see what might gone wrong. Thanks.

[2018-01-26 10:45] shreyanshp commented on #1144
@whimboo ohh, apologies as this is my first time raising an issue here, the above url/html (https://www.w3schools.com/html/tryit.asp?filename=tryhtml_radio ) was an example I used to share the issue as the issue is generic for all radio inputs/buttons

To clarify again, I can click the radio button in normal mode using geckodriver-selenium on Firefox 57.0.4, but I am unable to click the same eleme

[2018-01-26 12:47] Eskampette commented on #1141
@whimboo, if I remove this 2 preferences, the Gecko Driver cannot connect to Firefox: initial problem reported on this ticket.

Here are the log / profile when running my tests against Firefox 58.0 (Same selenium / gecko driver version), and with the following preferences:

[code]
[plan-27100469-PRODCHROME-116.log](https://github.com/mozilla/geckodriver/files/1667711/plan-27100469-PRODCHROME-116.l

[2018-01-26 17:18] eireland commented on #1122
Windows>System32. I will retry my PATH variable again as my other Win setup
does not require geckodriver to be in the system folder.

On Fri, Jan 19, 2018 at 12:47 AM, Prime2310 <notifications@github.com>
wrote:

[2018-01-26 21:05] nddipiazza commented on #947
@andreastt @whimboo is this issue resolved in the latest dev build? Happy to try it out if you haven't yet.

[2018-01-26 22:15] Raju0556 commented on #875
public static void main(String[] args) {
		System.setProperty("webdriver.gecko.driver", "/home/raju/Downloads/geckodriver");
		WebDriver driver = new FirefoxDriver(); //Launches Firefox Browser with blank Url.
		//Create firefoxDriver object in WebDriver Interface.
		driver.get("http://docs.seleniumhq.org/");
		driver.findElement(By.linkText("HERE")).click();
		driver.quit();

Here is the full sta

[2018-01-29 00:31] pumba-lt opened #1145 "Certificate missing from custom profile with cert9.db/key4.db"
## System
* Version: 0.19.1
* Platform: Docker on Windows 10 FCU 64bit
* Firefox: Quantum 57.0.4 (64-bit)
* Selenium: Grid using `selenium/hub` and `selenium/node-firefox` containers

## Testcase

I have created 2 Firefox profiles, imported a (different) client certificate into each, and copied them into a Docker image that extends `selenium/node-firefox`. I run tests on both like this:

    Firef

[2018-01-29 11:38] kanchana1987 commented on #466
Same issue occur. I'm currently use Selenium V3.8.1 , TestNG V6.13.1 and Firefox V58.0.

[INFO]
[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running TestSuite

[TestNGContentHandler] [WARN] It is strongly recommended to add "<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >" at the t

[2018-01-29 11:55] soumyababy81 opened #1146 "Driver.close() behavior for main window and child window differs versus legacy firefox driver(v47)"
## System
* Version: 19/19.1
* Platform: Windows 10
* Firefox: Firefox v58 and Nightly build v59.0a1
* Selenium: 3.8.1

Scenario 1.
I have a page(main window) in which some changes are done and before submitting the changes for the page, I try to close the window using driver.close(). The browser is closed ignoring the alert (Leave page/Stay on Page). But if I try to use driver.quit, the warning/a

[2018-01-29 13:17] andreastt commented on #1146
The global modal dialogue “Are you sure you want to leave the page?” that appears if you try to close a document where you have modified a form control element is not supposed to be taken into consideration according to the [WebDriver standard](https://w3c.github.io/webdriver/webdriver-spec.html).

Note that WebDriver doesn’t have a `quit()` API like Selenium does,  but I’m assuming that is mapped

[2018-01-29 13:21] dewanprakash opened #1147 "no way to enable native events, while using geckodriver"
## System
* Version:  0.19.1
* Platform: Windows 7 Pro
* Firefox: 57.0.3 (32 bit)
* Selenium: Java + 3.8.1

## Testcase

We could do the required action, by enabling the flag on Firefox profile with Se 2.46 & FF 46.
FirefoxProfile profile = new FirefoxProfile();
profile.setEnableNativeEvents(true);

However, seems to be no longer available with geckodriver

[2018-01-29 13:24] andreastt commented on #1147
The WebDriver implementation for Firefox prior to 47 was maintained by the Selenium project, but the current implementation is by Mozilla and does not have native events.

[2018-01-29 13:24] #1147 closed

[2018-01-29 13:46] andreastt commented on #1146
The session is only deleted if there is _one_ window left open. It isn’t if you have two and one is closed.

[2018-01-29 14:07] soumyababy81 commented on #1146
Yes I have two windows opened, I need to close the second window which pops up the alert message and I need to handle alert and then come back to main window. The driver.close() tries to close the second window (session is not deleted) popping up the alert message and its hanging there without executing the subsequent calls. How to handle this?

[2018-01-29 15:21] lgrahl opened #1148 "Provide a way to set Firefox log options"
It's possible to set log levels for the geckodriver itself via `{"moz:firefoxOptions": {"log": {"level": "..."}}}` but there's no way to set specific log options for Firefox in a convenient manner.

I'd like to be able to set things such as the following logging options:

[code]

I could set those before running `geckodriver` but take the following scenario: I have a Selenium Grid and I want to ru

[2018-01-29 15:29] andreastt commented on #1148
The WebDriver standard does make it possible for Selenium Grid to define an [extension capability](https://w3c.github.io/webdriver/webdriver-spec.html#dfn-extension-capability) that could be used for passing on variables to the environment that runs geckodriver. Like you suggested, that might be a more generic solution than building it into each driver (and would also let you set things like `RUST

[2018-01-29 17:11] davehunt commented on #1148
Wouldn't this only solve the problem for Selenium Grid? What about other users that want to control the log levels of Firefox on a per session basis?

[2018-01-29 17:12] andreastt commented on #1148
They can presumably set it in their own environment. No special provisions need to be made if the Firefox instance runs on the local system.

[2018-01-29 17:44] pumba-lt commented on #1145
After further inspection, it looks like the `-profile` argument is ignored (I updated the title accordingly). Even if I pass `unauthorized-profile`, `about:profiles` shows `owner-profile` is in use.

[2018-01-29 20:58] pumba-lt commented on #1145
It looks like profiles using `cert8.db` and `key3.db` work, while `cert9.db` and `key4.db` do not.

[2018-01-29 21:34] Pilleo opened #1149 "some elements works as they should only with opened and activated window of firefox."
## System
* Version:
* Platform:
* Firefox:
* Selenium:

## Testcase
Dropdown with cities does not appears if the window is not active. After that selenium obviously canot find elements inside that dropdown. If you open that window and will actually see all the process with your eyes, than everything works as it should. It seems that firefox telling the page that it is not active now, and not all

[2018-01-29 22:24] jmcook74 commented on #466
Uh Oh, the solution didn't work for me. My sandbox content level is still appearing as 4 when I go into about:config on the Jenkins Instance (Windows 7 64bit)

It takes time to get code submitted and reviewed when you have a team that is across the globe.. This is my current code:
final FirefoxOptions firefoxOptions = new FirefoxOptions();

			ensureOneDriverInstance(Browser.GEKODRIVER_EXE_NAME);

[2018-01-30 02:13] andreastt commented on #1149
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-01-30 02:13] #1149 closed

[2018-01-30 07:52] soumyababy81 commented on #1146
Any thoughts on above points. Above scenario is taken care and working in legacy firefoxdriver(vFF47), so there should be a similar way for the latest gecko driver to handle. Let us know how to handle this and there should be a way to handle this.

[2018-01-30 08:21] whimboo commented on #1141
@Eskampette thanks a lot for the profile. It contained minidump files for the crashes you are experiencing when running the tests with multiple processes. Those can be found under the `minidumps` sub folder.

I uploaded them for crash analysis and here is what you experience:
https://crash-stats.mozilla.com/report/index/b3673df2-88d7-4f13-8ff4-d0d4b0180130#tab-details

This actually guides me to h

[2018-01-30 08:24] whimboo commented on #947
@nddipiazza it might be worth trying it again given that https://bugzilla.mozilla.org/show_bug.cgi?id=1391594 is fixed. Maybe that changed something. If you can add a comment on Bugzilla how it works or not for you now that would be great. Thanks.

[2018-01-30 08:32] davehunt commented on #1148
There are more options than local and grid. What about a remote server instance, or Docker?

[2018-01-30 08:34] whimboo commented on #466
@kanchana1987, you are experiencing a crash of Firefox while the test is running. Can you please check if the profile as created by geckodriver and listed in the log file, still exists after the test ended? If yes, I would be interested in the minidump files as listed under the `minidumps` folder.

[2018-01-30 08:35] whimboo commented on #466
@jmcook74 please have a look at my last message and try to do the same. Thanks.

[2018-01-30 08:37] whimboo commented on #1149
I think that this is a dupe of issue #906.

[2018-01-30 08:42] whimboo commented on #1146
@soumyababy81 can you please provide a trace level log we could have a look at? Instructions can be found here: https://firefox-source-docs.mozilla.org/testing/geckodriver/geckodriver/TraceLogs.html.

It's actually an interesting behavior.

[2018-01-30 08:59] whimboo commented on #875
Well, the actual problem of this issue is here:

Here a `quit` command is being sent, which doesn't exist for that particular version of Firefox. There is only `quitApplication`:

https://hg.mozilla.org/releases/mozilla-release/file/FIREFOX_53_0_3_RELEASE/testing/marionette/driver.js#l3004

As such the command returns an error.

The `quit` command got actually implemented via https://bugzilla.mozi

[2018-01-30 09:09] whimboo commented on #1145
This might be incompatibilities between different versions of Firefox. I don't really know when those databases got upgraded to a new version (and schema), but a newer version should be incompatible with an older release of Firefox. @mozkeeler should know more here.

Btw. which version of Firefox did you use while running the tests with `cert9.db` and `key4.db`?

[2018-01-30 09:15] whimboo commented on #1145
By querying Bugzilla I found https://bugzilla.mozilla.org/show_bug.cgi?id=783994. So if you have both of the new database files around, and use Firefox 57 or earlier, the certificates will not be used! So you would have to run your tests at least with Firefox 58, which has been released not that long ago.

@pumba-lt, can you confirm that this fixes your issue?

[2018-01-30 11:01] andreastt commented on #1148
I think in both those cases you have direct control over the environment?

My concern is that gluing propagation of environment variables on to capabilities specifically for one driver implementation will not solve all use cases and will cause ample confusion. Environment variables are not well understood by users and abstracting them on top of capabilities to communicate configuration for a narro

[2018-01-30 11:17] davehunt commented on #1148
No, not necessarily. I have the same concerns and opinions regarding environment variables, but I feel solving it just for Selenium Grid would more than likely cause more confusion and frustration, not less.

[2018-01-30 11:35] kam1sh opened #1150 "Input field with display: none is not interactable at all?"
## System
* Version: `geckodriver 0.19.1`
* Platform: `Linux 4.14.14-300.fc27.x86_64` (Fedora 27)
* Firefox: 58.0, installed from `@System` repo
* Selenium: `Selenium 3.8.0 for Python 3.6`, installed from PyPi/pip

## Testcase

HTML:
[code]
Python:
[code]

## Stacktrace
[code]

## Trace-level log

[code]

## Question
Is this really issue or in Firefox/geckodriver _this behavior is by design_? Beca

[2018-01-30 12:08] soumyababy81 commented on #1146
@whimboo I have attached two simple html pages which can be used for testing. As well below is the sample code for testing the attached html pages.

Sample code:
System.setProperty("webdriver.gecko.driver","C:\\Git\\geckodriver.exe");

		FirefoxOptions options = new FirefoxOptions();
		options.setLogLevel(FirefoxDriverLogLevel.TRACE);
		WebDriver driver = new FirefoxDriver(options);

	  	driver.ge

[2018-01-30 13:53] andreastt commented on #1148
Propagating environment variables is a task that only makes sense in the sort of distributed environment that Grid provides. With Docker you use `docker run -e FOO="bar"` to set environment variables for the container. A remote server instance is not dissimilar to Grid, in that they are both intermediary nodes. Perhaps it should apply to all intermediaries.

<hr>

Let me illustrate what I fear wil

[2018-01-30 13:54] andreastt commented on #1150
Since a user will not be able to interact with a hidden element, WebDriver doesn’t let you either. It sounds like this is a bug in Chrome.

[2018-01-30 13:54] #1150 closed

[2018-01-30 14:57] nddipiazza commented on #947
@whimboo i'm trying to read the bugzilla to find out what version this is fixed in. But I can't decipher it.

i'm on

[code]

are these recent enough? or is there a nightly build i should try?

[2018-01-30 17:14] dewanprakash opened #1151 ""quit" command doesn't handle alerts as raised by "onbeforeunload" event listeners"
## System
* Version: 0.19.1
* Platform: Windows 7 Pro
* Firefox: 57.0.1
* Selenium: java + 3.8.1

## Testcase

driver.quit() when called in a situation, where the application under test have unsaved changes - Firefox presents with the dialog to Leave/Stay on the page with unsaved changes. This halts the execution forever. The same gets gracefully cleaned up with chromedriver, i.e. browser close +

[2018-01-30 17:40] jmcook74 commented on #466
I will try that out today. I am going to see if I can get nightly to run on that VM as well.

[2018-01-30 19:56] pumba-lt commented on #1145
The profiles with `cert9.db` and `key4.db` were created on Firefox Quantum 58.0.1 (64 bit).
I tried to used them unsuccessfully in Selenium `node-firefox` which has Firefox Quantum 57.0.4 (64 bit).

I can't really test Firefox 58 before `node-firefox` builds with it.

[2018-01-30 19:57] atomar09 commented on #1124
It is also reproduced on one more website, again on the auto-complete list.

[2018-01-30 20:22] lgrahl commented on #1148
Feel free to close this if you two both agree that it's something that should be done in Selenium. I've opened an issue there as well (see above).

[2018-01-30 20:26] jmcook74 commented on #466
Logs don't say much of anything.
[firefoxLogs.txt](https://github.com/mozilla/geckodriver/files/1679226/firefoxLogs.txt)

log settings:
System.setProperty("webdriver.gecko.driver", Browser.GEKODRIVER_EXE_LOCATION);
System.setProperty(FirefoxDriver.SystemProperty.DRIVER_USE_MARIONETTE, "true");
System.setProperty(FirefoxDriver.SystemProperty.BROWSER_LOGFILE, "consoleLogs_Firefox.txt");
firefoxOptio

[2018-01-31 08:17] wangliandong commented on #1039
hi, my good great developers . could someone tell me a workaround to fix this issue ?

[2018-01-31 08:18] wangliandong commented on #646
hi, my good great developers . could someone tell me a workaround to fix this issue ?
great thanks to all of you folks.

[2018-01-31 08:19] mseele commented on #1039
@wangliandong executeJavaScript("arguments[0].scrollIntoView(true);", element); //$NON-NLS-1$

[2018-01-31 08:23] wangliandong commented on #1039
@mseele hi my nice brother. much thanks , but i found this did not work either.

[2018-01-31 08:51] wangliandong commented on #646
hello , anyone here to have a discussion ?

[2018-01-31 08:58] wangliandong commented on #646
@andreastt , hi , wonderful developer, could you please give some idea ?

[2018-01-31 08:59] wangliandong commented on #1039
@andreastt  hello , experienced developer. would you please give some more idea to fix ?

[2018-01-31 09:51] codingphil opened #1152 "WebElement.sendKeys() does not trigger focus event on Mac"
## System
* Version: 0.19.1
* Platform: MacOS High Sierra 10.13.2
* Firefox: 58.0.1 (64-bit)
* Selenium: 3.8.1 (Java)

## Testcase

The following JUnit test case **fails for Firefox on MacOS** because `WebElement.sendKeys()` does not trigger the focus event.
The test **succeeds** for Firefox 58 and Edge **on Windows** and also for **Chrome on MacOS**.
The test fails too with Firefox Nightly 60.0a1

[2018-01-31 10:11] danteg233 commented on #466
Hello guys, I've also got the same issue today. Tried run my test on Jenkins (windows server 2012 R2 standard). So here what I did:
1) I've tried a lot of combinations, this what I got at last (I know this might be incorrect, but still it works)
[code]
2) I've also tried a lot of build of Firefox.  `Firefox 58.0a1 nightly build` works for me. I'm not sure, but I tried `Firefox 60 something nightly

[2018-01-31 10:42] soumyababy81 commented on #1151
Use driver.close() before driver.quit(). driver.close() deletes the session without checking for the unsaved changes.

[2018-01-31 11:41] davehunt commented on #1148
Rather than allowing arbitrary environment variables, could we support additional capabilities, which are translated into the necessary environment variables? If there's only a handful, and they related specifically to Firefox, I think this could be maintainable.

I'm thinking, for example:

[code]

[2018-01-31 12:00] andreastt commented on #1152
I made some changes to focussing behaviour in https://bugzilla.mozilla.org/show_bug.cgi?id=1432864, but I wouldn’t expect this to cause `focus` _not_ to fire. Can you test with the very latest Nightly from yesterday/today and see if it is still a problem?

We have [a WPT test case for Element Send Keys](https://searchfox.org/mozilla-central/source/testing/web-platform/tests/webdriver/tests/element

[2018-01-31 14:11] dewanprakash commented on #1151
thanks for the response @soumyababy81 - however with that, i.e. driver.close() taking away the driver handle driver.quit() will throw exception, which one would have to catch and suppress.

[2018-01-31 14:33] aronaks commented on #299
@maztan could you tell me, have you found a way to save a temporary FF profile after FF is closed?

[2018-01-31 15:04] philipl-micro-focus commented on #1152
I already tested with Firefox Nightly 60.0a1 (2018-01-30) (64-bit) on MacOS and the test fails too for this FF version.

In the original issue description above I includes the test HTML page [testEventOrder2.html](https://github.com/mozilla/geckodriver/files/1680870/testEventOrder2-html.zip) with which the issue can be reproduced easily (just host it on localhost or on the file system).

[2018-01-31 16:51] codingphil commented on #1152
Maybe this is related/duplicate of https://github.com/mozilla/geckodriver/issues/906 ?

I found out that if I manually click on the browser window after it was started the focus event get fired.
This also affects the "select" event for the text field.

Maybe the geckodriver does not start Firefox so that it has the focus or the internal webdriver related code should not depend on the fact, that Fi

[2018-01-31 17:43] jmcook74 commented on #466
What does UNEXPECTED_ALERT_BEHAVIOUR resolve to? Same with DISMISS_AND_NOTIFY.

[2018-01-31 18:58] lucasmello opened #1153 "Version Matcher - Firefox and Geckodriver"
It would be nice to have a clear changelog to make it easier to know which Firefox versions work best with which Geckodriver version. I'm currently working on a project that automates the driver download [(driloader)](https://github.com/lucasmello/Driloader/) and we are able to get the Chromedriver version in [Chrome Release Notes](https://chromedriver.storage.googleapis.com/2.35/notes.txt) but it

[2018-01-31 19:11] viteshk92 opened #1154 "Failed to start browser C:\Program Files\Mozilla Firefox\firefox.exe: other os error"
## System
* Version: geckodriver-v0.19.1
* Platform: Win10-64bits
* Firefox: 58
* Selenium: 3.8.1

## Testcase

package FirstTestCase;

import org.openqa.selenium.WebDriver;
import org.openqa.selenium.firefox.FirefoxDriver;

public class TestCase {

	public static void main(String[] args) {

		String firefoxpath = "C:\\Users\\vitesh\\Desktop\\Selenium\\geckodriver-v0.19.1-win64\\geckodriver.exe";

[2018-02-01 05:12] danteg233 commented on #466
It's just specific conf for my project

[2018-02-01 05:19] jmcook74 commented on #466
I guess I can leave that line out then.

[2018-02-01 10:10] whimboo commented on #1154
This is a dupe of issue #940.

[2018-02-01 10:10] #1154 closed

[2018-02-01 10:13] whimboo commented on #940
This error could be visible if the executable of Firefox as specified can not be found. In case you are on a 64-bit Windows, make sure that you also have installed the 64-bit version of Firefox. Otherwise the installation folder will be found at: "C:/Program Files (x86)/Mozilla Firefox/".

[2018-02-01 10:16] viteshk92 commented on #940
ohk.. but it's downloaded in "C:/Program Files/Mozilla Firefox/".
firstly it was working fine..after few days i run the program so it showed me "**Other OS Error**"..
so what do you suggest?

[2018-02-01 11:04] whimboo commented on #1151
Thank you for filing this issue. I field https://bugzilla.mozilla.org/show_bug.cgi?id=1434872 to get this fixed for `quit`.

[2018-02-01 11:11] whimboo commented on #940
@viteshk92 please open a command shell on Windows and run the following command: `C:/Program Files/Mozilla Firefox/firefox.exe -console`. Then please attach all the log output of Firefox as new attachment to this issue. Thanks.

[2018-02-01 11:13] whimboo commented on #1145
Ok, so you will have to re-create the cert and key file with Firefox 57.0.4. Once Firefox 58 is available you should be able to just use it. An upgrade of those two files to the new data storage format will be performed automatically by Firefox.

I'm closing this issue now due to the fact that this is not a problem with geckodriver.

[2018-02-01 11:13] #1145 closed

[2018-02-01 11:15] viteshk92 commented on #940
![image](https://user-images.githubusercontent.com/35993751/35675748-408af84a-076f-11e8-836a-86ed0fbe83f5.png)

[2018-02-01 11:15] whimboo commented on #947
No, you need at least Firefox 58. Using 59 (beta) or 60 (nightly) might even be better because of other changes which could have affected that. I would appreciate feedback about Nightly.

[2018-02-01 11:15] viteshk92 commented on #940
showing blank in Firefox console

[2018-02-01 11:18] whimboo commented on #1152
geckodriver starts Firefox without the `-foreground` option. Can you please add that option to the `args` list inside of `moz:firefoxOptions` and check if that fixes your problem? In such a case we can mark this issue indeed as dupe of #906.

[2018-02-01 12:08] codingphil commented on #1152
Adding "--foreground" as commandline fixed it. Thanks!

[2018-02-01 12:30] aronaks commented on #299
i want to use moz:profile after calling driver.close(), how can i save it? For now when i call driver.close(), moz:profile's files are removed immediately

[2018-02-01 12:37] whimboo commented on #1152
Great. So closing as dupe of #906.

[2018-02-01 12:37] #1152 closed

[2018-02-01 12:40] whimboo commented on #299
@aronaks sorry, but your question is not related to this issue.

[2018-02-01 12:42] whimboo commented on #940
Does `-attach-console` change something? Does Firefox correctly start up?

[2018-02-01 12:42] zackw commented on #299
@aronaks Persistent profiles are #535, I think.

[2018-02-01 12:44] aronaks commented on #299
sorry, i will delete my comment

[2018-02-01 12:46] whimboo commented on #535
So this works already by using `args` of Firefox Options: https://github.com/mozilla/geckodriver/#mozfirefoxoptions

`To have geckodriver pick up an existing profile on the filesystem, you may pass ["-profile", "/path/to/profile"].`

But please note that there is still issue #1058 open.

[2018-02-01 12:46] #535 closed

[2018-02-01 12:48] zackw commented on #535
With #299 in mind, if you do that, will the existing profile survive after
`driver.quit()`?

[2018-02-01 13:00] aronaks commented on #535
**Steps to reproduce**:
1. Get a driver
2. Save a value from driver.capabilities[moz:profile] to a variable, e.g.
`path_to_profile='/var/folders/l4/qd_syjy16v38vxgsh551xzxmckxnb7/T/rust_mozprofile.wwLbOvL7RW9D'`
3. Call driver.close() or driver.quit()

**Expected result**: Check that the path to profile exists
**Actual result**: moz:profile's path has been removed after calling driver.close()

[2018-02-01 13:02] viteshk92 commented on #940
i tried once more it shows this in the screenshot below
![image](https://user-images.githubusercontent.com/35993751/35679777-436fb0f0-077e-11e8-88a0-1f3a4a83ee8e.png)

[2018-02-01 13:06] viteshk92 commented on #940
When i use -attach-console command firefox was able to start properly.. and doesn't show "unable to read VR path resigtry as shown in the screenshot as shown in the above comment..

[2018-02-01 13:16] viteshk92 commented on #940
now it's showing **"pipe error"** when i close the firefox and also its showing **"unable to read VR path resigtry"**.

![image](https://user-images.githubusercontent.com/35993751/35680224-bc7f4c16-077f-11e8-8323-4ee69821ca22.png)

[2018-02-01 13:52] soumyababy81 commented on #1146
@whimboo Any findings on above?

[2018-02-01 14:25] whimboo commented on #940
Ok, that looks fine. You don't have to worry about those warnings. Mind running the same, and with the additional `-marionette` option, and maybe also with `-profile %path%`. Maybe the %path% of the profile still exists, which was `C:\Users\vitesh\AppData\Local\Temp\rust_mozprofile.Ql337kYY5ATK` in your trace log on the other issue.

I wonder what's causing this I/O error.

[2018-02-01 14:30] maztan commented on #299
@aronax, C# code:

using OpenQA.Selenium.Firefox;
using OpenQA.Selenium.Remote;
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace ConsoleApplication1
{
class SeleniumFirefoxCopyProfile : OpenQA.Selenium.Firefox.FirefoxDriver
{
public static void copyProfileFolder(FirefoxDriver firefoxDriver, String detina

[2018-02-01 14:30] viteshk92 commented on #940
i tried and got no issue and firefox is working opening properly

[2018-02-01 14:48] viteshk92 commented on #940
it working now.. What i did is that i re-installed my fire-fox in Program files(x86) file path.

[2018-02-01 15:44] andreastt commented on #1153
This is documented in the [README](https://github.com/mozilla/geckodriver#supported-firefoxen) and the [change log](https://searchfox.org/mozilla-central/source/testing/geckodriver/CHANGES.md) does contain this information.

[2018-02-01 15:45] whimboo commented on #940
Ok, so given that you didn't specify the Firefox binary via the `moz:firefoxOptions` capability, the system default installation will be looked up. But as it looks like we fail here, because we do not care about `C:/Program Files/Mozilla Firefox/` bug only `C:/Program Files/Mozilla Firefox (x86)/`.

A better failure message should be available once https://bugzilla.mozilla.org/show_bug.cgi?id=1410

[2018-02-01 15:45] #940 closed

[2018-02-01 21:21] jmcook74 commented on #466
Log File:
[conoleLogs_Firefox.txt](https://github.com/mozilla/geckodriver/files/1687277/conoleLogs_Firefox.txt)

I attempted @danteg233 solution, but I still see the same issue. Here is what my implementation looks like: I removed the "UNEXPECTED" line as it does not apply to my solution.
DesiredCapabilities desiredCapabilities = DesiredCapabilities.firefox();
			final FirefoxOptions firefoxOption

[2018-02-01 23:37] choosebest commented on #1119
geckodriver : 0.18.0-win32
Platform: Windows 10
Firefox: 57.0 (64 bit)
Python 2.7.14
Robot Framework 3.0.2
wxPython 2.18.12.1 (unicode) for Python 2.7
RIDE 1.5.2.1.on Python2.7.14

*** Settings ***
Library           Selenium2Library

*** Test Cases ***
Open URL
    Open Browser    http://www.firefox.com    ff

Just open a web page on Windows 10, got the following error -
FAIL - SessionNotCreatedEx

[2018-02-02 03:11] danteg233 commented on #466
@jmcook74 Hm.. Have you tried to install `Firefox 58.0a1 nightly build` ? Or any other nightly builds?

[2018-02-02 04:29] jmcook74 commented on #466
I can try it on beta.
I ran the same test on nightly yesterday and the browser displays the "your browser has crashed" page.

[2018-02-02 05:06] soumyababy81 commented on #1146
@whimboo Happy to know that the bug is filed for first scenario. Please let us know if any findings on the second scenario - scenario explained with sample tests attached with stack trace?

[2018-02-02 08:33] barancev commented on #1011
`moz:webdriverClick` is true by default now, the issue can be closed.

[2018-02-02 08:33] #1011 closed

[2018-02-02 10:57] WarleyGabriel opened #1155 "Headless mode isn't working in Firefox"
## System
* Version: 0.19.1
* Platform: Linux
* Firefox version: 57.0.4
* WebdriverIO version: 4.10.1
* Node.js version: 5.6.0

## Testcase
When I use firefoxProfile for install the extension in browser, the headless mode isn't working.
The headless option is not present in the parameters.
I use the firefoxProfile to install the extension.
[code]

And the firefoxOptions is set headless mode.
[code

[2018-02-02 11:50] beluha opened #1156 "Geckodriver TakesScreenshot class method getScreenshotAs() creates broken image for page with opened local image file in Firefox"
## System
* Version: 3.7.1, 3.8.1
* Platform: Windows 7 64-bit
* Firefox: 57.0.4, 58.0.1 (64-bit)
* Selenium: 3.7.1, 3.8.1

## Testcase

<html>
    <head>
	    <meta name="viewport" content="width=device-width; height=device-height;">
		<link rel="stylesheet" href="resource://content-accessible/ImageDocument.css">
		<link rel="stylesheet" href="resource://content-accessible/TopLevelImageDocument.c

[2018-02-02 14:56] JohanLorenzo commented on #1116
I'm sorry for the delay. The procedure would be quite standard in the GPG world. In short, this would be:

# A. Init (do it once)

1. Install a gpg client on your target machine
1. Download the public key. You need the owner to communicate their public key directly, or you need them to upload the key on a server (like https://gpg.mozilla.org/) and tell you their fingerprint. The communication must

[2018-02-02 15:25] andreastt commented on #1156
And what is the actual output it returns?

[2018-02-02 15:28] andreastt commented on #1155
Your first capabilities object doesn’t contain `{"moz:firefoxOptions": {"args": ["-headless"]}}`, but only a profile, which explains why FIrefox isn’t started in headless mode.

This seems like a bug with your code or the client you are using?

[2018-02-02 17:01] mmanach commented on #962
Hi !

I faced again a similar (and strange) issue.

![image](https://user-images.githubusercontent.com/29480659/35744832-a6bab7ea-0841-11e8-983c-1dc6c16c5828.png)

On this element, the click just pop-up the aria-describedby "delete", when I run my test.
But when I run the same test on debug mode from IntelliJ, the click event works as expected, and the aria-describedby is not triggered.

So my fir

[2018-02-02 18:30] WarleyGabriel commented on #1155
Hi @andreastt, I have see this diference, but in two cases the code "moz:firefoxOptions":{"args":["-headless"]}, is implemented.
I think when I implemented the firefoxProfile, the firefoxOptions isn't working.

[2018-02-02 18:38] andreastt commented on #1155
OK, if you will attach a trace-level log we can tell which it is.

[2018-02-02 19:50] bloudraak commented on #1116
This is great for testing the authenticity of the download. Thanks!

On Windows, we’ll still need to sign the binary so Security products doesn’t prevent it from being executed. Are we keeping the issue open until the defect mentioned above is addressed and verified?

[2018-02-02 22:39] jmcook74 commented on #466
Console logs from today's nightly build:
[conoleLogs_Firefox.txt](https://github.com/mozilla/geckodriver/files/1691051/conoleLogs_Firefox.txt)

[2018-02-04 14:55] barry-scott opened #1157 "Second get() call hangs"
## System
* Version:  v0.19.1
* Platform: Linux
* Firefox: firefox-58.0.1-1.fc27.x86_64
* Selenium: 3.8.1

## Testcase

I have a python script that logs into a web site and after completing the login process it browses to a another page in the site using get(url).

profile is configured to save files to disk without prompting.

The get will result in a download that I see completes.
But the get()

[2018-02-05 09:29] beluha commented on #1156
This method ((TakesScreenshot) driver).getScreenshotAs(OutputType.FILE); returns null.

[2018-02-05 11:15] whimboo commented on #466
@jmcook74 can you please run with a debug build like https://queue.taskcluster.net/v1/task/D7EDDfuHTiWPtnP9bcb3eQ/runs/0/artifacts/public/build/target.zip? This will give way more information which would help me.

[2018-02-05 12:44] andreastt commented on #1156
Can you attach a trace-level log?

[2018-02-05 13:46] beluha commented on #1156
[Log.txt](https://github.com/mozilla/geckodriver/files/1695305/Log.txt)

[2018-02-05 13:46] Eskampette commented on #1141
**> Could you try to test with a recent Firefox 59 beta or even 60 Nightly?**
Last time we test it works with the nightly, without the specific preferences (c.f. [this comment](https://github.com/mozilla/geckodriver/issues/1141#issuecomment-359923331)).

It doesn't work with the beta.

**> Are you using any AV software which could interfere here?**
No, I don't think so, but I will speak with our a

[2018-02-05 14:17] Drillan767 opened #1158 "Behat + Selenium + GeckoDriver -> issue when launching Firefox, shows blank"
## System
* Version: 0.19.1
* Platform: Windows 8.1
* Firefox: 58.0.1
* Selenium: 3.8.1 (what is a bind in this context?)

## Testcase

**behat.yml**

[code]

**test.feature**

[code]

**FeatureContext.php**

[code]

## Stacktrace

**stacktrace from selenium standalone server + gecko**

(both selenium standalone server and geckodriver are in the current directory)

**Stacktrace from Behat console*

[2018-02-05 15:22] andreastt commented on #1158
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-02-05 16:55] Drillan767 commented on #1158
@andreastt Edited my question, I deeply hope this is what you're waiting for

[2018-02-05 20:24] jmcook74 commented on #466
[conoleLogs_Firefox.txt](https://github.com/mozilla/geckodriver/files/1696659/conoleLogs_Firefox.txt)
New dev edition downloaded and then I replaced all the guts with the zip file you sent. Just in case there was something missing.

[2018-02-05 22:26] whimboo commented on #466
@jmcook74 can you tell me what is happening with this build? I don't see a crash for that build but the message "DLL blocklist was unable to intercept AppInit DLLs" looks strange, as if another process running on your machine tries to inject a DLL into the Firefox process.

[2018-02-05 23:53] WarleyGabriel commented on #1155
I added the trace-level ``` "logging:level": "trace" ```, but it did not make a diference.

[code]

[2018-02-06 05:41] soumyababy81 commented on #1146
@whimboo any updates on this?

[2018-02-06 09:52] ambirag commented on #299
This issue is still happening
Geckodriver - 0.19.1
Selenium Webdriver 3.8.1
FF version: v57, Chrome v62
Setup: selenium grid
Framework: watir
OS: Ubuntu/AWS

Quit is being called at the end of browser session
Following files (hundreds of them) are being created in /tmp
tmpaddon*
rust_mozprofile.*
and within a week, it would be around 4GB in size.

Current workaround i am using in my selenium grid

[2018-02-06 11:10] rakeshkmr516 opened #1159 "Geckdriver(FIREFOX) issue WebDriverError: Unable to parse new session response using javascript language bindings"
## System
* Version: 1.10.0
* Platform:macOS 10.12.6
* Firefox: 58.0.1
* Selenium: 3.8.1

## Testcase
Launched the browser and navigate to Website
Code
const firefox = require('selenium-webdriver/firefox');
			options = new firefox.Options();
			//driver = driver.setFirefoxOptions(options);
			driver = new webdriver.Builder().withCapabilities(options.toCapabilities()).build();

## Stacktrace
WebDr

[2018-02-06 11:21] andreastt commented on #1159
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-02-06 11:26] rakeshkmr516 commented on #1159
WebDriverError: Unable to parse new session response: {"value": {"sessionId":"c55a8e2f-99c1-ae41-bc82-1e39a6dd3f41","capabilities":{"acceptInsecureCerts":false,"browserName":"firefox","browserVersion":"58.0.1","moz:accessibilityChecks":false,"moz:headless":false,"moz:processID":8511,"moz:profile":"/var/folders/r6/xqkgw_cj0vs_x5wmf_zhss2w0000gp/T/rust_mozprofile.V7xmEGfqm3xP","moz:webdriverClick":t

[2018-02-06 11:28] andreastt commented on #1159
That’s not a trace-level log (read more about it in [CONTRIBUTING.md](https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md)), but it looks like the problem here is that your Selenium client doesn’t understand the WebDriver conform return value from geckodriver.

Are you sure you’re using the latest Selenium client?

[2018-02-06 13:53] amit2rockon opened #1160 "Windows 10 +geckodriver 0.19 + python : directory to keep the geckodriver?"
Please mention the directory in windows os, where should i keep the geckodriver ? I am getting  message 'geckodriver' executable needs to be in PATH .  and in sys.platform ==win32,

[2018-02-06 13:54] andreastt commented on #1160
You can keep geckodriver in any directory you’d like, as long as that directory is included in the system path.

[2018-02-06 13:56] amit2rockon commented on #1160
by default where should i keep it so that it can generalised ?

[2018-02-06 14:00] andreastt commented on #1160
I don’t understand the question. You need to put it in a directory that is included in the system path list. See https://www.computerhope.com/issues/ch000549.htm for more info.

[2018-02-06 14:00] amit2rockon commented on #1160
Thanks :)

[2018-02-06 14:01] andreastt commented on #1160
On Unix you would typically modify the colon separated `PATH` environment variable, as such:

    % export PATH=/path/to/folder/including/geckodriver:$PATH
    % geckodriver
    Listening on 127:0.0.1:4040...

[2018-02-06 14:05] amit2rockon commented on #1160
i am not facing any problem with Unix but . even putting the driver in system directory it is giving the same error , os.path.basename(self.path), self.start_error_message)  selenium.common.exceptions.webdriverexception: Message: 'geckodriver' executable needs to be in PATH

[2018-02-06 15:05] rakeshkmr516 commented on #1159
Thank you @andreastt working with 3.6.0 and gecko 1.10.0 versions

[2018-02-06 15:05] #1159 closed

[2018-02-06 18:01] kirean commented on #1003
Was on geckodriver 0.16.0 and encountered this. Works fine with 0.19.1 for me.

[2018-02-06 19:35] craab220 opened #1161 "Script fails when triggered from other machine"
## System
* Version: 0.19.1
* Platform: Windows Server 2012 R2 Standard (64bit)
* Firefox: 58.0.1
* Splinter: 0.7.7

## Testcase
Script works fine when triggered by user locally or remotely logged onto host, but not when called from another machine.

from splinter import Browser
import time
browser = Browser('firefox', profile=r'C:\Users\user\AppData\Roaming\Mozilla\Firefox\Profiles\0r9gezm5.defau

[2018-02-07 03:25] camzzzz opened #1162 "Nothing happens when clicked on geckodriver.exe"
## System
* Version: 0.19.0
* Platform: Windows 10
* Firefox: 58.0.1 (64 bit)
* Selenium: 3.9

## Testcase

when I try to run geckodriver.exe, black screen appears and this is what I get:

1517973682027      geckodriver      INFO     geckodriver 0.19.1
1517973682036      geckodriver      INFO     Listening on 127.0.0.1:4444

after this, nothing happens...

[2018-02-07 03:45] nobism opened #1163 "Selenium webdriver.Firefox() selenium.common.exceptions.WebDriverException: Message: Process unexpectedly closed with status: 1"
I originally created this issue in Selenium but was directed to come here.

## Meta -
Platform: Raspberry Pi 3
OS:  Ubuntu 16.04 Classic Server
Selenium Version: 3.9.0
Geckodriver: 19.0.1 ARM7hf
Browser:  Firefox 58.0.1
Language: Python 3.5.2

## Expected Behavior -
Expect no exception.

## Actual Behavior -
Exception raised:

geckodriver.log

geckodriver.log (from Jenkins test, see below)

## Ste

[2018-02-07 04:14] cgoldberg commented on #1162
what are you expecting to happen?
It is listening and waiting for requests.

[2018-02-07 05:08] shankarkc opened #1164 "Gecko webdriver throws InvalidArgumentException (is not an array) when noProxy setting specified"
## System
* Version:
0.19.1
* Platform:
Linux and Windows(Hvent tested on MAC)
* Firefox:
57.0.4
* Selenium:
3.8.1

## Testcase
Refer attached zip. Update the java file with grid URL, http_proxy,https_proxy and no_proxy details
(..\testNGSelenium\src\test\java\com\javacodegeeks\testng\selenium\TestNGSeleniumSimpleSearchExample.java)
[testNGSelenium.zip](https://github.com/mozilla/geckodriver/files

[2018-02-07 10:50] andreastt commented on #1162
As Corey said, geckodriver is an HTTP server so you need to use an HTTP client to interact with it. Many clients that support geckodriver are found in Selenium.

[2018-02-07 10:50] #1162 closed

[2018-02-07 10:52] andreastt commented on #1164
Would it be possible for you to show the raw capabilities object you are passing to geckodriver?

Could you also please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-

[2018-02-07 11:16] andreastt commented on #1163
It looks to me like Firefox is crashing here and debugging that problem with the multitude of layers geckodriver and Selenium adds isn’t easy. Are you able to run Firefox successfully separately?

[2018-02-07 11:18] andreastt commented on #1161
Could you please attach a [trace-level log] from geckodriver? Read more about reporting actionable bugs in our [contribution guidelines].

[trace-level log]: https://searchfox.org/mozilla-central/source/testing/geckodriver/doc/TraceLogs.md
[contribution guidelines]: https://searchfox.org/mozilla-central/source/testing/geckodriver/CONTRIBUTING.md#reporting-bugs

[2018-02-07 11:52] nobism commented on #1163
Oops, I think I just pooped my OS installation by swapping the SD card with a different one. I'll reinstall it and get back to you..

[2018-02-07 12:14] shankarkc commented on #1164
Here is the code for the proxy object.
[code]
I will post the trace log tomorrow. I have attached maven project  zip file that you can refer... Using that you can reproduce the issue. Basically no_proxy is comma separated string.

[2018-02-07 12:16] shankarkc commented on #1164
Example values
[code]

[2018-02-07 13:22] andreastt commented on #1157
Is that the full trace-level log? You see no other entries after the `beforeunload` event gets logged?

Would you be able to attach a reproducible HTML document for which geckodriver doesn’t finish loading?

[2018-02-07 13:54] HardikModha commented on #1111
@whimboo I tried the latest nightly build version as suggested by you in [this comment](https://github.com/mozilla/geckodriver/issues/1125#issuecomment-356926571). That error is gone and now Firefox is able to visit all the URLs.

[2018-02-07 13:54] #1111 closed

[2018-02-07 13:56] HardikModha commented on #1125
@jrcosmo Hi, Did the nightly build work for you? I was facing the similar kind of error `Failed to decode response from marionette` and the latest nightly build worked for me. You can take a look at the [issue](https://github.com/mozilla/geckodriver/issues/1111)

[2018-02-07 19:21] jmcook74 commented on #466
The test is rerun if it fails the first time. I will remove that functionality and recapture logs. It will probably be tomorrow before I can do this as I need to run my full regression suite on our next production candidate.

[2018-02-07 20:13] craab220 commented on #1161
Script does not create geckodriver.log even after following setup instructions.

[2018-02-08 09:50] whimboo commented on #1111
@HardikModha would you mind also testing the latest 58 beta build? I would be interest if that works for you or not. You might not see the same as what has been reported on #1125.

[2018-02-08 09:52] whimboo commented on #1116
Yes, we keep it open until the bug is fixed.

[2018-02-08 09:53] whimboo commented on #1141
Please note that Nightly is always special and could have a different value for `security.sandbox.content.level`. You want to check that and then apply the same level to the profile when running with a beta build.

[2018-02-08 09:55] whimboo commented on #299
@ambirag would you mind attaching a trace level log when you see this problem? Make sure to clean-up the tmp directory before.

[2018-02-08 09:58] whimboo commented on #1119
@choosebest please don't hijack other ones issues. It's not clear if you see the same. So please file a new one and attach a trace level log. The above is a debug log only.

[2018-02-08 10:01] whimboo commented on #1161
Then it's a problem with the used binding or wrapper tool around Selenium. Talk with the maintainers of that tool in how to store a trace level log.

[2018-02-08 10:06] nobism commented on #1163
I get this when running `firefox` after `export DISPLAY=:0`:

[2018-02-08 10:07] whimboo commented on #466
@jmcook74 so I don't see a crash reported in that log, but I wonder about the upgrade message at the very beginning which should be an indicator that you are re-using a specific profile between different versions. That's something you might not wanna do. Can you please test again and let geckodriver create the profile for you?

[2018-02-08 10:07] whimboo commented on #1157
This is just a dupe of issue #1065.

[2018-02-08 10:07] #1157 closed

[2018-02-08 10:10] whimboo commented on #1164
NO_PROXY needs to be a list of strings, and not a string.

Also see https://github.com/SeleniumHQ/selenium/issues/5004.

[2018-02-08 10:10] #1164 closed

[2018-02-08 10:12] whimboo commented on #1163
You want `DISPLAY=:99 firefox`, right?

[2018-02-08 10:15] nobism commented on #1163
@whimboo Thanks for the reply, same error.

[2018-02-08 10:17] whimboo commented on #1159
`darwin` is not an allowed platform name but `mac` is. I assume because of that the creation of the new session fails.

[2018-02-08 10:20] whimboo commented on #1160
Please also see issue #177 in how to set it through Selenium directly.

Also you haven't given any source code in how you are trying to run the test. There is nothing else we can tell unless you offer that.

[2018-02-08 10:24] amit2rockon commented on #1160
Thanks for your response sir,  @marco-c has helped me in resolving this problem.

[2018-02-08 11:11] purohitsr opened #1165 "getting SocketTimeoutException: Read timed out on running my test .it is intermittent . same"
## System
* Version:
* Platform:
* Firefox:
* Selenium:

## Testcase

## Stacktrace

## Trace-level log

[2018-02-08 12:11] shankarkc commented on #1164
@whimboo... But proxy object does not take string array as its input. It just takes a string. In that case how can one pass multiple strings? Here is the class definition
https://seleniumhq.github.io/selenium/docs/api/java/org/openqa/selenium/Proxy.html

[2018-02-08 12:17] shankarkc commented on #1164
Here is the source code of set method
[code]
How can I pass list of strings to this method? How csv values work fine on chrome browser and fail on Firefox?

[2018-02-08 12:21] HardikModha commented on #1111
Sure. I'll test it and will let you know the results. Just confirming, You are talking about this build right? https://www.mozilla.org/en-US/firefox/58.0beta/releasenotes/

[2018-02-08 12:54] Eskampette commented on #1141
@whimboo, do you want me to test and attach the log / profile?

[2018-02-08 14:05] #1165 closed

[2018-02-08 15:55] nesk opened #1166 "Move the sessionId property to the top level in responses"
## System
* Version: 0.19.1
* Platform: macOS 10.13.2
* Firefox: 58.0.1
* Selenium: _Not using it_

## Testcase

Run the web driver:

[code]

Start a new session:

[code]

The response contains:

[code]

While the specification states:

<blockquote>
<p>Let <var>body</var> be a JSON Object initialised with:</p>
<dl>
<dt><code>sessionId</code></dt>
<dd><var>session id</var></dd>
<dt><code>capabiliti

[2018-02-08 15:56] andreastt commented on #1166
You are likely expecting the response format to be the Selenium JSON wire protocol, but geckodriver implements the [WebDriver standard](https://w3c.github.io/webdriver/webdriver-spec.html).

[2018-02-08 15:56] #1166 closed

[2018-02-08 16:01] nesk commented on #1166
@andreastt I forgot to link the specification, but my citation comes from the WebDriver standard, the same document you linked: https://w3c.github.io/webdriver/webdriver-spec.html#new-session

And it states that the `sessionId` property should be at top level. Chrome and Safari drivers already do that.

[2018-02-08 16:15] nesk commented on #1166
Okay, I've didn't see that, my bad. 😅

[2018-02-08 16:21] andreastt commented on #1166
I somewhat suspect that the driver implementations for Chrome and Safari are not conforming to the WebDriver protocol yet.